<div id="index" class="tab-pane fade in active">
    <div class="title-head">
        <h4>FAQ</h4>
        <p>Hieronder vind u veel voorkomende vragen die u wellicht kunnen helpen bij het beantwoorden van uw vraag of het oplossen van een probleem.
            Wanneer u er met deze veel voorkomende vragen niet uitkomt, kunt u een ticket aanmaken waarin u uw vraag of probleem kunt omschrijven.</p>
    </div>
    <div id="faqs">
        <div class="input-group">
            <input type="text" class="search form-control" placeholder="Zoeken in FAQ's" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <div class="panel-group list" id="accordion">
            {% for faq in faqs %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#faq-{{ faq.id }}">
                            <p class="panel-title">{{ faq.name }}</p>
                        </a>
                    </div>
                    <div id="faq-{{ faq.id }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{ faq.answer }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>