<div class="column-title">
    <h4>Ticketdetails</h4>
</div>
<hr>
<div>
    <p>Aangemaakt: {{ ticket.createdAt|date("Y-M-d") }}</p>
    <p>Laatste update: {{ ticket.updatedAt|date("Y-M-d") }}</p>
    <p>Status: {{ ticket.statusString|trans }}</p>
    <p>Prioriteit: {{ ticket.priorityString|trans }}</p>
    <p>Toegewezen: {{ ticket.assignedTo }}</p>
</div>
<hr>