<div class="column-title">
    <h4>Tickets</h4>
</div>
{% if tickets is defined %}
<div style="display: flex;">
    <div class="ticket-list">
        {% for ticket in tickets|slice(0,4) %}
            <div class="col-md-12 col-sm-12 col-xs-12 ticket-item">
                <a href="{{ path('app_user_ticket_details', {id: ticket.id})  }}" class="tab-btn ticket-item-tab">
                    <span class="ticket-state status-success">
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="hidden-sm hidden-md ticket-id ticket-id-success">#{{ ticket }}</span>
                    <span class="ticket-title">{{ ticket.subject }}</span>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% if tickets|length > 4 %}
<a class="more-tickets">Meer tickets <i class="fa fa-angle-double-down"></i></a>
{% elseif tickets|length == 0 %}
<div class="ticket-options">
    <p>Er zijn nog geen support tickets.</p>
</div>
{% endif %}
{% endif %}
<hr>
<div class="left-col-btn">
    <a href="#newticket" class="tab-btn">
        Ticket aanmaken
    </a>
</div>
<hr>