<div id="index" class="tab-pane fade in active">
    <div class="page-title col-lg-12 no-padding">
        <div class="title-head" >
            <div class="col-sm-5 tab-title no-padding">
                <h4>{{ ticket.subject }}</h4>
                <p>Ticket ID: {{ ticket }}</p>
            </div>
            <div class="col-sm-7 no-padding">
                <div class="tab-options">
                    <a href="{{ path('app_account_support') }}" class="tab-btn print">
                        <i class="fa fa-print"></i>
                    </a>
                    <a href="{{ path('app_account_support') }}" class="tab-btn">
                        <i class="fa fa-mail-forward"></i>
                    </a>
                    <a href="{{ path('app_account_support') }}" class="tab-btn">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="{{ path('app_account_support') }}" class="tab-btn">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <ol class="chat-box">
            {% for message in ticket.messages if message.message %}
                {% if previousDate is not defined %}
                    {% set previousDate = message.createdAt %}
                    <div class="timeline">{{ previousDate|date("d-m-Y") }}</div>
                {% else  %}
                    {% if previousDate|date('d-m') != message.createdAt|date('d-m') %}
                        {% set previousDate = message.createdAt %}
                        <div class="timeline">{{ previousDate|date("d-m-Y") }}</div>
                    {% endif %}
                {% endif %}
            <li class="{% if message.createdBy == app.user %}client{% else %}support{% endif %}">
                <div class="avatar-icon">
                    <img src="{{ vich_uploader_asset(app.user, 'imageFile')  ? vich_uploader_asset(app.user, 'imageFile') : '/images/user/dr-profile-pic.png' }}">
                </div>
                <div class="messages msg-{% if message.createdBy == app.user %}client{% else %}support{% endif %}">
                    <p>{{ message.message }}</p>
                </div>
                <time datetime="{{ message.createdAt|date("H:i") }}">{{ message.createdAt|date("H:i") }}</time>
            </li>
            {% endfor %}
        </ol>
    </div>
    <div>
        <div id="new-message-form" style="float:left; width: 100%;">
            {{ form_start(message_form) }}
            <div class="form-group {{ message_form.message.vars.valid ? '':'has-error' }}">
                {{ form_label(message_form.message) }}
                {{ form_widget(message_form.message) }}
                {{ form_errors(message_form.message) }}
            </div>

            {{ form_widget(message_form.submit) }}
            {{ form_end(message_form) }}
        </div>
    </div>
</div>