{% for flashMessage in app.session.flashbag.get('success') %}
toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": true,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "6500",
        "extendedTimeOut": "3000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "slideDown",
        "hideMethod": "slideUp",
        "onClick": null
    };
    toastr["success"]('{{ flashMessage|raw }}', 'Actie voltooid');
{% endfor %}
{% for flashMessage in app.session.flashbag.get('info') %}
toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": true,
            "showDuration": "300",
            "hideDuration": "1000",
            "extendedTimeOut": "3000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "slideDown",
            "hideMethod": "slideUp",
            "onClick": null,
{% if flashMessage.timestamp is not defined %}
{% if flashMessage != 'firstLogin' %}
            "timeOut": "6500",
        };
        toastr["info"]('{{ flashMessage|raw }}', 'Actie voltooid');
{% else %}
            "timeOut": "15000",
        };
        toastr["info"]('U maakt nu gebruik van dit systeem!', 'Welkom bij Digirent!');
{% endif %}
{% else %}
{% if flashMessage|date('d/m/y') == 'now'|date('d/m/y') %}
{% set lastLogin = ' vandaag om: ' ~ app.user.previousLogin|date('H:i') ~ '.' %}
{% else %}
{% set lastLogin = 'op : ' ~ app.user.previousLogin|date('d-m-y') ~ ' om ' ~ app.user.previousLogin|date('H:i') ~ '.' %}
{% endif %}
            "timeOut": "6500",
        };
        toastr["info"]('Uw vorige bezoek was {{ lastLogin }}','Welkom terug {{ app.user.firstname|capitalize }}!');
{% endif %}
{% endfor %}
{% for flashMessage in app.session.flashbag.get('warning') %}
toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": true,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5500",
            "extendedTimeOut": "3000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "slideDown",
            "hideMethod": "slideUp",
            "onClick": null
        };
        toastr["warning"]('{{ flashMessage|raw }}', 'Actie voltooid');
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": true,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": 5000,
            "extendedTimeOut": 0,
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "slideDown",
            "hideMethod": "slideUp",
            "onClick": null
        };
        toastr["error"]('{{ flashMessage|raw }}', 'Er heeft zich een probleem voorgedaan.');
{% endfor %}