<!DOCTYPE html>
<html lang="nl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock %}
<title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets filter='cssrewrite' output='css/app_base.css'
            'css/bootstrap.css'
            'bundles/bmatznerfontawesome/css/font-awesome.min.css'
            '@effra_font_css'
            '@app_base_css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="bg-sub">
   {% block body %}{% endblock %}
</body>
{% block javascripts %}
    {% javascripts output='js/dashboard_main.js'
    '@jquery'
    '@bootstrap_js'
    %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}
</html>