<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="">
    <meta name="author" content="Uniq Group">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets filter='cssrewrite' output='css/app_dashboard.css'
        'css/bootstrap.css'
        '@toastr_css'
        'bundles/bmatznerfontawesome/css/font-awesome.min.css'
        '@effra_font_css'
        '@app_base_css'
        '@app_extend_css'
        '@sidemenu_css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div id="wrapper" class="wrapper menu-open">
    <nav class="navbar-top border-bottom" role="navigation">
        <div class="navbar-header main hidden-xs">
            <a class="navbar-brand" href="{{ path('app_account_profile' ) }}">
                <img class="image-cirlce" src="{{ vich_uploader_asset(app.user, 'imageFile')  ? vich_uploader_asset(app.user, 'imageFile') : '/bundles/user/img/dr-profile-pic.png' }}" alt="Profile image - {{ app.user }}" width="48px" height="48px" />
                <div class="user-details">
                    <a href="{{ path('app_account_profile') }}" class="user">{{ app.user }}</a>
                    <a href="{{ path('app_company_profile') }}" class="company">{{ app.user.company }}</a>
                </div>
            </a>
        </div>
        <div class="nav-top">
            <ul class="nav navbar-left hidden-lg hidden-md hidden-sm">
                <li class="tooltip-sidebar-toggle">
                    <a href="#" id="sidebar-toggle" data-toggle="tooltip" data-effect="st-effect-3" data-placement="right" title="Toggle menu zijkant">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
            </ul>
            <div class="logo-container">
                <a href="{{ path('core_index') }}">
                    <img src="{{ asset('bundles/dashboard/img/digi-rent-dashboard-logo.svg') }}" class="dr-logo" alt="digi-rent logo dashboard" />
                </a>
            </div>
            {{ knp_menu_render('topmenu', {'template': 'CoreBundle:Menu:top_menu.html.twig'}) }}
        </div>
    </nav>
    <div class="st-pusher">
        <nav class="navbar-side st-menu st-effect-3 menu-open" id="menu-3" role="navigation">
            <div class="navbar-collapse sidebar-collapse">
                <!-- search menu -->
                <div id="sb-search" class="sb-search-open">
                    <form>
                        <input class="sb-search-input" placeholder="Overal zoeken..." type="text" value="" name="search" id="search">
                        <input class="sb-search-submit" type="submit" value="">
                            <span class="dr-search border-right">
                                <i class="fa fa-search"></i>
                            </span>
                    </form>
                </div>
                {{ knp_menu_render('sidemenu', {'currentClass': 'active', 'template': 'CoreBundle:Menu:side_menu.html.twig'}) }}
            </div>
        </nav>
        <div id="page-wrapper" class="st-content">
            <div class="page-content" style="padding: 0 !important; margin: 0 !important;">
                <div class="row" style="
                    background-color: #ebedef;
                    margin:0 !important;
                    padding:20px 0 0 0 !important;">
                    <div class="col-xs-12" style="padding-left: 25px; padding-bottom: 0;">
                        <div class="page-title">
                            <h1>{% block currentPage %}{% endblock %}</h1>
                        </div>
                    </div>
                    {% block noSubmenu %}
                    <div class="tabmenu">{% block submenu %}{% endblock %}</div>
                    {% endblock %}
                </div>
                <div class="content-container">
                {% block body %}
                    <div class="row content-row">
                    {% block leftColumn %}{% endblock leftColumn %}
                    {% block rightColumn %}{% endblock rightColumn %}
                    {% block tableColumn %}{% endblock tableColumn %}
                    </div>
                {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-flex fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="flexModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="flexModalLabel">{% block modalTitle %}{% endblock %}</h4>
            </div>
            <div class="modal-body">
                {% block modalText %}{% endblock %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-md" data-dismiss="modal">Nee</button>
                {% block modalAction %}{% endblock %}
            </div>
        </div>
    </div>
</div>
</body>
{% block javascripts %}
    {#TODO not all javascripts have to be loaded here, only the ones who are required on every page#}
    {% javascripts output='js/dashboard_main.js'
    '@jquery'
    '@bootstrap_js'
    '@sidemenu_js'
    '@toastr_js'
    '@datatables_js'
    '@slimscroll_js'
    '@multiselect_js'
    '@summernote_js'
    '@moment_js'
    'bundles/fosjsrouting/js/router.js'
    'js/fos_js_routes.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        {% if app.debug %}
        Routing.setBaseUrl('/app_dev.php');
        {% endif %}

        {% if app.session.flashbag.peekAll()|length %}
        {% include 'App/app_flash.html.twig' %}
        {% endif %}

        $(function() {
            $('#inboxScroll, #messageScroll').slimScroll({
                height: '200px',
                alwaysVisible: true,
                disableFadeOut: true,
                touchScrollStep: 50
            });
        });

        //Tooltips
        $(function() {
            // Tooltips for sidebar toggle and sidebar logout button
            $('.tooltip-sidebar-toggle').tooltip({
                selector: "[data-toggle=tooltip]",
                container: "body"
            })

        });

        //Easing Script for Smooth Page Transitions
        $(function() {
            $('.page-content').addClass('page-content-ease-in');
        });
    </script>
{% endblock %}
</html>