{% extends "@User/App/user_base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    '@app_account_css'
    '@multiselect_css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block leftColumn %}
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 tab-column-left">
{% include '@Support/Support/includes/leftTickets.html.twig' %}
</div>
{% endblock leftColumn %}
{% block rightColumn %}
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 tab-content tab-column-right">
{% include 'SupportBundle:Support/includes:FAQs.html.twig' %}
{% include '@Support/Support/includes/rightNewTicket.html.twig' %}
</div>
{% endblock rightColumn %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts output='js/support.js'
        '@list_js'
        '@multiselect_js'
        'js/bootstrap_tab.js'
        'js/support_page.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
    <script type="text/javascript">

        var options = {
            valueNames: [ 'panel-title' ]
        };

        var userList = new List('faqs', options);

        userList.on('updated', function(list) {
            if (list.matchingItems.length == 0) {
                searchTerm = $('input.search').val();
                noItems = $('<a class="tab-btn" href="#newticket?subject='+searchTerm.replace(/\s/g,"%20")+'" id="no-items-found">Geen FAQ gevonden, maak een ticket aan over: ' + searchTerm + '</a>');
                $(list.list).append(noItems);
            } else {
                noItems.detach();
            }
        });
    </script>
{% endblock %}