{% extends ':Web:web_base.html.twig' %}
{% block about %}
    {% include('PageBundle:Blocks:about.block.twig') %}
{% endblock %}
{% block features %}
    {% include('PageBundle:Blocks:features.block.twig') %}
{% endblock %}
{% block betaForm %}
    {% include('PageBundle:Blocks:betaRegistration.block.twig') %}
{% endblock %}
{#{% block pricing %}#}
    {#{% include('PageBundle:Blocks:pricing.block.twig') %}#}
{#{% endblock %}#}