<div class="column-title">
    <h4>Producten</h4>
</div>
{% if categoryTree is empty  %}
  <div class="col-md-12 col-sm-12 col-xs-12">
      <p>Geen categorieën gevonden, <a href="{{ path('app_catalog_category_new') }}">maak eerst een categorie aan</a>.</p>
  </div>
{% else %}
  <div class="col-md-12 col-sm-12 col-xs-12">
      <p>Selecteer een categorie waaraan u een product wilt toevoegen.</p>
      <hr>
  </div>
  <div class="col-md-6 col-md-push-6">
      <div class="input-group">
          <input type="text" class="search form-control" id="input-search" placeholder="Zoek categorie">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="btn-clear-search"><i class="fa fa-times"></i>
            </button>
        </span>
      </div>
      <hr>
      <div class="search-result"></div>
  </div>
  <div id="tree" class="treeview col-md-6 col-md-pull-6"></div>
{% endif %}