<div class="portlet-body">
    <ul id="productsTabs" class="nav nav-tabs">
        <li class="no-padding-left">
            <a href="#activated" data-toggle="tab">Actief</a>
        </li>
        <li>
            <a href="#archived" data-toggle="tab">Gearchiveerd</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade" id="activated">
            <div class="portlet-body">
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered table-hover table-blue dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th><input type="checkbox" name="select_all" value="1"></th>
                            <th><i class="fa fa-link"></i> Naam</th>
                            <th>Artikel nr.</th>
                            <th>Prijs Ex.</th>
                            <th>Beschikbare voorraad</th>
                            <th>Laatst gewijzigd</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            {% if product.archived == 0 %}
                                <tr>
                                    <td><a href="{{ path('app_catalog_product_archive', {'id': product.id}) }}"><i class="fa fa-archive"></i></a></td>
                                    <td><a href="{{ path('app_catalog_product_edit', {'id': product.id}) }}">{{ product.name }}</a></td>
                                    <td>{{ product.sku }}</td>
                                    <td>€ {{ product.priceEx }}</td>
                                    <td>{{ product.physicalProducts|length }} stuk(s)</td>
                                    <td>
                                        {{ product.updatedAt|date("d/m/Y") }}
                                        {% if date(product.createdAt)|date("d/m/Y") == "now"|date("d/m/Y") %}
                                            <span class="label green">Nieuw!</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="archived">
            <div class="portlet-body">
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered table-hover table-blue dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th><input type="checkbox" name="select_all" value="1" /></th>
                            <th><i class="fa fa-link"></i> Naam</th>
                            <th>Artikel nr.</th>
                            <th>Prijs Ex.</th>
                            <th>Laatst gewijzigd</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            {% if product.archived == 1 %}
                                <tr>
                                    <td>
                                        <a href="{{ path('app_catalog_product_delete', {'id': product.id}) }}"><i class="fa fa-trash-o"></i></a>
                                        <a href="{{ path('app_catalog_product_activate', {'id': product.id}) }}"><i class="fa fa-check"></i></a>
                                    </td>
                                    <td><a href="{{ path('app_catalog_product_edit', {'id': product.id}) }}">{{ product.name }}</a></td>
                                    <td>{{ product.sku }}</td>
                                    <td>€ {{ product.priceEx }}</td>
                                    <td>
                                        {{ product.updatedAt|date("m/d/Y") }}
                                        {% if date(product.createdAt)|date("m/d/Y") == "now"|date("m/d/Y") %}
                                            <span class="label green">Nieuw!</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>