<div class="column-title">
    <h4>Laatst 5 toegevoegde producten</h4>
</div>
<div class="table-responsive">
    <table class="table table-striped dataTable">
        <thead>
        <tr>
            <th><i class="fa fa-link"></i> Titel</th>
            <th><i class="fa"></i> Artikel nummer</th>
            {#<th><i class="fa fa-link"></i> Categorie</th>#}
            <th><i class="fa fa-link"></i> Datum/Tijd</th>
        </tr>
        </thead>
        <tbody>
        {% if products is empty  %}
            <tr class="odd">
                <td valign="top" colspan="5" class="dataTables_empty">Geen resultaten aanwezig in de tabel</td>
            </tr>
        {% else  %}
            {% if products|length < 5 %}
                {% set productLength = products|length-1 %}
            {% else %}
                {% set productLength = 4 %}
            {% endif %}
            {% for i in 0..productLength if products|length %}
                <tr>
                    <td><a href="{{ path('app_catalog_product_edit', {'id': products[i].id}) }}">{{ products[i].name }}</a></td>
                    <td>{{ products[i].sku }}</td>
                    {#<td><a href="{{ path('app_catalog_category_edit', {'id': products[i].category.id}) }}">{{ products[i].category }}</a></td>#}
                    <td>{% if products[i].updatedAt|date('dmy') == "today"|date('dmy') %}
                            {{ products[i].updatedAt|date('H:i') }}
                        {% else %}
                            {{ products[i].updatedAt|date('d-m-y') }}
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>