{% extends '@Email/app_base.email.twig' %}
{% block from -%}{{ user.email }}{%- endblock %}
{% block subject -%}Welkom bij Digi-rent.nl - Bevestig je e-mailadres.{%- endblock %}
{% block includes %}
    {% include '@Email/modules/header.module.twig' %}
    {% include '@Email/modules/user/registration/accountConfirmation.module.twig' %}
    {% include '@Email/modules/user/registration/accountDetails.module.twig' %}
    {#{% include '@Email/modules/footer.module.twig' %}#}
{% endblock %}
