{% extends '@Email/app_base.email.twig' %}
{% block from -%}{{ user.email }}{%- endblock %}
{% block subject -%}Digi-rent.nl - Wachtwoord vergeten.{%- endblock %}
{% block includes %}
    {% include '@Email/modules/header.module.twig' %}
    {% include '@Email/modules/user/resetting/accountResetting.module.twig' with {'url':  url , 'actionName': 'Reset wachtwoord'} %}
    {% include '@Email/modules/social.module.twig' %}
    {#{% include '@Email/modules/footer.module.twig' %}#}
{% endblock %}
