{% extends '@Email/app_base2.email.twig' %}
{% block from -%}{{ user.email }}{%- endblock %}
{% block subject -%}Digi-rent.nl - Uw account details.{%- endblock %}
{% block includes %}
    {% include '@Email/modules/header2.module.twig' %}
    {% include '@Email/modules/user/registration/accountConfirmation2.module.twig' %}
    {% include '@Email/modules/user/registration/accountDetails2.module.twig' with {'url':  url , 'actionName': 'Ga naar account'} %}
    {% include '@Email/modules/support.module.twig' %}
    {% include '@Email/modules/footer2.module.twig' %}
{% endblock %}
