{% extends '@Email/app_base.email.twig' %}
{% block from -%}{{ user.email }}{%- endblock %}
{% block subject -%}{{ app_name }} - account hersteld.%- endblock %}
{% block includes %}
    {% include '@Email/modules/header.module.twig' %}
    {% include '@Email/modules/user/resetting/accountResettingSuccess.module.twig' %}
    {% include '@Email/modules/social.module.twig' %}
    {#{% include '@Email/modules/footer.module.twig' %}#}
{% endblock %}
