{% extends '@Email/app_base.email.twig' %}
{% block from -%}info@digi-rent.nl{%- endblock %}
{% block subject -%}Digi Rent - Update{%- endblock %}
{% block includes %}
    {% include '@Email/modules/header.module.twig' %}
    {% if context == 'onBetaRegistrationSuccess' %}
            {% include '@Email/modules/admin/betaRegistration.module.twig' %}
    {% elseif context == 'onBetaConfirmationSuccess' %}
            {% include '@Email/modules/admin/betaConfirmation.module.twig' %}
    {% elseif context == 'onRegistrationSuccess' %}
            {% include '@Email/modules/admin/accountRegistration.module.twig' %}
    {% elseif context == 'onConfirmationSuccess' %}
            {% include '@Email/modules/admin/accountConfirmation.module.twig' %}
    {% else  %}
        {% include '@Email/modules/admin/betaConfirmation.module.twig' %}
    {% endif %}

    {#{% include '@Email/modules/footer.module.twig' %}#}
{% endblock %}
