{% extends '@Email/app_base.email.twig' %}
{% block from -%}{{ user.email }}{%- endblock %}
{% block subject -%}Digi-rent.nl - Béta registratie{%- endblock %}
{% block includes %}
    {% include '@Email/modules/header.module.twig' %}
    {% include '@Email/modules/user/beta/betaRegistration.module.twig' with {'url':  url , 'actionName': 'Bevestig emailadres'} %}
    {#{% include '@Email/modules/social.module.twig' %}#}
    {#{% include '@Email/modules/footer.module.twig' %}#}
{% endblock %}
