{% extends "@Catalog/Default/catalog_base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    '@app_account_css'
    '@datetimepicker_css'
    'css/treeview.css'
    '@switch_css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block leftColumn %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 tab-column-left">
        {% include '@Category/includes/leftCategories.html.twig' %}
    </div>
{% endblock leftColumn %}
{% block rightColumn %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 tab-column-right">
        {% include '@Category/includes/rightLast5Categories.html.twig' %}
    </div>
{% endblock rightColumn %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts output='js/account.js'
    'js/bootstrap_tab.js'
    'js/moment.js'
    'js/treeview.js'
    'js/datetimepicker.js'
    '@switch_js'
    %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
    <script>
        $( document ).ready(function() {
            $(function() {
                var $searchableTree = $('#tree').treeview({
                    data: {{ categoryTree | json_encode | raw }},
                    enableLinks: true,
                    showTags: true,
                    onSearchCleared: function(){
                        $('#tree').treeview('collapseAll', { silent: true })
                    }
                }).treeview('collapseAll', { silent: true });

                var search = function(e) {
                    var pattern = $('#input-search').val();
                    var options = {
                        ignoreCase: true,
                        exactMatch: false,
                        revealResults: true
                    };
                    var results = $searchableTree.treeview('search', [ pattern, options ]);

                    var product = '';

                    if(results.length == 0 && $('#input-search').val() != ''){
                        var route = "{{ path('app_catalog_category_new', {'name': "PLACEHOLDER" }) }}";
                        product += '<p>Geen resultaten, <a href="'+route.replace("PLACEHOLDER", pattern)+'">voeg ' + pattern +' toe.</a><p><hr>';
                    }else{
                        if(results.length < 3){
                            $.each(results, function (index, result) {
                                console.log(result);
                                if(result.href == undefined){
                                    result.href = '#';
                                }
                                var separator = results.length > 1 && results.length -1 != index ? ' / ' : '<hr>';
                                product += '<a href='+result.href+' class="btn btn-primary btn-md" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip on top" style="margin-top: 5px;">' + result.text + '</a>' + separator ;
                            });
                        }else{
                            product += '<p>' + results.length + ' ' +(results.length >= 2 || results.length == 0 ? 'categorieeën' : 'categorie')+ '<p><hr>';
                        }
                    }
                    $('div.search-result').html(product);
                };

                $('#input-search').on('keyup', search);
                $('#btn-clear-search').on('click', function (e) {
                    clearSearch();
                });

                var clearSearch = function(){
                    $searchableTree.treeview('clearSearch');
                    $('#input-search').val('');
                    $('div.search-result').html('');
                };

                // Show messages
                {% for flashMessage in app.session.flashbag.get('success') %}
                Messenger.options = {
                    extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
                    theme: 'flat'
                };
                Messenger().post({
                    message: '{{ flashMessage|raw }}',
                    id: "Only-one-message",
                    type: 'success',
                    showCloseButton: true
                });
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('failed') %}
                Messenger.options = {
                    extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
                    theme: 'flat'
                };
                Messenger().post({
                    message: '{{ flashMessage|raw }}',
                    id: "Only-one-message",
                    type: 'error',
                    showCloseButton: true
                });
                {% endfor %}

            });
        });
    </script>
{% endblock %}