{% extends "App/app_base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    filter='cssrewrite'
        '@app_login_css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <style type="text/css">

        .error-container{
            padding-bottom: 40px;
        }

        .error-message{
            background-color: #e9eded;
            line-height: 22px;
            padding: 10px;
        }

        .error-message > span{
            display: inline-block;
            vertical-align: middle;
            color: #849595;
            font-family: "Effra-regular", arial, sans-serif;
            font-size: 14px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-4 login-form">
                <img src="{{ asset('bundles/user/img/digi-rent-logo-login.svg') }}" alt="Digi-rent logo" class="login-logo" />
                <div class="login-form-section">
                    <div class="login-content animated bounceIn" data-animation="bounceIn">
                        <!-- start login form -->
                        {% block fos_user_content %}
                        {% if error %}
                        <div class="row error-container">
                            <div class="col-xs-6 col-sm-6 col-md-8 col-xs-offset-3 col-sm-offset-3 col-md-offset-2 error-message">
                                <span><i class="fa fa-info-circle"></i> &nbsp;
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                </span>
                            </div>
                        </div>
                        {% endif %}
                        <form action="{{ path(app.request.get('_route')~'_check') }}" method="post">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-8 col-xs-offset-3 col-sm-offset-3 col-md-offset-2 input-group">
                                <label for="username" class="login-icon"><i class="fa fa-user icon"></i></label>
                                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control transparent-input" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" />
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-8 col-xs-offset-3 col-sm-offset-3 col-md-offset-2 input-group">
                                <label for="password" class="login-icon"><i class="fa fa-key icon"></i></label>
                                <input type="password" id="password" name="_password" required="required" class="form-control transparent-input" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" />
                            </div>

                            <div class="col-xs-6 col-sm-6 col-md-8  col-xs-offset-3 col-sm-offset-3 col-md-offset-2 input-group remember-me">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-8 col-xs-offset-3 col-sm-offset-3 col-md-offset-2 input-group submit-form">
                                <input type="submit" id="_submit" class="main" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        </div>
                        </form>
                        {% endblock fos_user_content %}
                        <!-- end login form -->
                    </div>
                </div>
            </div>
            <div class="hidden-xs hidden-sm col-md-8 login-image">
                <div class="img-responsive">
                    <div class="post-inner text-center" style="background:url({{ asset('bundles/user/img/dr_promo_screen_1.jpg') }}); background-size: cover; ">
                        <div class="post-content text-left">
                            <h1 class="post-title">Wist u dat van elk fysiek product, de activeiten te volgen zijn?</h1>
                            <div class="post-entry">
                                <a href="#" target="_blank">Lees meer...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}