{% extends "App/app_dashboard.html.twig" %}
{% block currentPage %}BEDRIJF{% endblock %}
{% block submenu %}
    {{ knp_menu_render('company_submenu', {'currentClass': 'active', 'template': 'CoreBundle:Menu:sub_menu.html.twig'}) }}
{% endblock %}
{% block leftColumn %}
{% endblock %}
{% block rightColumn %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts output='js/warehouse.js'
    'js/bootstrap_tab.js'
    'js/support_page.js'
    '@datatables_js'
    %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
    <script type="text/javascript">
    </script>
{% endblock %}