{% extends "@Company/company_base.html.twig" %}
{% block leftColumn %}
    <div class="col-xs-12 col-sm-12">
        Er was eens een hele lap tekst met daarin nogmeer onzin dan dat je ooit voor ogen had kunnen houden!
        {#{% include '@Warehouse/includes/leftWarehouses.html.twig' %}#}
    </div>
{% endblock %}