{% extends "@Company/company_base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    '@app_account_css'
    '@datetimepicker_css'
    '@switch_css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block leftColumn %}
<form action="{{ path('app_company_profile') }}" {% if form is defined %}{{ form_enctype(form) }}{% endif %} method="POST" class="company_profile_edit">
    {{ form_start(form) }}
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 tab-column-left">
        {% include '@Company/includes/leftProfile.html.twig' %}
    </div>
    {% endblock leftColumn %}
    {% block rightColumn %}
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 tab-content tab-column-right">
        {% include '@Company/includes/rightProfileIndex.html.twig' %}
    </div>
    {{ form_end(form) }}
</form>
{% endblock rightColumn %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts output='js/account.js'
    'js/bootstrap_tab.js'
    'js/moment.js'
    'js/datetimepicker.js'
    '@switch_js'
    %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
    {#{{ form_javascript(form.dayofbirth) }}#}
    <script type="text/javascript">
        $(function() {
            $("a[href='#image']").click(function(e) {
                e.preventDefault();
                $("input[id='company_profile_imageFile_file']").click();
                console.log('clicked');
            });

//            $("input#fos_user_profile_form_newsletter").bootstrapSwitch({
//                size: "normal",
//                onText: "Ja",
//                offText: "Nee",
//                onSwitchChange: function(event, state) {
//                    event.preventDefault();
//                    return console.log(state, event.isDefaultPrevented());
//                }
//            })
        });
    </script>
    <script type="text/javascript">
        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="add_tag_link">Add a addressType</a>');
        var $newLinkLi = $addTagLink;

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('div.addresses');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });
        });

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }
    </script>
{% endblock %}
