{% extends "@Catalog/Default/catalog_base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    '@app_account_css'
    '@datetimepicker_css'
    '@switch_css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block leftColumn %}
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 tab-column-left">
    </div>
    {% endblock leftColumn %}
    {% block rightColumn %}
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 tab-content tab-column-right">
    </div>
{% endblock rightColumn %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts output='js/account.js'
    'js/bootstrap_tab.js'
    'js/moment.js'
    'js/datetimepicker.js'
    '@switch_js'
    %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
    {#{{ form_javascript(form.dayofbirth) }}#}
    <script type="text/javascript">
        $(function() {
            $("a[href='#image']").click(function(e) {
                e.preventDefault();
                $("input[id='company_profile_imageFile_file']").click();
                console.log('clicked');
            });

//            $("input#fos_user_profile_form_newsletter").bootstrapSwitch({
//                size: "normal",
//                onText: "Ja",
//                offText: "Nee",
//                onSwitchChange: function(event, state) {
//                    event.preventDefault();
//                    return console.log(state, event.isDefaultPrevented());
//                }
//            })
        });
    </script>
{% endblock %}
