{% block from %}{% endblock %}
{% block body %}
    <!doctype html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
          xmlns:o="urn:schemas-microsoft-com:office:office">
    <head>
        <!-- NAME: 1 COLUMN -->
        <!--[if gte mso 15]>
        <xml>
            <o:OfficeDocumentSettings>
                <o:AllowPNG/>
                <o:PixelsPerInch>96</o:PixelsPerInch>
            </o:OfficeDocumentSettings>
        </xml>
        <![endif]-->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block subject %}{% endblock %}</title>
        <style type="text/css">
            p {
                margin: 10px 0;
                padding: 0;
            }

            table {
                border-collapse: collapse;
            }

            h1, h2, h3, h4, h5, h6 {
                display: block;
                margin: 0;
                padding: 0;
            }

            img, a img {
                border: 0;
                height: auto;
                outline: none;
                text-decoration: none;
            }

            img.no-showy{
                display:none !important;
            }
            img.showy{
                height: 100% !important;
                width: 100% !important;
            }

            body, #bodyTable, #bodyCell {
                height: 100%;
                margin: 0;
                padding: 0;
                width: 100%;
            }

            #outlook a {
                padding: 0;
            }

            img {
                ms-interpolation-mode: bicubic;
            }

            table {
                mso-table-lspace: 0;
                mso-table-rspace: 0;
            }

            .ReadMsgBody {
                width: 100%;
            }

            .ExternalClass {
                width: 100%;
            }

            p, a, li, td, blockquote {
                mso-line-height-rule: exactly;
            }

            a[href^=tel], a[href^=sms] {
                color: inherit;
                cursor: default;
                text-decoration: none;
            }

            p, a, li, td, body, table, blockquote {
                -ms-text-size-adjust: 100%;
                -webkit-text-size-adjust: 100%;
            }

            .ExternalClass, .ExternalClass p, .ExternalClass td, .ExternalClass div, .ExternalClass span, .ExternalClass font {
                line-height: 100%;
            }

            a[x-apple-data-detectors] {
                color: inherit !important;
                text-decoration: none !important;
                font-size: inherit !important;
                font-family: inherit !important;
                font-weight: inherit !important;
                line-height: inherit !important;
            }

            #bodyCell {
                padding: 10px;
            }

            .templateContainer {
                max-width: 600px !important;
            }

            a.mcnButton {
                display: block;
            }

            .mcnImage {
                /*hoi*/
                vertical-align: bottom;
            }

            .mcnTextContent {
                word-break: break-word;
            }

            .mcnTextContent img {
                height: auto !important;
            }

            .mcnDividerBlock {
                table-layout: fixed !important;
            }

            body, #bodyTable {
                background-color: #FAFAFA;
            }

            #bodyCell {
                border-top: 0;
            }

            .templateContainer {
                border: 0;
            }

            h1 {
                color: #202020;
                font-family: Helvetica;
                font-size: 26px;
                font-style: normal;
                font-weight: bold;
                line-height: 125%;
                letter-spacing: normal;
                text-align: left;
            }

            h2 {
                color: #202020;
                font-family: Helvetica;
                font-size: 22px;
                font-style: normal;
                font-weight: bold;
                line-height: 125%;
                letter-spacing: normal;
                text-align: left;
            }

            h3 {
                color: #202020;
                font-family: Helvetica;
                font-size: 20px;
                font-style: normal;
                font-weight: bold;
                line-height: 125%;
                letter-spacing: normal;
                text-align: left;
            }

            h4 {
                color: #202020;
                font-family: Helvetica;
                font-size: 18px;
                font-style: normal;
                font-weight: bold;
                line-height: 125%;
                letter-spacing: normal;
                text-align: left;
            }

            #templatePreheader {
                background-color: #FAFAFA;
                background-image: none;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                border-top: 0;
                border-bottom: 0;
                padding-top: 9px;
                padding-bottom: 9px;
            }

            #templatePreheader .mcnTextContent, #templatePreheader .mcnTextContent p {
                color: #656565;
                font-family: Helvetica;
                font-size: 12px;
                line-height: 150%;
                text-align: left;
            }

            #templatePreheader .mcnTextContent a, #templatePreheader .mcnTextContent p a {
                color: #656565;
                font-weight: normal;
                text-decoration: underline;
            }

            #templateHeader {
                background-color: #FFFFFF;
                background-image: none;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                border-top: 0;
                border-bottom: 0;
                padding-top: 9px;
                padding-bottom: 0;
            }

            #templateHeader .mcnTextContent, #templateHeader .mcnTextContent p {
                color: #202020;
                font-family: Helvetica;
                font-size: 16px;
                line-height: 150%;
                text-align: left;
            }

            #templateHeader .mcnTextContent a, #templateHeader .mcnTextContent p a {
                color: #2BAADF;
                font-weight: normal;
                text-decoration: underline;
            }

            #templateBody {
                background-color: #FFFFFF;
                background-image: none;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                border-top: 0;
                border-bottom: 2px solid #EAEAEA;
                padding-top: 0;
                padding-bottom: 9px;
            }

            #templateBody .mcnTextContent, #templateBody .mcnTextContent p {
                color: #202020;
                font-family: Helvetica;
                font-size: 16px;
                line-height: 150%;
                text-align: left;
            }

            #templateBody .mcnTextContent a, #templateBody .mcnTextContent p a {
                color: #2BAADF;
                font-weight: normal;
                text-decoration: underline;
            }

            #templateFooter {
                background-color: #FAFAFA;
                background-image: none;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                border-top: 0;
                border-bottom: 0;
                padding-top: 9px;
                padding-bottom: 9px;
            }

            #templateFooter .mcnTextContent, #templateFooter .mcnTextContent p {
                color: #656565;
                font-family: Helvetica;
                font-size: 12px;
                line-height: 150%;
                text-align: center;
            }

            #templateFooter .mcnTextContent a, #templateFooter .mcnTextContent p a {
                color: #656565;
                font-weight: normal;
                text-decoration: underline;
            }

            @media only screen and (min-width: 768px) {
                .templateContainer {
                    width: 600px !important;
                }

            }

            @media only screen and (max-width: 480px) {
                body, table, td, p, a, li, blockquote {
                    -webkit-text-size-adjust: none !important;
                }

            }

            @media only screen and (max-width: 480px) {
                body {
                    width: 100% !important;
                    min-width: 100% !important;
                }

                #bodyCell {
                    padding-top: 10px !important;
                }

                .mcnImage {
                    width: 100% !important;
                }

                .mcnCartContainer, .mcnCaptionTopContent, .mcnRecContentContainer, .mcnCaptionBottomContent, .mcnTextContentContainer, .mcnBoxedTextContentContainer, .mcnImageGroupContentContainer, .mcnCaptionLeftTextContentContainer, .mcnCaptionRightTextContentContainer, .mcnCaptionLeftImageContentContainer, .mcnCaptionRightImageContentContainer, .mcnImageCardLeftTextContentContainer, .mcnImageCardRightTextContentContainer {
                    max-width: 100% !important;
                    width: 100% !important;
                }

                .mcnBoxedTextContentContainer {
                    min-width: 100% !important;
                }

                .mcnImageGroupContent {
                    padding: 9px !important;
                }

                .mcnCaptionLeftContentOuter .mcnTextContent, .mcnCaptionRightContentOuter .mcnTextContent {
                    padding-top: 9px !important;
                }

                .mcnImageCardTopImageContent, .mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent {
                    padding-top: 18px !important;
                }

                .mcnImageCardBottomImageContent {
                    padding-bottom: 9px !important;
                }

                .mcnImageGroupBlockInner {
                    padding-top: 0 !important;
                    padding-bottom: 0 !important;
                }

                .mcnImageGroupBlockOuter {
                    padding-top: 9px !important;
                    padding-bottom: 9px !important;
                }

                .mcnTextContent, .mcnBoxedTextContentColumn {
                    padding-right: 18px !important;
                    padding-left: 18px !important;
                }

                .mcnImageCardLeftImageContent, .mcnImageCardRightImageContent {
                    padding-right: 18px !important;
                    padding-bottom: 0 !important;
                    padding-left: 18px !important;
                }

                .mcpreview-image-uploader {
                    display: none !important;
                    width: 100% !important;
                }

                h1 {
                    font-size: 22px !important;
                    line-height: 125% !important;
                }

                h2 {
                    font-size: 20px !important;
                    line-height: 125% !important;
                }

                h3 {
                    font-size: 18px !important;
                    line-height: 125% !important;
                }

                h4 {
                    font-size: 16px !important;
                    line-height: 150% !important;
                }

                .mcnBoxedTextContentContainer .mcnTextContent, .mcnBoxedTextContentContainer .mcnTextContent p {
                    font-size: 14px !important;
                    line-height: 150% !important;
                }

                #templatePreheader {
                    display: block !important;
                }

                #templatePreheader .mcnTextContent, #templatePreheader .mcnTextContent p {
                    font-size: 14px !important;
                    line-height: 150% !important;
                }

                #templateHeader .mcnTextContent, #templateHeader .mcnTextContent p {
                    font-size: 16px !important;
                    line-height: 150% !important;
                }

                #templateBody .mcnTextContent, #templateBody .mcnTextContent p {
                    font-size: 16px !important;
                    line-height: 150% !important;
                }

                #templateFooter .mcnTextContent, #templateFooter .mcnTextContent p {
                    font-size: 14px !important;
                    line-height: 150% !important;
                }
            }
        </style>
    </head>
    <body style="height: 100%;margin: 0;padding: 0;width: 100%;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FAFAFA;">
    <center>
        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable"
               style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;height: 100%;margin: 0;padding: 0;width: 100%;background-color: #FAFAFA;">
            <tr>
                <td align="center" valign="top" id="bodyCell"
                    style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;height: 100%;margin: 0;padding: 10px;width: 100%;border-top: 0;">
                    <!-- BEGIN TEMPLATE // -->
                    <!--[if gte mso 9]>
                    <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
                        <tr>
                            <td align="center" valign="top" width="600" style="width:600px;">
                    <![endif]-->
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer"
                           style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;border: 0;max-width: 600px !important;">
                        {% block includes %}{% endblock %}
                    </table>
                    <!--[if gte mso 9]>
                    </td>
                    </tr>
                    </table>
                    <![endif]-->
                    <!-- // END TEMPLATE -->
                </td>
            </tr>
        </table>
    </center>
    </body>
    </html>
{% endblock %}