<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.
w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
        body {width: 100%!important; margin: 0; padding: 0;background-color:#f4f4f5;}
        #outer-table {margin:0;padding:0;background-color:#d0d2d3;min-height:100%;width:100%;}
        #header {background-color:#373737;}
        #header p {font-size:11px; margin-bottom:5px; margin-top:5px; color:#dddccc;}
        #header #logo-cell {color:#505050;font-family:Helvetica;font-size:20px;font-weight:bold;line-height:100%;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;text-align:left;vertical-align:middle;}
        #mandrill-logo {border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none;max-width:600px;display:block;}
        #logo-link {display:block;}
        #content-table {background-color:#f4f4f5;}
        #content-main {background-color:#ffffff;border-radius:3px;border:1px solid #ccc; padding:10px 20px 30px 20px; border-collapse:separate;}
        #chart-container {padding-bottom:25px;}
        #logo-container {padding-top:15px; padding-bottom:15px;}
        #links-container {padding-bottom:15px;}
        .button {display:inline-block; width:auto; margin:0 auto; padding:10px 20px; background-color:#00a3d1; border:1px solid #0288b4; border-radius:3px; color:#ffffff; text-decoration:none; width:250px; text-align:center;
        font-family:Helvetica, Arial, sans-serif; font-weight:bold; text-transform:
        capitalize;}
        .h1 {display: block;font-family:Helvetica, Arial, sans-serif;font-size: 24px;font-style: normal;font-weight: bold;line-height: 100%;letter-spacing: normal;margin-top: 20px;margin-right: 0;margin-bottom: 0;margin-left:0; padding-bottom:5px}
        .h2 {display: block;font-family:Helvetica, Arial, sans-serif;font-size: 20px;font-style: normal;font-weight: bold;line-height: 100%;letter-spacing: normal;margin-top: 20px;margin-right: 0;margin-bottom: 15px;margin-left: 0;text-align: left;}
        .h3 {color:#404041;display: block;font-family:Helvetica, Arial, sans-serif;font-size: 16px;font-style: normal;font-weight: bold;line-height: 100%;letter-spacing: normal;margin-top: 20px;margin-right: 0;margin-bottom:0;margin-left: 0;text-align: left;}
        .p {margin-bottom:30px;color:#404041;font-family:Helvetica, Arial,sans-serif;font-size:15px;line-height:20px;text-align:left}
        .stat {font-size:28px; font-weight:normal; color:#148ac0;}
        .stat-secondary {font-size:14px; font-weight:200; color:#404041;}
        .stat-secondary img {margin-right:3px; margin-left:3px}
        .stat-label{font-size:14px; font-weight:bold; color:#414141;}
        .updates {border-top:1px solid #cccccc; margin-top:10px;}
        #content-secondary {padding-top:10px;}
        .full-width {width:100%;}
        .bottom15 {padding-bottom:15px;}
        a.no-dec {text-decoration:none;}
        .center {text-align:center;}
        .midsize {padding-left:60px; padding-right:60px;}
        table {border-collapse:collapse;}
        #content-main td {text-align:left;}
        td {border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;}
        a {color: #0D7CAD;font-weight: normal;text-decoration: underline;}
        img{max-width:100%;}
        img.icon {position:relative; top:2px;}
        #footer-outer {background-color:#f4f4f5;}
        #footer-content-main {padding-top:20px}
        #footer-content-main p {padding-bottom:60px;color:#808184;font-family:Helvetica;font-size:11px;line-height:150%;margin-top:0;}
        #footer a {color:#808184;}
        #footer-content .h3 {font-size:14px;}
        .template-container {width:600px;}
        .template-column-container {width:50%;}
        #stats-container .template-column-container {padding-bottom:25px;}
        ul {padding-left:20px;}
        tr .template-column-container:first-child {padding-right:20px}
        @media only screen {
            .stat {
                font-size:36px !important;
            }
            .stat-secondary {
                font-size:16px !important;
            }
            .stat-label {
                font-size:16px !important;
            }
        }
        @media only screen and (max-width: 640px){
            table[class="template-container"]{
            max-width:600px !important;
            width:100% !important;
        }
            .midsize {
                padding-right:0 !important;
                padding-left:0 !important;
            }
        }
        @media only screen and (max-width: 400px){
            .template-column-container {
                display:block !important;
                width:100% !important;
                padding-right:0 !important;
            }
            .stat {
                font-size:36px !important;
            }
            .stat-secondary {
                font-size:16px !important;
            }
            .stat-label {
                font-size:16px !important;
            }
        }
    </style>
</head>
<body style="width:100%;margin:0;padding:0;background-color:#f4f4f5;">
<center>
    <table id="outer-table" border="0" cellpadding="0" cellspacing="0"height="100%" width="100%" style="margin:0;padding:0;background-color:#d0d2d3;min-height:100%;width:100%;border-collapse:collapse;">
        <tbody>
            <tr>
                <td align="center" valign="top" style="border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;">
                        <tbody>
                            <tr>
                                <td align="center" valign="top" style="border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;">
                                <table id="header" border="0" cellpadding="2" cellspacing="0" width="100%" style="background-color:#373737;border-collapse:collapse;">
                                <tbody>
                                    <tr>
                                        <td align="center" valign="top" style="border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;">
                                        <table class="template-container" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;width:600px;">
                                <tbody>
                                <tr>
                                <td style="border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;">
        <table id="content-table" border="0" cellpadding="10" cellspacing="0" width="100%" style="background-color:#f4f4f5;border-collapse:collapse;">
        <tbody>
        <tr>
            <td align="center" valign="top" style="padding-bottom:0;border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;">
            <table class="template-container" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;width:600px;">
        <tbody>
        <tr>
            <td id="logo-container" align="center" valign="top" style="padding-top:15px;padding-bottom:15px;border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;">
            <a href="=" id="logo-link" style="display:block;color:#0D7CAD;font-weight:normal;text-decoration:underline;">
                <img id="mandrill-logo" src="https://cdn-images.mailchimp.com/mandrill/email/mandrill-logo-stacked.png" alt="Mandrill" width="122" height="84" style="border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none;max-width:600px;display:block;" />
            </a>
            </td>
        </tr>
        </tbody>
        </table>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;">
        <table id="content-main"class="template-container" border="0" cellpadding="0" cellspacing="0" style="background-color:#ffffff;border-radius:3px;border:1px solid #ccc;padding:10px 20px 30px 20px;border-collapse:separate;width:600px;">
        <tbody>
        <tr>
            <td valign="top" id="content" style="text-align:left;border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;">
            <span class="h1" style="display:block;font-family:Helvetica, Arial, sans-serif;font-size:24px;font-style:normal;font-weight:bold;line-height:100%;letter-spacing:normal;margin-top:20px;margin-right:0;margin-bottom:0;margin-left:0;padding-bottom:5px;">
                Account activity for March 21 - March 27
            </span>
                <span class="p bottom" style="margin-bottom:30px;color:#404041;font-family:Helvetica, Arial, sans-serif;font-size:15px;line-height:20px;text-align:left;">Your username: <strong>devtig</strong></span><br><br>
            </td>
        </tr>
        <tr>
            <td id="chart=-container" valign="top" style="padding-bottom:25px;text-align:left;border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;">
            <img src="http://cdn-ext.mandrill.com/images/email/activity/cHeq4E6YlOd5Wiyyz6ZiHA.png" alt="Weekly stats chart" style="max-width:100%;">
            </td>
        </tr>
        <tr>
            <td align="center" valign="top" style="text-align:left;border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;">
            <table id="stats-container" class="full-width" border="0" cellpadding="0" cellspacing="0" style="width:100%;border-collapse:collapse;">
                <tbody>
                <tr>
                <td valign="top" class="template-column-container" style="text-align:left;border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;width:50%;padding-bottom:25px;">
                    <span class="stat" style="font-size:28px;font-weight:normal;color:#148ac0;">5</span><br>
                    <span class="stat-label" style="font-size:14px;font-weight:bold;color:#414141;">Emails sent</span>
                </td>
                <td valign="top" class="template-column-container" style="text-align
                    :left;border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;width:50%;padding-bottom:25px;">
                    <span class="stat" style="font-size:28px;font-weight:normal;color:#148ac0;">100.0%</span><br>
                    <span class="stat-label" style="font-size:14px;font-weight:bold;color:#414141;">Delivery rate</span>

                </td>
                </tr>
                <tr>
                <td valign="top" class="template-column-container" style="text-align:left;border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;width:50%;padding-bottom:25px;">
                    <span class="stat" style="font-size:28px;font-weight:normal;color:#148ac0;">0.0%</span><br>
                    <span class="stat-label" style="font-size:14px;font-weight:bold;color:#414141;">Bounce rate</span>
                </td>
                <td valign="top" class="template-column-container" style="text-align:left;border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;width:50%;padding-bottom:25px;">
                    <span class="stat" style="font-size:28px;font-weight:normal;color:#148ac0;">0.000%</span><br>
                    <span class="stat-label" style="font-size:14px;font-weight:bold;color:#414141;">Complaint rate</span>
                </td>
                </tr>
                <tr>
                <td valign="top" class="template-column-container" style="text-align:left;border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;width:50%;padding-bottom:25px;">
                    <span class="stat" style="font-size:28px;font-weight:normal;color:#148ac0;">80.0%</span><br>
                    <span class="stat-label" style="font-size:14px;font-weight:bold;color:#414141;">
                        Open rate
                    </span>
                    <span class="stat-secondary" style="font-size:14px;font-weight:200;color:#404041;">
                        <img src="http://cdn-ext.mandrill.com/images/email/arrow-up-green.png" width="9" height="12" style="margin-right:3px;margin-left:3px;max-width:100%;" />
                        0.8%
                    </span>
                </td>
                <td valign="top" class="template-column-container" style="text-align:left;border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;width:50%;padding-bottom:25px;">
                    <span class="stat" style="font-size:28px;font-weight:normal;color:#148ac0;">0.0%</span><br>
                    <span class="stat-label" style="font-size:14px;font-weight:bold;color:#414141;">Click rate</span>
                </td>
                </tr>
                <tr>
                <td valign="top" class="template-column-container" style="text-align:left;border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;width:50%;padding-bottom:25px;">
                    <span class="stat" style="font-size:28px;font-weight:normal;color:#148ac0;">5</span><br>
                    <span class="stat-label" style="font-size:14px;font-weight:bold;color:#414141;">Sends this month</span><br>
                    <span>Last reset on March 25</span>
                </td>
                <td valign="top" class="template-column-container" style="text-align:left;border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;width:50%;padding-bottom:25px;">
                    <span class="stat" style="font-size:28px;font-weight:normal;color:#148ac0;">Unknown</span><br>
                    <span class="stat-label" style="font-size:14px;font-weight:bold;color:#414141;">Reputation</span>
                </td>
                </tr>
                </tbody>
            </table>
            </td>
        </tr>
        </tbody>
        </table>
        </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="footer-outer" style="border-collapse:collapse;background-color:#f4f4f5;">
        <tbody>
        <tr>
            <td align="center" valign="top" style="border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;">
            <table id="footer-content" class="template-container" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;width:600px;">
        <tbody>
        <tr>
            <td align="center" valign="top" style="border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;">
            <table id="links-container" class="full-width" border="0" cellpadding="0" cellspacing="0" style="padding-bottom:15px;width:100%;border-collapse:collapse;">
        <tbody>
        <tr>
        <td valign="top" width="50%" style="border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;">
        <span class="h3 center" style="color:#404041;display:block;font-family:Helvetica, Arial, sans-serif;font-size:14px;font-style:normal;font-weight:bold;line-height:100%;letter-spacing:normal;margin-top:20px;margin-right:0;margin-bottom:0;margin-left:0;text-align:center;">
            <img src="https://cdn-images.mailchimp.com/mandrill/email/icon-24-blog.png" class="icon" height="12" width="12" style="max-width:100%;position:relative;top:2px;">
            <a href="" class="no-dec" style="text-decoration:none;color:#0D7CAD;font-weight:normal;">Mandrill Blog</a>
        </span>
        </td>
        <td valign="top" width="50%" style="border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;">
        <span class="h3 center" style="color:#404041;display:block;font-family:Helvetica, Arial, sans-serif;font-size:14px;font-style:normal;font-weight:bold;line-height:100%;letter-spacing:normal;margin-top:20px;margin-right:0;margin-bottom:0;margin-left:0;text-align:center;">
            <img src="https://cdn-images.mailchimp.com/mandrill/email/icon-24-status.png" class="icon" height="12" width="12" style="max-width:100%;position:relative;top:2px;">
            <a href="" class="no-dec" style="text-decoration:none;color:#0D7CAD;font-weight:normal;">Status Page</a>
        </span>
        </td>
        </tr>
        <tr>
        <td valign="top" width="50%" style="border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;">
        <span class="h3 center" style="color:#404041;display:block;font-family:Helvetica, Arial, sans-serif;font-size:14px;font-style:normal;font-weight:bold;line-height:100%;letter-spacing:normal;margin-top:20px;margin-right:0;margin-bottom:0;margin-left:0;text-align:center;">
            <img src="https://cdn-images.mailchimp.com/mandrill/email/icon-24-docs.png" class="icon" height="12" width="12" style="max-width:100%;position:relative;top:2px;">
            <a href="" class="no-dec" style="text-decoration:none;color:#0D7CAD;font-weight:normal;">Docs</a>
        </span>
        </td>
        <td valign="top" width="50%" style="border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;">
        <span class="h3 center" style="color:#404041;display:block;font-family:Helvetica, Arial, sans-serif;font-size:14px;font-style:normal;font-weight:bold;line-height:100%;letter-spacing:normal;margin-top:20px;margin-right:0;margin-bottom:0;margin-left:0;text-align:center;">
            <img src="https://cdn-images.mailchimp.com/mandrill/email/icon-24-twitter.png" class="icon"height="12" width="12" style="max-width:100%;position:relative;top:2px;">
            <a href="" class="no-dec" style="text-decoration:none;color:#0D7CAD;font-weight:normal;">@mandrillapp</a></span>
        </td>
        </tr>
        </tbody>
        </table>
        </td>
    </tr>
    <tr>
        <td id="footer-content-main" valign="top" style="border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;padding-top:20px;">
        <p class="center" style="text-align:center;padding-bottom:60px;color:#808184;font-family:Helvetica;font-size:11px;line-height:150%;margin-top:0;">&copy; 2012
        -2016 All rights reserved. Mandrill&reg; is a registered trademark of The R
        ocket Science Group<br> 675 Ponce De Leon Ave. NE Suite 5000 Atlanta, GA 30
        316 USA<br> <a href="" style="color:#0D7CAD;font-weight:normal;text-decoration:underline;">Manage your email settings</a> |
            <a href="https://mandrillapp.com/contact/unsubscribe?user_id=30898150&subscription=weekly&sig=%2BiNlD2pNhcilhdR0A13VA0cNIXg%" style="color:#0D7CAD;font-weight:normal;text-decoration:underline;">
                Unsubscribe
            </a>
        </p>
        </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
</center>
<img src="http://mandrillapp.com/track/open.php?u=9656353&id=197458f49b334c25b65b4b076a297fa5" height="1" width="1"></body>
</html>