{% extends "@Catalog/Default/catalog_base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    '@app_account_css'
    '@datetimepicker_css'
    'css/treeview.css'
    '@switch_css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block leftColumn %}
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 tab-column-left">
        <ul class="nav nav-pills nav-stacked col-md-3">
            <li class="active"><a href="#a" data-toggle="tab">Algemeen</a></li>
            <li><a href="#b" data-toggle="tab">Omschrijving</a></li>
            <li><a href="#c" data-toggle="tab">Media</a></li>
            <li><a href="#stock" data-toggle="tab">Voorraad</a></li>
            <li><a href="#d" data-toggle="tab">Prijzen</a></li>
            <li><a href="#f" data-toggle="tab">Tags</a></li>
        </ul>
    </div>
{% endblock leftColumn %}
{% block rightColumn %}
    {{ form_start(productForm) }}
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 tab-content tab-column-right">
        <div class="tab-pane fade active in" id="a">
            <div class="row">
                <div class="col-md-12 form-horizontal">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group {{ productForm.name.vars.valid ? '':'has-error' }}">
                                <div class="col-md-3">
                                    {{ form_label(productForm.name) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_widget(productForm.name) }}
                                    {{ form_errors(productForm.name) }}
                                </div>
                            </div>
                            <div class="form-group {{ productForm.subtitle.vars.valid ? '':'has-error' }}">
                                <div class="col-md-3">
                                    {{ form_label(productForm.subtitle) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_widget(productForm.subtitle) }}
                                    {{ form_errors(productForm.subtitle) }}
                                </div>
                            </div>
                            <div class="form-group {{ productForm.descrShort.vars.valid ? '':'has-error' }}">
                                <div class="col-md-3">
                                    {{ form_label(productForm.descrShort) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_widget(productForm.descrShort) }}
                                    {{ form_errors(productForm.descrShort) }}
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group {{ productForm.category.vars.valid ? '':'has-error' }}">
                            <div class="col-md-3">
                            {{ form_label(productForm.category) }}
                            </div>
                            <div class="col-md-6">
                            {{ form_widget(productForm.category) }}
                            {{ form_errors(productForm.category) }}
                            </div>
                            </div>
                            <div class="form-group {{ productForm.brand.vars.valid ? '':'has-error' }}">
                                <div class="col-md-3">
                                    {{ form_label(productForm.brand) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_widget(productForm.brand) }}
                                    {{ form_errors(productForm.brand) }}
                                </div>
                            </div>
                            <div class="form-group {{ productForm.archived.vars.valid ? '':'has-error' }}">
                                <div class="col-md-3">
                                    {{ form_label(productForm.archived) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_widget(productForm.archived) }}
                                    {{ form_errors(productForm.archived) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="b">
            Media
        </div>
        <div class="tab-pane fade" id="c">
            {#<div class="row">#}
                {#<div class="col-md-12 form-horizontal">#}
                    {#<div class="row">#}
                        {#<div class="col-md-12">#}
                            {#<div class="form-group">#}
                                {#<div class="col-md-12">Template naam: <strong>{{ category.name }} template</strong></div>#}
                            {#</div>#}
                            {#<hr>#}
                        {#</div>#}
                        {#<div class="col-md-3">#}
                            {#{% if template != null %}#}
                            {#<ol class="list-group sortable-list serialization vertical">#}
                            {#{% for spec in template.specs %}#}
                            {#<li data-id="{{ spec.specType.id }}" data-name="{{ spec.specType.title }}" class="list-group-item"><a href="#">{{spec.specType.title}}</a></li>#}
                            {#{% endfor %}#}
                            {#</ol>#}
                            {#<div id="serialize_output2"></div>#}
                            {#{% else %}#}
                            {#Er bestaat nog geen template, voeg hieronder nieuwe shit toe.#}
                            {#{% endif %}#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>
        <div class="tab-pane fade" id="d">
            <div class="row">
                <div class="col-md-12 form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">Template naam: <strong>test template</strong></div>
                            </div>
                            <hr>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group {{ productForm.priceEx.vars.valid ? '':'has-error' }}">
                                <div class="col-md-6">
                                    {{ form_label(productForm.priceEx) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_widget(productForm.priceEx) }}
                                    {{ form_errors(productForm.priceEx) }}
                                </div>
                            </div>
                            <div class="form-group {{ productForm.tax.vars.valid ? '':'has-error' }}">
                                <div class="col-md-6">
                                    {{ form_label(productForm.tax) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_widget(productForm.tax) }}
                                    {{ form_errors(productForm.tax) }}
                                </div>
                            </div>
                            <div class="form-group {{ productForm.discount.vars.valid ? '':'has-error' }}">
                                <div class="col-md-6">
                                    {{ form_label(productForm.discount) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_widget(productForm.discount) }}
                                    {{ form_errors(productForm.discount) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="stock">
            <div class="row">
                {#<div class="form-group {{ productForm.physicalProducts.vars.valid ? '':'has-error' }}">#}
                {#<div class="col-md-3">#}
                {#{{ form_label(productForm.physicalProducts) }}#}
                {#</div>#}
                {#<div class="col-md-6">#}
                {#{{ form_widget(productForm.physicalProducts) }}#}
                {#{{ form_errors(productForm.physicalProducts) }}#}
                {#</div>#}
                {#</div>#}
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-md-4 control-label-left" for="stock">Totale voorraad:</label>
                        <div class="col-md-6">
                            <div class="tooltip-stock">
                                {{ physicalStock|length }} stuks op voorraad <i class="fa fa-exclamation-circle" data-toggle="tooltip" data-placement="right" title="Voorraad komt voort uit fysieke voorraad (zie tabel)"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label-left" for="stock">Fysieke voorraad:</label>
                        <div class="col-md-6">
                            {{ availablePhysicalStock }} nu direct beschikbaar.
                        </div>
                    </div>
                    <hr>
                    <div class="form-group hidden-xs">
                        <label class="col-md-4 control-label-left" for="stock">Toevoegen:</label>

                        <div class="col-md-2">
                            <input id="physicalAmount" title="physical-stock-amount" class="form-control"  type="text" placeholder="1 stuk" />
                        </div>
                        <div class="col-md-6">
                            <a id="addPhysicalProducts" href="{{ path('physicalProduct_new', {'product_id': product.id, 'amount': 1}) }}"><i class="fa fa-plus"></i> Toevoegen aan voorraad</a>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="col-md-4 control-label-left" for="stock">Filter op datum:</label>
                        <div class="col-md-8">
                            <div id="sandbox-container">
                                <input title="stock" class="form-control" type="text" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="portlet portlet-default">
                        <div class="portlet-heading">
                            <div class="portlet-title">
                                <h4>Fysieke voorraad</h4>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="portlet-body">
                            <ul id="physicalStockTabs" class="nav nav-tabs">
                                <li>
                                    <a href="#available" data-toggle="tab">Beschikbaar</a>
                                </li>
                                <li>
                                    <a href="#not-available" data-toggle="tab">Niet beschikbaar</a>
                                </li>
                                <li>
                                    <a href="#isArchived" data-toggle="tab">Gearchiveerd</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade" id="available">
                                    <div class="portlet-body">
                                        <div class="table-responsive">
                                            <table id="physicalStock-available" class="table table-striped table-bordered table-hover table-blue dt-responsive nowrap" cellspacing="0" width="100%">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th><i class="fa fa-link"></i> Barcode</th>
                                                    <th>Locatie</th>
                                                    <th>Status</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for physicalProduct in physicalStock %}
                                                    {% if physicalProduct.status == 'Beschikbaar' %}
                                                        <tr class="success">
                                                            <td>
                                                                {#<a href="{{ path('productPhysical_archive', {'id': physicalProduct.entity.id}) }}"><i class="fa fa-archive"></i></a>#}
                                                                <a href="#"><i class="fa fa-archive"></i></a>
                                                            </td>
                                                            <td><a href="#">{{ physicalProduct.entity.barcode }}</a></td>
                                                            {#<td><a href="{{ path('productPhysical_details', {'id': physicalProduct.entity.id}) }}">{{ physicalProduct.entity.barcode }}</a></td>#}
                                                            <td>{{ physicalProduct.entity.location }}</td>
                                                            <td>
                                                                {{ physicalProduct.status }}
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="not-available">
                                    <div class="portlet-body">
                                        <div class="table-responsive">
                                            <table id="physicalStock-not-available" class="table table-striped table-bordered table-hover table-blue dt-responsive nowrap" cellspacing="0" width="100%">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th><i class="fa fa-link"></i> Barcode</th>
                                                    <th>Locatie</th>
                                                    <th>Status</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for physicalProduct in physicalStock %}
                                                    {% if physicalProduct.status != 'Beschikbaar' %}
                                                        <tr
                                                                {% if  physicalProduct.status == "Vandaag op klus"  %}
                                                                    class="warning"
                                                                {% elseif  physicalProduct.status == "Is op klus"  %}
                                                                    class="danger"
                                                                {% endif %}
                                                        >
                                                            <td>
                                                                <a href="#"><i class="fa fa-archive"></i></a>
                                                                {#<a href="{{ path('product_physical_archive', {'id': physicalProduct.entity.id}) }}"><i class="fa fa-archive"></i></a>#}
                                                            </td>
                                                            <td><a href="#">{{ physicalProduct.entity.barcode }}</a></td>
                                                            {#<td><a href="{{ path('product_physical_details', {'id': physicalProduct.entity.id}) }}">{{ physicalProduct.entity.barcode }}</a></td>#}
                                                            <td>{{ physicalProduct.entity.location }}</td>
                                                            <td>
                                                                {{ physicalProduct.status }}
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="isArchived">
                                    <div class="portlet-body">
                                        <div class="table-responsive">
                                            <table id="physicalStock-not-available" class="table table-striped table-bordered table-hover table-blue dt-responsive nowrap" cellspacing="0" width="100%">
                                                <thead>
                                                <tr>
                                                    <th><i class="fa fa-link"></i> Barcode</th>
                                                    <th>Locatie</th>
                                                    <th>Status</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for physicalProduct in physicalStock %}
                                                    {% if physicalProduct.entity.archived != false %}
                                                        <tr
                                                                {% if  physicalProduct.status == "Vandaag op klus"  %}
                                                                    class="warning"
                                                                {% elseif  physicalProduct.status == "Is op klus"  %}
                                                                    class="danger"
                                                                {% endif %}
                                                        >
                                                            <td>{{ physicalProduct.entity.barcode }}</td>
                                                            <td>{{ physicalProduct.entity.location }}</td>
                                                            <td>
                                                                {{ physicalProduct.status }}
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet-footer">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" style="float: right;">
                {{ form_widget(productForm.cancel, { 'attr': {'class': 'btn btn-orange'} }) }}
                {{ form_widget(productForm.submit, { 'attr': {'class': 'btn btn-green'} }) }}
            </div>
        </div>
    </div>
    {{ form_end(productForm) }}
{% endblock rightColumn %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts output='js/account.js'
    'js/bootstrap_tab.js'
    'js/moment.js'
    'js/treeview.js'
    'js/datetimepicker.js'
    'js/datatables.js'
    'js/summernote.js'
    'js/multiselect.js'
    '@switch_js'
    %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            $(function() {

                $("#physicalAmount").change(function() {


                    var target = $('#addPhysicalProducts').attr('href');
                    var pos = target.lastIndexOf('/');
                    target = target.substring(0,pos+1)+ $("#physicalAmount").val();

                    $("#addPhysicalProducts").attr('href', target);

                });

                $('form').submit(function(){
                    $(this).find(':submit').attr('disabled','disabled');
                });

                $('#sandbox-container input').datepicker({
                    autoclose: true,
                    todayHighlight: true
                });

                $('.tooltip-stock').tooltip({
                    selector: "[data-toggle=tooltip]",
                    container: "body"
                });

                $('#select_brand').multiselect({
                    enableFiltering: true,
                    filterPlaceholder: 'Zoek merk...',
                    enableCaseInsensitiveFiltering: true,
                    allSelectedText: $("#select_brand option:selected").text(),
                    buttonWidth: '100%',
                    maxHeight: 275,
                    disableIfEmpty: true,
                    onChange: function(option, checked) {
                        console.log(this);
                        var values = [];
                        $('#select_brand option').each(function() {
                            if ($(this).val() !== option.val()) {
                                values.push($(this).val());

                            }
                            $('#select_brand').multiselect('setAllSelectedText', option.innerHTML);
                        });
                        $('#select_brand').multiselect('deselect', values);
                    }
                });

                $('#select_category').multiselect({
                    nonSelectedText: 'Selecteer een categorie',
                    enableFiltering: true,
                    filterPlaceholder: 'Zoek categorie...',
                    enableCaseInsensitiveFiltering: true,
                    allSelectedText: $("#select_category option:selected").text(),
                    buttonWidth: '100%',
                    maxHeight: 275,
                    disableIfEmpty: true,
                    onChange: function(option, checked) {
                        console.log(this);
                        var values = [];
                        $('#select_category option').each(function() {
                            if ($(this).val() !== option.val()) {
                                values.push($(this).val());

                            }
                            $('#select_category').multiselect('setAllSelectedText', option.innerHTML);
                        });
                        $('#select_category').multiselect('deselect', values);
                    }
                });

                $('#select_tax').multiselect({
                    nonSelectedText: 'Selecteer een belasting',
                    enableFiltering: false,
                    maxHeight: 275,
                    disableIfEmpty: true
                });

                $('.summernote').summernote({
                    height: 300,
                    tabsize: 2,
                    lang: 'nl-NL'
                });

            });

            $(function() {
                $('#physicalStock-available, #physicalStock-not-available').DataTable({
                    responsive: true,
                    "language": {
                        "url": "/includes/datatables-NL.json"
                    },
                    "aoColumnDefs": [ {
                        'bSortable': false, 'aTargets': [ 0 ]
                    }
                    ],
                    "order": [[ 1, "asc" ]]
                })
            });

            var hash = window.location.hash;

            if(hash){
                $('ul.nav a[href="' + hash + '"]').tab('show');
            }else{
                $('#physicalStockTabs a:first').tab('show');
            }
            $('#physicalStockTabs a:first').tab('show');

            $('.nav-tabs a').click(function (e) {
                $(this).tab('show');
                var scrollmem = $('body').scrollTop();
                window.location.hash = this.hash;
                $('html,body').scrollTop(scrollmem);
            });
        });
    </script>
{% endblock %}