{% extends "@Catalog/Default/catalog_base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    '@app_account_css'
    '@datetimepicker_css'
    '@datatables_css'
    'css/treeview.css'
    '@switch_css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block leftColumn %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 tab-column-left">
        {% include '@Product/includes/leftCategories.html.twig' %}
    </div>
{% endblock leftColumn %}
{% block rightColumn %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 tab-column-right">
        {% include '@Product/includes/rightLast5Products.html.twig' %}
    </div>
{% endblock rightColumn %}
{% block tableColumn %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% include "@Product/includes/productTable.html.twig" %}
    </div>
{% endblock tableColumn %}
{% block modalTitle %}
    Nieuw product.
{% endblock %}
{% block modalText %}
    <p>U staat op het punt een nieuw product toe te voegen.</p>
    <p class="category">Weet u zeker dat u een nieuw product wilt aanmaken in categorie: </p>
{% endblock %}
{% block modalAction %}
    <a id="addProduct" class="btn btn-green">Ja</a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts output='js/account.js'
    'js/bootstrap_tab.js'
    'js/moment.js'
    'js/datatables.js'
    'js/treeview.js'
    'js/datetimepicker.js'
    '@switch_js'
    %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function (){

            $('form').submit(function(){
                $(this).find(':submit').attr('disabled','disabled');
            });

            var hash = window.location.hash;
            if(hash){
                $('ul.nav a[href="' + hash + '"]').tab('show');
            }else{
                $('#productsTabs a:first').tab('show');
            }

            $('.nav-tabs a').click(function (e) {
                $(this).tab('show');
                var scrollmem = $('body').scrollTop();
                window.location.hash = this.hash;
                $('html,body').scrollTop(scrollmem);
            });


            $(function() {

                // Show messages
                {% for flashMessage in app.session.flashbag.get('success') %}
                Messenger.options = {
                    extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
                    theme: 'flat'
                };
                Messenger().post({
                    message: '{{ flashMessage|raw }}',
                    id: "Only-one-message",
                    type: 'success',
                    showCloseButton: true
                });
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('failed') %}
                Messenger.options = {
                    extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
                    theme: 'flat'
                };
                Messenger().post({
                    message: '{{ flashMessage|raw }}',
                    id: "Only-one-message",
                    type: 'error',
                    showCloseButton: true
                });
                {% endfor %}

                $('#example, #activeProducts').DataTable({
                    responsive: true,
                    "language": {
                        "url": "/includes/datatables-NL.json"
                    },
                    "aoColumnDefs": [ {
                        'bSortable': false, 'aTargets': [ 0 ]
                    }
                    ],
                    "order": [[ 4, "desc" ]]
                });


                $('#example tbody').on( 'click', 'tr', function () {
                    $(this).toggleClass('active');
                } );

                $('#button').click( function () {
                    alert( table.rows('.active').data().length +' row(s) selected' );
                } );

            });

            $(function() {

                var categoryLength = {{ categoryTree | length }};
                if(categoryLength != 0){
                    var $searchableTree = $('#tree').treeview({
                        data: {{ categoryTree | json_encode | raw }},
                        enableLinks: true,
                        onSearchCleared: function(){
                            $('#tree').treeview('collapseAll', { silent: true })
                        }
                    }).treeview('collapseAll', { silent: true });

                    var categoryResult = '';

                    var search = function(e) {
                        var pattern = $('#input-search').val();
                        var options = {
                            ignoreCase: true,
                            exactMatch: false,
                            revealResults: true
                        };
                        var results = $searchableTree.treeview('search', [ pattern, options ]);

                        var product = '';

                        if(results.length == 0 && $('#input-search').val() != ''){
                            product += '<p>Geen resultaten.<p><hr>';
                        }else{
                            if(results.length < 3){
                                $.each(results, function (index, result) {
                                    console.log(result);

                                    if(result.href != undefined){
                                        var separator = results.length > 1 && results.length -1 != index ? ' / ' : '<hr>';
                                        product += '<a href='+result.href+' class="btn btn-primary btn-md productModal" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip on top" style="margin-top: 5px;">' + result.text + '</a>' + separator ;
                                    }else{
                                        product += '<p><a href="#">'+result.text+'</a>, bevat geen producten (instelling).</p><hr>';
                                    }
                                });
                            }else{
                                product += '<a>' + results.length + ' ' +(results.length >= 2 || results.length == 0 ? 'categorieeën' : 'categorie')+ '</a><hr>';
                            }
                        }

                        $('div.search-result').html(product);

                    };
                    $('#input-search').on('keyup', search);
                    $('#btn-clear-search').on('click', function () {
                        $searchableTree.treeview('clearSearch');
                        $('#input-search').val('');
                        $('div.search-result').html('');
                    });

                    $('body').on('click', '.productModal', function(e){
                        e.preventDefault();
                        addProduct(this);
                    });

                    $('a#addProduct').on('click', function(){
                        $('#addProduct').addClass('disabled');
                    });
                    $(document).on('click', '.list-group-item > a', function(e){
                        e.preventDefault();

                        if(this.href.substr(this.href.length -1) != '#') {
                            addProduct(this);
                        }else{

                        }
                    });

                    var addProduct =  function(element){
                        $('.category strong').remove();
                        var category = "<strong>"+element.textContent+"</strong>";

                        $('#addProduct').attr('href', $(element).attr('href'));
                        $('.category').append(category);
                        $('#messageModal').modal('show');
//                    $('button#addProduct').click(function(){
//                        $.ajax({
//                            type: "POST",
//                            url: url,
//                            success: function(response) {
//                                if(response['message'] == 'success'){
//                                    $('#messageModal').modal('hide');
//                                    location.reload();
//                                }
//                            }
//                        })
//                    });
                    };
                }
            });
        });
    </script>
{% endblock %}