{% extends "@Catalog/Default/catalog_base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    '@app_account_css'
    '@datetimepicker_css'
    'css/treeview.css'
    '@switch_css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block leftColumn %}
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 tab-column-left">
        <ul class="nav nav-pills nav-stacked col-md-3">
            <li class="active"><a href="#a" data-toggle="tab">Algemeen</a></li>
            <li><a href="#b" data-toggle="tab">Media</a></li>
            <li><a href="#c" data-toggle="tab">Specificatie Template</a></li>
            <li><a href="#d" data-toggle="tab">Instellingen</a></li>
        </ul>
    </div>
{% endblock leftColumn %}
{% block rightColumn %}
    {{ form_start(categoryForm) }}
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 tab-content tab-column-right">
        <div class="tab-pane fade active in" id="a">
            <div class="row">
                <div class="col-md-12 form-horizontal">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group {{ categoryForm.prefix.vars.valid ? '':'has-error' }}">
                                <div class="col-md-3">
                                    {{ form_label(categoryForm.prefix) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_widget(categoryForm.prefix) }}
                                    {{ form_errors(categoryForm.prefix) }}
                                </div>
                            </div>
                            <div class="form-group {{ categoryForm.name.vars.valid ? '':'has-error' }}">
                                <div class="col-md-3">
                                    {{ form_label(categoryForm.name) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_widget(categoryForm.name) }}
                                    {{ form_errors(categoryForm.name) }}
                                </div>
                            </div>
                            {#<div class="form-group {{ categoryForm.subtitle.vars.valid ? '':'has-error' }}">#}
                            {#<div class="col-md-3">#}
                            {#{{ form_label(categoryForm.subtitle) }}#}
                            {#</div>#}
                            {#<div class="col-md-6">#}
                            {#{{ form_widget(categoryForm.subtitle) }}#}
                            {#{{ form_errors(categoryForm.subtitle) }}#}
                            {#</div>#}
                            {#</div>#}
                            <div class="form-group {{ categoryForm.description.vars.valid ? '':'has-error' }}">
                                <div class="col-md-3">
                                    {{ form_label(categoryForm.description) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_widget(categoryForm.description) }}
                                    {{ form_errors(categoryForm.description) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group {{ categoryForm.parent.vars.valid ? '':'has-error' }}">
                                <div class="col-md-3">
                                    {{ form_label(categoryForm.parent) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_widget(categoryForm.parent) }}
                                    {{ form_errors(categoryForm.parent) }}
                                </div>
                            </div>
                            {#<div class="form-group {{ categoryForm.division.vars.valid ? '':'has-error' }}">#}
                            {#<div class="col-md-3">#}
                            {#{{ form_label(categoryForm.division) }}#}
                            {#</div>#}
                            {#<div class="col-md-6">#}
                            {#{{ form_widget(categoryForm.division) }}#}
                            {#{{ form_errors(categoryForm.division) }}#}
                            {#</div>#}
                            {#</div>#}
                            <div class="form-group {{ categoryForm.contains_products.vars.valid ? '':'has-error' }}">
                                <div class="col-md-3">
                                    {{ form_label(categoryForm.contains_products) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_widget(categoryForm.contains_products) }}
                                    {{ form_errors(categoryForm.contains_products) }}
                                </div>
                            </div>
                            <div class="form-group {{ categoryForm.archived.vars.valid ? '':'has-error' }}">
                                <div class="col-md-3">
                                    {{ form_label(categoryForm.archived) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_widget(categoryForm.archived) }}
                                    {{ form_errors(categoryForm.archived) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="b">
            Media
        </div>
        <div class="tab-pane fade" id="c">
            <div class="row">
                <div class="col-md-12 form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">Template naam: <strong>{{ category.name }} template</strong></div>
                            </div>
                            <hr>
                        </div>
                        <div class="col-md-3">
                            {#{% if template != null %}#}
                            {#<ol class="list-group sortable-list serialization vertical">#}
                            {#{% for spec in template.specs %}#}
                            {#<li data-id="{{ spec.specType.id }}" data-name="{{ spec.specType.title }}" class="list-group-item"><a href="#">{{spec.specType.title}}</a></li>#}
                            {#{% endfor %}#}
                            {#</ol>#}
                            {#<div id="serialize_output2"></div>#}
                            {#{% else %}#}
                            {#Er bestaat nog geen template, voeg hieronder nieuwe shit toe.#}
                            {#{% endif %}#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="d">
            Instellingen
        </div>
    </div>
    <div class="portlet-footer">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" style="float: right;">
                {{ form_widget(categoryForm.cancel, { 'attr': {'class': 'btn btn-orange'} }) }}
                {{ form_widget(categoryForm.submit, { 'attr': {'class': 'btn btn-green'} }) }}
            </div>
        </div>
    </div>
    {{ form_end(categoryForm) }}
{% endblock rightColumn %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts output='js/account.js'
    'js/bootstrap_tab.js'
    'js/moment.js'
    'js/treeview.js'
    'js/datetimepicker.js'
    '@switch_js'
    %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}