{% extends 'SupportBundle::layout.html.twig' %}
{% import 'SupportBundle:Macros:macros.html.twig' as macros %}

{% block ticket_content -%}
        <h1>{{ 'HEADING_NEW_TICKET'|trans }}</h1>

        <div class="well well-sm">
            {{ form_start(form, {'method': 'POST', 'action': path('app_ticket_create')}) }}
            <div class="form-group row">
                {{ form_label(form.subject, '', { 'label_attr': {'class': 'col-lg-2 col-md-2 col-sm-2 control-label'} }) }}
                <div class="col-lg-8 col-md-8 col-sm-8">
                    {{ form_widget(form.subject, { 'attr': {'class': 'form-control', 'placeholder': 'LABEL_ENTER_SUBJECT' } }) }}
                </div>
            </div>

            {% include 'SupportBundle:Ticket:prototype.html.twig' with {'form': form.messages.vars.prototype} %}

            {{ form_rest(form) }}

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10 col-md-offset-2 col-md-10 col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">{{ 'BUTTON_CREATE'|trans }}</button>

                    <a href="{{ path('app_ticket') }}" class="btn btn-default">
                        {{ 'BUTTON_BACK_TO_LIST'|trans }}
                    </a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
{% endblock %}