{% set subdomain = app.request.attributes.has('subdomain') %}
{% extends subdomain == 'true'
    ? 'App/app_dashboard.html.twig'
    : 'FOSUserBundle::layout.html.twig' %}
{% if subdomain %}
    {% block currentPage %}ACCOUNT{% endblock %}
    {% block submenu %}
        {{ knp_menu_render('account_submenu', {'currentClass': 'active', 'template': 'CoreBundle:Menu:sub_menu.html.twig'}) }}
    {% endblock %}
{% endif %}