{% block subject %}Resetting your password{% endblock %}
{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <p>
        {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
    </p>
{% endblock %}