{% extends ':App:app_dashboard.html.twig' %}
{% block currentPage %}
    DASHBOARD
{% endblock %}
{% block body %}
    Goedemiddag! Hier komen straks strakke widgets! <br /><br />
    <ul>
        <li>Planning (configureerbaar wie er wordt weergegeven)</li>
        <li>Configureerbare activeitenfeed (laatste activiteiten binnen bedrijf)</li>
        <li>Favoriete projecten</li>
        <li>Todo lijst</li>
        <li>Magazijn (actuele relevante statistieken)</li>
        <li>Relaties</li>
    </ul>
{% endblock %}