@font-face {
  font-family: 'elegant-icons';
  src: url('elegant-icons/fonts/elegant-icons.eot?d918s8');
  src: url('elegant-icons/fonts/elegant-icons.eot?#iefixd918s8') format('embedded-opentype'), url('elegant-icons/fonts/elegant-icons.woff?d918s8') format('woff'), url('elegant-icons/fonts/elegant-icons.ttf?d918s8') format('truetype'), url('elegant-icons/fonts/elegant-icons.svg?d918s8##icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.ei {
  display: inline-block;
  font-family: 'elegant-icons' !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ei-social_youtube_square:before {
  content: "\e602";
}
.ei-social_youtube_circle:before {
  content: "\e603";
}
.ei-social_youtube:before {
  content: "\e604";
}
.ei-social_wordpress_square:before {
  content: "\e605";
}
.ei-social_wordpress_circle:before {
  content: "\e606";
}
.ei-social_wordpress:before {
  content: "\e607";
}
.ei-social_vimeo_square:before {
  content: "\e608";
}
.ei-social_vimeo_circle:before {
  content: "\e609";
}
.ei-social_vimeo:before {
  content: "\e60a";
}
.ei-social_twitter_square:before {
  content: "\e60b";
}
.ei-social_twitter_circle:before {
  content: "\e60c";
}
.ei-social_twitter:before {
  content: "\e60d";
}
.ei-social_tumblr_square:before {
  content: "\e60e";
}
.ei-social_tumblr_circle:before {
  content: "\e60f";
}
.ei-social_tumblr:before {
  content: "\e610";
}
.ei-social_tumbleupon:before {
  content: "\e611";
}
.ei-social_stumbleupon_square:before {
  content: "\e612";
}
.ei-social_stumbleupon_circle:before {
  content: "\e613";
}
.ei-social_spotify_square:before {
  content: "\e614";
}
.ei-social_spotify_circle:before {
  content: "\e615";
}
.ei-social_spotify:before {
  content: "\e616";
}
.ei-social_skype_square:before {
  content: "\e617";
}
.ei-social_skype_circle:before {
  content: "\e618";
}
.ei-social_skype:before {
  content: "\e619";
}
.ei-social_share_square:before {
  content: "\e61a";
}
.ei-social_share_circle:before {
  content: "\e61b";
}
.ei-social_share:before {
  content: "\e61c";
}
.ei-social_rss_square:before {
  content: "\e61d";
}
.ei-social_rss_circle:before {
  content: "\e61e";
}
.ei-social_rss:before {
  content: "\e61f";
}
.ei-social_pinterest_square:before {
  content: "\e620";
}
.ei-social_pinterest_circle:before {
  content: "\e621";
}
.ei-social_pinterest:before {
  content: "\e622";
}
.ei-social_picassa_square:before {
  content: "\e623";
}
.ei-social_picassa_circle:before {
  content: "\e624";
}
.ei-social_picassa:before {
  content: "\e625";
}
.ei-social_myspace_square:before {
  content: "\e626";
}
.ei-social_myspace_circle:before {
  content: "\e627";
}
.ei-social_myspace:before {
  content: "\e628";
}
.ei-social_linkedin_square:before {
  content: "\e629";
}
.ei-social_linkedin_circle:before {
  content: "\e62a";
}
.ei-social_linkedin:before {
  content: "\e62b";
}
.ei-social_instagram_square:before {
  content: "\e62c";
}
.ei-social_instagram_circle:before {
  content: "\e62d";
}
.ei-social_instagram:before {
  content: "\e62e";
}
.ei-social_googleplus_square:before {
  content: "\e62f";
}
.ei-social_googleplus_circle:before {
  content: "\e630";
}
.ei-social_googleplus:before {
  content: "\e631";
}
.ei-social_googledrive_square:before {
  content: "\e632";
}
.ei-social_googledrive_alt2:before {
  content: "\e633";
}
.ei-social_googledrive:before {
  content: "\e634";
}
.ei-social_flickr_square:before {
  content: "\e635";
}
.ei-social_flickr_circle:before {
  content: "\e636";
}
.ei-social_flickr:before {
  content: "\e637";
}
.ei-social_facebook_square:before {
  content: "\e638";
}
.ei-social_facebook_circle:before {
  content: "\e639";
}
.ei-social_facebook:before {
  content: "\e63a";
}
.ei-social_dribbble_square:before {
  content: "\e63b";
}
.ei-social_dribbble_circle:before {
  content: "\e63c";
}
.ei-social_dribbble:before {
  content: "\e63d";
}
.ei-social_deviantart_square:before {
  content: "\e63e";
}
.ei-social_deviantart_circle:before {
  content: "\e63f";
}
.ei-social_deviantart:before {
  content: "\e640";
}
.ei-social_delicious_square:before {
  content: "\e641";
}
.ei-social_delicious_circle:before {
  content: "\e642";
}
.ei-social_delicious:before {
  content: "\e643";
}
.ei-social_blogger_square:before {
  content: "\e644";
}
.ei-social_blogger_circle:before {
  content: "\e645";
}
.ei-social_blogger:before {
  content: "\e646";
}
.ei-upload:before {
  content: "\e647";
}
.ei-trash:before {
  content: "\e648";
}
.ei-toolbox:before {
  content: "\e649";
}
.ei-tags:before {
  content: "\e64a";
}
.ei-tag:before {
  content: "\e64b";
}
.ei-ribbon:before {
  content: "\e64c";
}
.ei-quotations_alt:before {
  content: "\e64d";
}
.ei-pushpin:before {
  content: "\e64e";
}
.ei-profile:before {
  content: "\e64f";
}
.ei-pin:before {
  content: "\e650";
}
.ei-phone:before {
  content: "\e651";
}
.ei-pause_alt:before {
  content: "\e652";
}
.ei-music:before {
  content: "\e653";
}
.ei-mic:before {
  content: "\e654";
}
.ei-map:before {
  content: "\e655";
}
.ei-mail:before {
  content: "\e656";
}
.ei-lock-open:before {
  content: "\e657";
}
.ei-lock:before {
  content: "\e658";
}
.ei-lightbulb:before {
  content: "\e659";
}
.ei-key:before {
  content: "\e65a";
}
.ei-house:before {
  content: "\e65b";
}
.ei-heart:before {
  content: "\e65c";
}
.ei-group:before {
  content: "\e65d";
}
.ei-grid-3x3:before {
  content: "\e65e";
}
.ei-grid-2x2:before {
  content: "\e65f";
}
.ei-gift:before {
  content: "\e660";
}
.ei-drawer:before {
  content: "\e661";
}
.ei-download:before {
  content: "\e662";
}
.ei-cursor:before {
  content: "\e663";
}
.ei-contacts:before {
  content: "\e664";
}
.ei-cone:before {
  content: "\e665";
}
.ei-compass:before {
  content: "\e666";
}
.ei-cloud-upload:before {
  content: "\e667";
}
.ei-cloud-download:before {
  content: "\e668";
}
.ei-cloud:before {
  content: "\e669";
}
.ei-clock:before {
  content: "\e66a";
}
.ei-cart:before {
  content: "\e66b";
}
.ei-camera:before {
  content: "\e66c";
}
.ei-book:before {
  content: "\e66d";
}
.ei-bag:before {
  content: "\e66e";
}
.ei-archive:before {
  content: "\e66f";
}
.ei-zoom-out:before {
  content: "\e670";
}
.ei-zoom-in:before {
  content: "\e671";
}
.ei-volume-low_alt:before {
  content: "\e672";
}
.ei-volume-low:before {
  content: "\e673";
}
.ei-volume-high_alt:before {
  content: "\e674";
}
.ei-volume-high:before {
  content: "\e675";
}
.ei-vol-mute_alt:before {
  content: "\e676";
}
.ei-vol-mute:before {
  content: "\e677";
}
.ei-trash_alt:before {
  content: "\e678";
}
.ei-tools:before {
  content: "\e679";
}
.ei-toolbox_alt:before {
  content: "\e67a";
}
.ei-tool:before {
  content: "\e67b";
}
.ei-tags_alt:before {
  content: "\e67c";
}
.ei-tag_alt:before {
  content: "\e67d";
}
.ei-tablet:before {
  content: "\e67e";
}
.ei-table:before {
  content: "\e67f";
}
.ei-stop_alt:before {
  content: "\e680";
}
.ei-star-half_alt:before {
  content: "\e681";
}
.ei-star-half:before {
  content: "\e682";
}
.ei-star_alt:before {
  content: "\e683";
}
.ei-star:before {
  content: "\e684";
}
.ei-ribbon_alt:before {
  content: "\e685";
}
.ei-refresh:before {
  content: "\e686";
}
.ei-quotations_alt2:before {
  content: "\e687";
}
.ei-quotations:before {
  content: "\e688";
}
.ei-question_alt2:before {
  content: "\e689";
}
.ei-question_alt:before {
  content: "\e68a";
}
.ei-question:before {
  content: "\e68b";
}
.ei-pushpin_alt:before {
  content: "\e68c";
}
.ei-plus_alt:before {
  content: "\e68d";
}
.ei-pin_alt:before {
  content: "\e68e";
}
.ei-piechart:before {
  content: "\e68f";
}
.ei-pencil_alt:before {
  content: "\e690";
}
.ei-paperclip:before {
  content: "\e691";
}
.ei-mobile:before {
  content: "\e692";
}
.ei-minus_alt:before {
  content: "\e693";
}
.ei-mic_alt:before {
  content: "\e694";
}
.ei-menu-square_alt:before {
  content: "\e695";
}
.ei-menu-circle_alt:before {
  content: "\e696";
}
.ei-map_alt:before {
  content: "\e697";
}
.ei-mail_alt:before {
  content: "\e698";
}
.ei-lock-open_alt:before {
  content: "\e699";
}
.ei-lock_alt:before {
  content: "\e69a";
}
.ei-loading:before {
  content: "\e69b";
}
.ei-link_alt:before {
  content: "\e69c";
}
.ei-link:before {
  content: "\e69d";
}
.ei-lightbulb_alt:before {
  content: "\e69e";
}
.ei-lifesaver:before {
  content: "\e69f";
}
.ei-laptop:before {
  content: "\e6a0";
}
.ei-key_alt:before {
  content: "\e6a1";
}
.ei-info:before {
  content: "\e6a2";
}
.ei-images:before {
  content: "\e6a3";
}
.ei-image:before {
  content: "\e6a4";
}
.ei-house_alt:before {
  content: "\e6a5";
}
.ei-heart_alt:before {
  content: "\e6a6";
}
.ei-headphones:before {
  content: "\e6a7";
}
.ei-gift_alt:before {
  content: "\e6a8";
}
.ei-genius:before {
  content: "\e6a9";
}
.ei-folder-open:before {
  content: "\e6aa";
}
.ei-folder-add:before {
  content: "\e6ab";
}
.ei-folder_upload:before {
  content: "\e6ac";
}
.ei-folder_download:before {
  content: "\e6ad";
}
.ei-folder:before {
  content: "\e6ae";
}
.ei-film:before {
  content: "\e6af";
}
.ei-error-triangle_alt:before {
  content: "\e6b0";
}
.ei-error-triangle:before {
  content: "\e6b1";
}
.ei-error-oct:before {
  content: "\e6b2";
}
.ei-error-circle:before {
  content: "\e6b3";
}
.ei-drawer_alt:before {
  content: "\e6b4";
}
.ei-documents:before {
  content: "\e6b5";
}
.ei-document:before {
  content: "\e6b6";
}
.ei-desktop:before {
  content: "\e6b7";
}
.ei-cursor_alt:before {
  content: "\e6b8";
}
.ei-creditcard:before {
  content: "\e6b9";
}
.ei-contacts_alt:before {
  content: "\e6ba";
}
.ei-cone_alt:before {
  content: "\e6bb";
}
.ei-compass_alt:before {
  content: "\e6bc";
}
.ei-comment_alt:before {
  content: "\e6bd";
}
.ei-comment:before {
  content: "\e6be";
}
.ei-cogs:before {
  content: "\e6bf";
}
.ei-cog:before {
  content: "\e6c0";
}
.ei-cloud-upload_alt:before {
  content: "\e6c1";
}
.ei-cloud-download_alt:before {
  content: "\e6c2";
}
.ei-cloud_alt:before {
  content: "\e6c3";
}
.ei-close_alt:before {
  content: "\e6c4";
}
.ei-clock_alt:before {
  content: "\e6c5";
}
.ei-check_alt:before {
  content: "\e6c6";
}
.ei-chat_alt:before {
  content: "\e6c7";
}
.ei-chat:before {
  content: "\e6c8";
}
.ei-cart_alt:before {
  content: "\e6c9";
}
.ei-camera_alt:before {
  content: "\e6ca";
}
.ei-calendar:before {
  content: "\e6cb";
}
.ei-book_alt:before {
  content: "\e6cc";
}
.ei-blocked:before {
  content: "\e6cd";
}
.ei-bag_alt:before {
  content: "\e6ce";
}
.ei-archive_alt:before {
  content: "\e6cf";
}
.ei-arrow_up_alt:before {
  content: "\e6d0";
}
.ei-arrow_triangle-up_alt:before {
  content: "\e6d1";
}
.ei-arrow_triangle-right_alt:before {
  content: "\e6d2";
}
.ei-arrow_triangle-left_alt:before {
  content: "\e6d3";
}
.ei-arrow_triangle-down_alt:before {
  content: "\e6d4";
}
.ei-arrow_right-up_alt:before {
  content: "\e6d5";
}
.ei-arrow_right-down_alt:before {
  content: "\e6d6";
}
.ei-arrow_right_alt:before {
  content: "\e6d7";
}
.ei-arrow_left-up_alt:before {
  content: "\e6d8";
}
.ei-arrow_left-down_alt:before {
  content: "\e6d9";
}
.ei-arrow_left_alt:before {
  content: "\e6da";
}
.ei-arrow_expand_alt3:before {
  content: "\e6db";
}
.ei-arrow_down_alt:before {
  content: "\e6dc";
}
.ei-arrow_condense_alt:before {
  content: "\e6dd";
}
.ei-arrow_carrot-right_alt:before {
  content: "\e6de";
}
.ei-arrow_carrot-left_alt:before {
  content: "\e6df";
}
.ei-arrow_carrot-down_alt:before {
  content: "\e6e0";
}
.ei-arrow_carrot-2up_alt:before {
  content: "\e6e1";
}
.ei-arrow_carrot-2right_alt:before {
  content: "\e6e2";
}
.ei-arrow_carrot-2left_alt:before {
  content: "\e6e3";
}
.ei-arrow_carrot-2dwnn_alt:before {
  content: "\e6e4";
}
.ei-arrow_carrot_up_alt:before {
  content: "\e6e5";
}
.ei-zoom-out_alt:before {
  content: "\e6e6";
}
.ei-zoom-in_alt:before {
  content: "\e6e7";
}
.ei-wallet:before {
  content: "\e6e8";
}
.ei-ul:before {
  content: "\e6e9";
}
.ei-target:before {
  content: "\e6ea";
}
.ei-stop_alt2:before {
  content: "\e6eb";
}
.ei-stop:before {
  content: "\e6ec";
}
.ei-shield:before {
  content: "\e6ed";
}
.ei-search2:before {
  content: "\e6ee";
}
.ei-search_alt:before {
  content: "\e6ef";
}
.ei-search:before {
  content: "\e6f0";
}
.ei-rook:before {
  content: "\e6f1";
}
.ei-puzzle_alt:before {
  content: "\e6f2";
}
.ei-puzzle:before {
  content: "\e6f3";
}
.ei-printer-alt:before {
  content: "\e6f4";
}
.ei-printer:before {
  content: "\e6f5";
}
.ei-plus-box:before {
  content: "\e6f6";
}
.ei-plus_alt2:before {
  content: "\e6f7";
}
.ei-plus:before {
  content: "\e6f8";
}
.ei-percent:before {
  content: "\e6f9";
}
.ei-pens:before {
  content: "\e6fa";
}
.ei-pencil-edit_alt:before {
  content: "\e6fb";
}
.ei-pencil-edit:before {
  content: "\e6fc";
}
.ei-pencil:before {
  content: "\e6fd";
}
.ei-pause_alt2:before {
  content: "\e6fe";
}
.ei-pause:before {
  content: "\e6ff";
}
.ei-ol:before {
  content: "\e700";
}
.ei-mug:before {
  content: "\e701";
}
.ei-minus-box:before {
  content: "\e702";
}
.ei-minus-06:before {
  content: "\e703";
}
.ei-minus_alt2:before {
  content: "\e704";
}
.ei-menu-square_alt2:before {
  content: "\e705";
}
.ei-menu-circle_alt2:before {
  content: "\e706";
}
.ei-menu:before {
  content: "\e707";
}
.ei-like:before {
  content: "\e708";
}
.ei-info_alt:before {
  content: "\e709";
}
.ei-id-2_alt:before {
  content: "\e70a";
}
.ei-id-2:before {
  content: "\e70b";
}
.ei-id_alt:before {
  content: "\e70c";
}
.ei-id:before {
  content: "\e70d";
}
.ei-hourglass:before {
  content: "\e70e";
}
.ei-globe-2:before {
  content: "\e70f";
}
.ei-globe:before {
  content: "\e710";
}
.ei-folder-open_alt:before {
  content: "\e711";
}
.ei-folder-alt:before {
  content: "\e712";
}
.ei-folder-add_alt:before {
  content: "\e713";
}
.ei-flowchart:before {
  content: "\e714";
}
.ei-floppy_alt:before {
  content: "\e715";
}
.ei-floppy:before {
  content: "\e716";
}
.ei-error-oct_alt:before {
  content: "\e717";
}
.ei-error-circle_alt:before {
  content: "\e718";
}
.ei-easel:before {
  content: "\e719";
}
.ei-drive_alt:before {
  content: "\e71a";
}
.ei-drive:before {
  content: "\e71b";
}
.ei-documents_alt:before {
  content: "\e71c";
}
.ei-document_alt:before {
  content: "\e71d";
}
.ei-dislike_alt:before {
  content: "\e71e";
}
.ei-dislike:before {
  content: "\e71f";
}
.ei-datareport_alt:before {
  content: "\e720";
}
.ei-datareport:before {
  content: "\e721";
}
.ei-currency_alt:before {
  content: "\e722";
}
.ei-currency:before {
  content: "\e723";
}
.ei-close_alt2:before {
  content: "\e724";
}
.ei-close:before {
  content: "\e725";
}
.ei-clipboard:before {
  content: "\e726";
}
.ei-circle-selected:before {
  content: "\e727";
}
.ei-circle-empty:before {
  content: "\e728";
}
.ei-check_alt2:before {
  content: "\e729";
}
.ei-check:before {
  content: "\e72a";
}
.ei-calulator:before {
  content: "\e72b";
}
.ei-calculator_alt:before {
  content: "\e72c";
}
.ei-building_alt:before {
  content: "\e72d";
}
.ei-building:before {
  content: "\e72e";
}
.ei-briefcase_alt:before {
  content: "\e72f";
}
.ei-briefcase:before {
  content: "\e730";
}
.ei-box-selected:before {
  content: "\e731";
}
.ei-box-empty:before {
  content: "\e732";
}
.ei-box-checked:before {
  content: "\e733";
}
.ei-balance:before {
  content: "\e734";
}
.ei-adjust-vert:before {
  content: "\e735";
}
.ei-adjust-horiz:before {
  content: "\e736";
}
.ei-arrow-up-down:before {
  content: "\e737";
}
.ei-arrow_up-down_alt:before {
  content: "\e738";
}
.ei-arrow_up:before {
  content: "\e739";
}
.ei-arrow_triangle-up_alt2:before {
  content: "\e73a";
}
.ei-arrow_triangle-up:before {
  content: "\e73b";
}
.ei-arrow_triangle-right_alt2:before {
  content: "\e73c";
}
.ei-arrow_triangle-right:before {
  content: "\e73d";
}
.ei-arrow_triangle-left_alt2:before {
  content: "\e73e";
}
.ei-arrow_triangle-left:before {
  content: "\e73f";
}
.ei-arrow_triangle-down_alt2:before {
  content: "\e740";
}
.ei-arrow_triangle-down:before {
  content: "\e741";
}
.ei-arrow_right-up:before {
  content: "\e742";
}
.ei-arrow_right-down:before {
  content: "\e743";
}
.ei-arrow_right:before {
  content: "\e744";
}
.ei-arrow_move:before {
  content: "\e745";
}
.ei-arrow_left-up:before {
  content: "\e746";
}
.ei-arrow_left-right_alt:before {
  content: "\e747";
}
.ei-arrow_left-right:before {
  content: "\e748";
}
.ei-arrow_left-down:before {
  content: "\e749";
}
.ei-arrow_left:before {
  content: "\e74a";
}
.ei-arrow_expand_alt2:before {
  content: "\e74b";
}
.ei-arrow_expand_alt:before {
  content: "\e74c";
}
.ei-arrow_expand:before {
  content: "\e74d";
}
.ei-arrow_down:before {
  content: "\e74e";
}
.ei-arrow_condense:before {
  content: "\e74f";
}
.ei-arrow_carrot-up_alt2:before {
  content: "\e750";
}
.ei-arrow_carrot-up:before {
  content: "\e751";
}
.ei-arrow_carrot-right_alt2:before {
  content: "\e752";
}
.ei-arrow_carrot-right:before {
  content: "\e753";
}
.ei-arrow_carrot-left_alt2:before {
  content: "\e754";
}
.ei-arrow_carrot-left:before {
  content: "\e755";
}
.ei-arrow_carrot-down_alt2:before {
  content: "\e756";
}
.ei-arrow_carrot-down:before {
  content: "\e757";
}
.ei-arrow_carrot-2up_alt2:before {
  content: "\e758";
}
.ei-arrow_carrot-2up:before {
  content: "\e759";
}
.ei-arrow_carrot-2right_alt2:before {
  content: "\e75a";
}
.ei-arrow_carrot-2right:before {
  content: "\e75b";
}
.ei-arrow_carrot-2left_alt2:before {
  content: "\e75c";
}
.ei-arrow_carrot-2left:before {
  content: "\e75d";
}
.ei-arrow_carrot-2down_alt2:before {
  content: "\e75e";
}
.ei-arrow_carrot-2down:before {
  content: "\e75f";
}
.ei-arrow_back:before {
  content: "\e760";
}
.ei-wallet_alt:before {
  content: "\e761";
}
.ei-shield_alt:before {
  content: "\e762";
}
.ei-percent_alt:before {
  content: "\e763";
}
.ei-pens_alt:before {
  content: "\e764";
}
.ei-mug_alt:before {
  content: "\e765";
}
.ei-like_alt:before {
  content: "\e766";
}
.ei-globe_alt:before {
  content: "\e767";
}
.ei-flowchart_alt:before {
  content: "\e768";
}
.ei-easel_alt:before {
  content: "\e769";
}

