{% extends "@User/App/user_base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <div class="tab-pane fade active in" id="index">
                <ul class="ticket-list">
                    <li class="col-md-12 col-sm-6 col-xs-12 ticket-item">
                        <a href="#" class="ticket-item-a">
                            <span class="ticket-state ticket-success">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="hidden-sm ticket-id ticket-id-success">#999</span>
                            <span class="ticket-title">Overzicht personeel</span>
                        </a>
                    </li>
                    <li class="col-md-12 col-sm-6 col-xs-12 ticket-item">
                        <a href="#" class="ticket-item-a">
                            <span class="ticket-state ticket-success">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="hidden-sm ticket-id ticket-id-success">#999</span>
                            <span class="ticket-title">Overzicht personeel</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock body %}
