{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%firstname%': user.firstname, '%app_name%': app_name}, 'FOSUserBundle') }}</p>
    {#{% if app.session is not empty %}#}
        {#{% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}#}
        {#{% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}#}
    {#{% endif %}#}

    {{ form_start(form, {'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{  form_row(form.company) }}

    {#{% for address in form.company.addresses %}#}
        {#{{ form_row(address.streetname) }}#}
    {#{% endfor %}#}

    <div>
        <input type="submit" value="Submit" />
    </div>

    {{ form_end(form) }}

{% endblock fos_user_content %}
