{% if token is not null %}
   {% set registerPath =  path('web_user_beta_conversion', {'token': token }) %}
{% else %}
    {% set registerPath = path('fos_user_registration_register') %}
{% endif %}
<form action="{{ registerPath }}" {% if form is defined %} {{ form_enctype(form) }} {% endif %} method="POST" class="fos_user_registration_register">
    {% if form is defined %}
        {{ form_widget(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {% endif %}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>