.user_profile_info{
    text-align: center !important;
}

.user_profile_info > div.profile_image{
    display:inline-block;
    background-size:contain;
    overflow:hidden;
    width: 200px;
    height: 200px;
}

#overlay    {
    border-radius: 50%;
    display: inline-block;
    color: #f3f6f7;
    width: 200px;
    height: 200px;
    background:rgba(0,0,0,.75);
    text-align:center;
    padding-top: 87px;
    opacity:0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
}

div.profile_image:hover #overlay{
    opacity:1;
}

.ticket-list {
    list-style: none;
    padding: 0;
    display: block;
    margin: 0 !important;
    width: 100% !important;
}
.ticket-item{
    display: inline-block;
    margin: 10px 0 0 0;
    padding: 0;
}
.ticket-item-tab{
    display: table;
    text-align: center;
    max-height: 40px;
    width: 100%;
    background-color: #f5f5f5;
}
.ticket-item-tab:hover{
    text-decoration: none;
    background-color: #E0E0E0 !important;
}
.ticket-state{
    min-width: 40px;
    width: 45px;
    height: 45px;
    vertical-align: middle;
    display: table-cell;
}
.ticket-state > i{
    color: #fff !important;
}
.status-received{
    background-color: #34495e;
}
.status-progress{
    background-color: #eb9b44;
}
.status-success{
    background-color: #3dc046;
}
.ticket-id{
    display: table-cell;
    width: 60px;
    vertical-align: middle;
    padding: 0 5px;
}
.ticket-id-received{
    border-right: 2px solid #34495e;
}
.ticket-id-progress{
    border-right: 2px solid #eb9b44;
}
.ticket-id-success{
    border-right: 2px solid #3dc046;
}
.ticket-title{
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px;
    min-width: 125px !important;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.more-tickets{
    margin-top: 10px;
    display: inline-block;
}

.panel-group{
    margin-top: 3px;
}

.btn-default,
.btn-dark-blue {
    border-color: #314559;
    background-color: #34495e;
    height: 40px !important;
    width: 40px !important;
}
.btn-default > i,
.btn-dark-blue > i {
    color: #fff !important;
}

.support-row{
    display: flex;
}

.support-row > .tab-column-left, .support-row > .tab-column-right{
    display:table-cell;
    float: none;
}

.tab-column-right > div > div#faqs > div.input-group{
    width: 100%;
}
.tab-column-right > div > p {
    font-family: "Effra-regular", Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding-top: 0;
}
.status{
    float:right;
    margin-right:20px;
}
.status > h4{
    margin-bottom: 0 !important;
}
.status > p{
    color: #708295;
}
.tab-options{
    float: right;
    display:table;
    border-left: 2px solid #dde0e1;
}
.tab-options > a{
    display: table-cell;
    float: left;
    margin-left: 20px;
    color: #fff;
    background-color: #556f88;
    width: 100%;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 10px 4px 0 4px
}

.tab-options > a.tab-btn{
    width: 40px;
}

.tab-options > a > i{
    color: #fff;
}
div#ticket > .page-title {
    width: 100%;
    height: 40px;
}
.title-head {
    display:block;
    float:left;
    width: 100%;
    margin-bottom:10px;
}

.padding-left{
    padding-left: 15px;
}

.tab-title {
    float:left;
}
.tab-title > h4 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.tab-title > p{
    margin: 0 !important;
    color:#708295;
}
.panel-group > div {
    margin-top: 10px !important;
}

.panel-group > div > .panel-heading {
    padding: 10px;
    min-height: 39px;
}


.chat-container {
    width: 300px;
    margin: 20px auto;
}
.top-header {
    background: #666;
    color: white;
    padding: 0.2rem;
    position: relative;
    overflow: hidden;
    border-bottom: 4px solid #35ac19;
}
.top-header:hover {
    background-color:#35ac19;
}
.top-header-tit {
    display: inline;
    font-size: 14px;
}
.top-header .typicons-message {
    display: inline-block;
    padding: 2px 5px 2px 5px;
    font-size: 20px;
    position: relative;
    top: 5px;
}
.top-header .typicons-minus {
    position: relative;
    top: 3px;
    font-size: 15px;
    cursor:pointer;
}
.top-header .typicons-times{
    position: relative;
    top: 3px;
    font-size: 15px;
    cursor:pointer;
}
.top-header .left {
    float: left;
}
.top-header .right {
    float: right;
    padding-top: 5px;
}
.top-header > * {
    position: relative;
}
.top-header::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: -100%;
    opacity: 0.25;
    background-color: #404040
}
.chat-box {
    padding: 0 15px;
    width: 100%;
    display: inline-block;
    list-style: none;
    margin: 0;
    height: 500px;
    overflow-y: auto;
}
.chat-box li > time {
    font-size: 1.2rem;
}
.chat-box li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}
.chat-box .avatar-icon {
    width: 40px;
    position: relative;
}
.chat-box .avatar-icon img {
    display: block;
    border-radius: 50%;
    border: 1px #A6B0B9 solid;
    width: 35px;
    height: 35px;
    background-color:#1469A6;
}
/*.client .avatar-icon:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border: 5px solid white;*/
    /*border-left-color: transparent;*/
    /*border-bottom-color: transparent;*/
/*}*/
.support {
    justify-content: flex-end;
    align-items: flex-end;
}
.support .messages {
    margin: 0 25px 0 60px;
    color: #fff;
    background-color: #495a6b !important;
    order: 1;
}
.support .avatar-icon {
    order: 2;
}

.timeline:before {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #d7dadb;
    width: 25%;
}
.timeline:after{
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #d7dadb;
    width: 25%;
}
.timeline{
    color: #d7dadb;
    font-size: 1.4rem;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
/*.support .messages:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border: 5px solid white;*/
    /*border-right-color: transparent;*/
    /*border-top-color: transparent;*/
    /*box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);*/
/*}*/
.messages {
    border-radius: 5px;
    width: 100% !important;
    background: white;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.messages p {
    font-size: 1.5rem;
    margin: 0 0 0.2rem 0;
}
.messages time {
    font-size: 0.7rem;
    color: #ccc;
}
.client .messages{
    margin: 0 60px 0 25px;
    background-color: #556f88 !important;
    color: #fff;
}
.msg-client, .msg-support{
    position: relative;
    min-height: 40px;
}

.msg-client:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 19px 20px 16px 0;
    border-color: transparent #556F88;
    display: block;
    width: 0;
    z-index: 1;
    left: -9px;
    top: 0;
}

.msg-support:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 19px 0 16px 20px;
    border-color: transparent #495a6b;
    display: block;
    width: 0;
    z-index: 1;
    right: -9px;
    bottom: 0;
}
.setting{
    background-color: #e5e5e5;
    height: 32px;
    padding-top: 2px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.setting .left {
    float: left;
}
.setting .right {
    float: right;
}
.iconicstroke-user{
    font-size: 22px;
    position: relative;
    top: 4px;
    left: 10px;
    color: #414141;
    cursor:pointer;
}
.typicons-cog{
    font-size: 23px;
    position: relative;
    top: 7px;
    right: 4px;
    color: #414141;
    cursor:pointer;
}
.fontawesome-facetime-video{
    font-size: 18px;
    position: relative;
    top: 3px;
    color: #414141;
    left: 5px;
    cursor:pointer;
}
.iconicstroke-user:hover, .typicons-cog:hover,.fontawesome-facetime-video:hover{
    color:#000000;
}
::-webkit-scrollbar{height:14px;width:10px;background:#eee;border-left:1px solid #ddd}
::-webkit-scrollbar-thumb{background:#ddd;border:1px solid #cfcfcf}
::-webkit-scrollbar-thumb:hover{background:#b2b2b2;border:1px solid #b2b2b2}
::-webkit-scrollbar-thumb:active{background:#b2b2b2;border:1px solid #b2b2b2}
@-webkit-keyframes pulse {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

@media(max-width: 767px) {
    .client .messages{
        margin: 0 0 0 5px;
    }

    .support .messages{
        margin: 0 5px 0 0;
    }

    .chat-box .avatar-icon, .chat-box li > time{
        display:none;
    }

}
table.dataTable {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
}
table.dataTable td,
table.dataTable th {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
table.dataTable td.dataTables_empty,
table.dataTable th.dataTables_empty {
  text-align: center;
}
table.dataTable.nowrap th,
table.dataTable.nowrap td {
  white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_length label {
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
}
div.dataTables_wrapper div.dataTables_length select {
  width: 75px;
  display: inline-block;
}
div.dataTables_wrapper div.dataTables_filter {
  text-align: right;
}
div.dataTables_wrapper div.dataTables_filter label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
}
div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
}
div.dataTables_wrapper div.dataTables_info {
  padding-top: 8px;
  white-space: nowrap;
}
div.dataTables_wrapper div.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
}
div.dataTables_wrapper div.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -26px;
  text-align: center;
  padding: 1em 0;
}

table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
  padding-right: 30px;
}
table.dataTable thead > tr > th:active,
table.dataTable thead > tr > td:active {
  outline: none;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: block;
  font-family: 'Glyphicons Halflings';
  opacity: 0.5;
}
table.dataTable thead .sorting:after {
  opacity: 0.2;
  content: "\e150";
  /* sort */
}
table.dataTable thead .sorting_asc:after {
  content: "\e155";
  /* sort-by-attributes */
}
table.dataTable thead .sorting_desc:after {
  content: "\e156";
  /* sort-by-attributes-alt */
}
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  color: #eee;
}

div.dataTables_scrollHead table.dataTable {
  margin-bottom: 0 !important;
}

div.dataTables_scrollBody table {
  border-top: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
div.dataTables_scrollBody table thead .sorting:after,
div.dataTables_scrollBody table thead .sorting_asc:after,
div.dataTables_scrollBody table thead .sorting_desc:after {
  display: none;
}
div.dataTables_scrollBody table tbody tr:first-child th,
div.dataTables_scrollBody table tbody tr:first-child td {
  border-top: none;
}

div.dataTables_scrollFoot table {
  margin-top: 0 !important;
  border-top: none;
}

@media screen and (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_length,
  div.dataTables_wrapper div.dataTables_filter,
  div.dataTables_wrapper div.dataTables_info,
  div.dataTables_wrapper div.dataTables_paginate {
    text-align: center;
  }
}
table.dataTable.table-condensed > thead > tr > th {
  padding-right: 20px;
}
table.dataTable.table-condensed .sorting:after,
table.dataTable.table-condensed .sorting_asc:after,
table.dataTable.table-condensed .sorting_desc:after {
  top: 6px;
  right: 6px;
}

table.table-bordered.dataTable {
  border-collapse: separate !important;
}
table.table-bordered.dataTable th,
table.table-bordered.dataTable td {
  border-left-width: 0;
}
table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable td:last-child,
table.table-bordered.dataTable td:last-child {
  border-right-width: 0;
}
table.table-bordered.dataTable tbody th,
table.table-bordered.dataTable tbody td {
  border-bottom-width: 0;
}

div.dataTables_scrollHead table.table-bordered {
  border-bottom-width: 0;
}

div.table-responsive > div.dataTables_wrapper > div.row {
  margin: 0;
}
div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:first-child {
  padding-left: 0;
}
div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child {
  padding-right: 0;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.child,table.dataTable.dtr-inline.collapsed>tbody>tr>th.child,table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty{cursor:default !important}table.dataTable.dtr-inline.collapsed>tbody>tr>td.child:before,table.dataTable.dtr-inline.collapsed>tbody>tr>th.child:before,table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty:before{display:none !important}table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child,table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child{position:relative;padding-left:30px;cursor:pointer}table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before{top:8px;left:4px;height:16px;width:16px;display:block;position:absolute;color:white;border:2px solid white;border-radius:16px;box-shadow:0 0 3px #444;box-sizing:content-box;text-align:left;font-family:'Courier New', Courier, monospace;text-indent:4px;line-height:16px;content:'+';background-color:#337ab7}table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before,table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before{content:'-';background-color:#d33333}table.dataTable.dtr-inline.collapsed>tbody>tr.child td:before{display:none}table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td:first-child,table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th:first-child{padding-left:27px}table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td:first-child:before,table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th:first-child:before{top:5px;left:4px;height:14px;width:14px;border-radius:14px;line-height:14px;text-indent:3px}table.dataTable.dtr-column>tbody>tr>td.control,table.dataTable.dtr-column>tbody>tr>th.control{position:relative;cursor:pointer}table.dataTable.dtr-column>tbody>tr>td.control:before,table.dataTable.dtr-column>tbody>tr>th.control:before{top:50%;left:50%;height:16px;width:16px;margin-top:-10px;margin-left:-10px;display:block;position:absolute;color:white;border:2px solid white;border-radius:16px;box-shadow:0 0 3px #444;box-sizing:content-box;text-align:left;font-family:'Courier New', Courier, monospace;text-indent:4px;line-height:16px;content:'+';background-color:#337ab7}table.dataTable.dtr-column>tbody>tr.parent td.control:before,table.dataTable.dtr-column>tbody>tr.parent th.control:before{content:'-';background-color:#d33333}table.dataTable>tbody>tr.child{padding:0.5em 1em}table.dataTable>tbody>tr.child:hover{background:transparent !important}table.dataTable>tbody>tr.child ul{display:inline-block;list-style-type:none;margin:0;padding:0}table.dataTable>tbody>tr.child ul li{border-bottom:1px solid #efefef;padding:0.5em 0}table.dataTable>tbody>tr.child ul li:first-child{padding-top:0}table.dataTable>tbody>tr.child ul li:last-child{border-bottom:none}table.dataTable>tbody>tr.child span.dtr-title{display:inline-block;min-width:75px;font-weight:bold}div.dtr-modal{position:fixed;box-sizing:border-box;top:0;left:0;height:100%;width:100%;z-index:100;padding:10em 1em}div.dtr-modal div.dtr-modal-display{position:absolute;top:0;left:0;bottom:0;right:0;width:50%;height:50%;overflow:auto;margin:auto;z-index:102;overflow:auto;background-color:#f5f5f7;border:1px solid black;border-radius:0.5em;box-shadow:0 12px 30px rgba(0,0,0,0.6)}div.dtr-modal div.dtr-modal-content{position:relative;padding:1em}div.dtr-modal div.dtr-modal-close{position:absolute;top:6px;right:6px;width:22px;height:22px;border:1px solid #eaeaea;background-color:#f9f9f9;text-align:center;border-radius:3px;cursor:pointer;z-index:12}div.dtr-modal div.dtr-modal-close:hover{background-color:#eaeaea}div.dtr-modal div.dtr-modal-background{position:fixed;top:0;left:0;right:0;bottom:0;z-index:101;background:rgba(0,0,0,0.6)}@media screen and (max-width: 767px){div.dtr-modal div.dtr-modal-display{width:95%}}
table.dataTable thead th {
    position: relative;
    background-image: none !important;
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    font-family: FontAwesome;
}

table.dataTable thead th.sorting:after {
    content: "\f0dc";
    color: #ddd;
    font-size: 0.8em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
}