/* Effra Light Regular */
@font-face {
	font-family: 'Effra-light';
	src: url('/fonts/efra/EffraLight-Regular.eot');
	src: url('/fonts/efra/EffraLight-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/efra/EffraLight-Regular.woff') format('woff'),
        url('/fonts/efra/EffraLight-Regular.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Effra-light-italic';
	src: url('/fonts/efra/EffraLight-Italic.eot');
	src: url('/fonts/efra/EffraLight-Italic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/efra/EffraLight-Italic.woff') format('woff'),
		url('/fonts/efra/EffraLight-Italic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

/* Effra Regular */
@font-face {
    font-family: 'Effra-regular';
    src: url('/fonts/efra/Effra-Regular.eot');
    src: url('/fonts/efra/Effra-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/efra/Effra-Regular.woff') format('woff'),
        url('/fonts/efra/Effra-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Effra-italic';
    src: url('/fonts/efra/Effra-Italic.eot');
    src: url('/fonts/efra/Effra-Italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/efra/Effra-Italic.woff') format('woff'),
        url('/fonts/efra/Effra-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Effra Medium Regular */
@font-face {
    font-family: 'Effra-medium';
    src: url('/fonts/efra/EffraMedium-Regular.eot');
    src: url('/fonts/efra/EffraMedium-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/efra/EffraMedium-Regular.woff') format('woff'),
        url('/fonts/efra/EffraMedium-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Effra-medium-italic';
    src: url('/fonts/efra/EffraMedium-Italic.eot');
    src: url('/fonts/efra/EffraMedium-Italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/efra/EffraMedium-Italic.woff') format('woff'),
        url('/fonts/efra/EffraMedium-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

/* Effra Bold  */
@font-face {
    font-family: 'Effra-bold';
    src: url('/fonts/efra/Effra-Bold.eot');
    src: url('/fonts/efra/Effra-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/efra/Effra-Bold.woff') format('woff'),
        url('/fonts/efra/Effra-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
	font-family: 'Effra-bold-italic';
	src: url('/fonts/efra/Effra-BoldItalic.eot');
	src: url('/fonts/efra/Effra-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/efra/Effra-BoldItalic.woff') format('woff'),
		url('/fonts/efra/Effra-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

/* Effra Heavy  */
@font-face {
	font-family: 'Effra-heavy-regular';
	src: url('/fonts/efra/EffraHeavy-Regular.eot');
	src: url('/fonts/efra/EffraHeavy-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/efra/EffraHeavy-Regular.woff') format('woff'),
		url('/fonts/efra/EffraHeavy-Regular.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
    font-family: 'Effra-heavy-italic';
    src: url('/fonts/efra/EffraHeavy-Italic.eot');
    src: url('/fonts/efra/EffraHeavy-Italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/efra/EffraHeavy-Italic.woff') format('woff'),
        url('/fonts/efra/EffraHeavy-Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}