/* DIGI RENT APP BASE CSS */

/* GLOBAL STYLES */
body {
    color: #34495e;
    font-family: "Effra-regular", "Helvetica Neue", Helvetica, arial, sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Effra-medium", "Helvetica Neue", Helvetica, arial, sans-serif;
    font-weight: 400;
    margin-top: 0 !important;
}

a {
    color: #47515d;
}
p > a{
    font-family: "Effra-heavy-regular", "Helvetica Neue", Helvetica, arial, sans-serif;
    font-weight: bold;
}
p > a:hover, p > a:focus {
    color: #47515d;
    text-decoration: underline;
}
a:focus {
    outline: none !important;
}

.btn-primary{
    background-color: #556f88 !important;
    border-color: transparent !important;
}
.btn-green {
    border-color: #15987e;
    color: #fff;
    background-color: #16a085;
}

/*  HELPER CLASSES
    Pattern: part-state-or-part
*/

/* Main */
.main{
    background: #ff7b07 !important;
    background: -moz-linear-gradient(228deg, #ff7b07 0%, #f75600 50%) !important;
    background: -webkit-linear-gradient(228deg, #ff7b07 0%,#f75600 50%) !important;
    background: linear-gradient(228deg, #ff7b07 0%,#f75600 50%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7b07', endColorstr='#f75600',GradientType=1 ) !important;
    /*background-color: #e0421c !important;*/
}

.dark-blue {
    background-color: #34495e;
}

.green {
    background-color: #16a085;
}

.blue {
    background-color: #2980b9;
}

.orange {
    background-color: #f39c12;
}

.red {
    background-color: #e74c3c;
}

.purple {
    background-color: #8e44ad;
}

.dark-gray {
    background-color: #7f8c8d;
}

.gray {
    background-color: #95a5a6;
}

.light-gray {
    background-color: #bdc3c7;
}

.yellow {
    background-color: #f1c40f;
}

/* -- Text Color Helper Classes */

.text-dark-blue {
    color: #34495e;
}

.text-green {
    color: #16a085;
}

.text-blue {
    color: #2980b9;
}

.text-orange {
    color: #f39c12;
}

.text-red {
    color: #e74c3c;
}

.text-purple {
    color: #8e44ad;
}

.text-faded {
    color: rgba(255,255,255,0.7);
}

/* Contrast BG */
.bg-sub{
    background-color: #f3f6f7 !important;
}
/* Icon colors */
.fa{
    color: #849595;
}
