html, body {
    height: 100%;
}

div.input-group:first-child{
    border-bottom: solid 1px #dee0e6;
}

@media(max-width: 768px) {
    .bg-sub {
        height: 100%;
    }

    .container{
        height:100%;
    }

    div.row:first-child{
        height: 100%;
    }

    .login-logo{
        height: 88px !important;
        width: 71px !important;
        margin: 88px 0 40px 0 !important;
    }
}

@media(min-width: 768px){

    .text-center{
        height: 600px;
    }

    .bg-sub {
        margin-bottom: 0;

        min-height: 100%;
        min-height: 100vh;

        /* Make it a flex container */
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        /* Align the bootstrap's container vertically */
        -webkit-box-align : center;
        -webkit-align-items : center;
        -moz-box-align : center;
        -ms-flex-align : center;
        align-items : center;

        width: 100%;

        -webkit-box-pack : center;
        -moz-box-pack : center;
        -ms-flex-pack : center;
        -webkit-justify-content : center;
        justify-content : center;
    }
}

.remember-me{
    padding-top: 10px;
}

.submit-form{
    padding-top: 40px;
}

input[type="checkbox"]{
    margin-right: 5px;
}

.login-form{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #fff;
    border-bottom: 4px solid #e0421c;
    min-height: 100%;
}

input.transparent-input {
    border:none !important
}

.transparent-input {
    background-color: rgba(0, 0, 0, 0);
    border:none;
}

input.transparent-input{
    background-color:rgba(0,0,0,0) !important;
    border:none !important;
    box-shadow:none !important;
}

.login-icon{
    display:table-cell;
    vertical-align: middle;
    white-space: nowrap;
    width: 25px;
}

.login-logo{
    height: 117px;
    width: 94px;
    margin: 70px 0 40px 0;
}

.login-image{
    background-color: #555;
    min-height: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

input[type=submit] {
    padding:5px 15px;
    width: 150px;
    color: #fff;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

input[type=submit]:focus {
    outline: none;
    background-color: #992e17;
}

.post-content{
    padding: 70px 70px;
    margin: 0 !important;
}

h1.post-title{
    font-family: "Effra-light", arial, sans-serif;
    color: #d0d0d0;
    font-size: 30pt;
    font-weight: 100 !important;
    margin: 0 !important;
}

.post-entry{
    margin-top: 25px !important;
}

.post-entry > a{
    font-family: "Effra-light", arial, sans-serif;
    text-decoration: underline;
    color: #D0D0D0;
    font-size: 14pt;
    font-weight: 100 !important;
    margin-top: 0 !important;
}