@font-face {
	font-family: 'brandon-regular';
	src: url('/fonts/brandon/BrandonText-Regular.eot');
	src: url('/fonts/brandon/BrandonText-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/brandon/BrandonText-Regular.woff2') format('woff2'),
		url('/fonts/brandon/BrandonText-Regular.woff') format('woff'),
		url('/fonts/brandon/BrandonText-Regular.ttf') format('truetype'),
		url('/fonts/brandon/BrandonText-Regular.svg#BrandonText-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'brandon-light';
	src: url('/fonts/brandon/BrandonText-Light.eot');
	src: url('/fonts/brandon/BrandonText-Light.eot?#iefix') format('embedded-opentype'),
		url('/fonts/brandon/BrandonText-Light.woff2') format('woff2'),
		url('/fonts/brandon/BrandonText-Light.woff') format('woff'),
		url('/fonts/brandon/BrandonText-Light.ttf') format('truetype'),
		url('/fonts/brandon/BrandonText-Light.svg#BrandonText-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'brandon-thin-italic';
	src: url('/fonts/brandon/BrandonText-ThinItalic.eot');
	src: url('/fonts/brandon/BrandonText-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/brandon/BrandonText-ThinItalic.woff2') format('woff2'),
		url('/fonts/brandon/BrandonText-ThinItalic.woff') format('woff'),
		url('/fonts/brandon/BrandonText-ThinItalic.ttf') format('truetype'),
		url('/fonts/brandon/BrandonText-ThinItalic.svg#BrandonText-ThinItalic') format('svg');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'brandon-black-italic';
	src: url('/fonts/brandon/BrandonText-BlackItalic.eot');
	src: url('/fonts/brandon/BrandonText-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/brandon/BrandonText-BlackItalic.woff2') format('woff2'),
		url('/fonts/brandon/BrandonText-BlackItalic.woff') format('woff'),
		url('/fonts/brandon/BrandonText-BlackItalic.ttf') format('truetype'),
		url('/fonts/brandon/BrandonText-BlackItalic.svg#BrandonText-BlackItalic') format('svg');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'brandon-light-italic';
	src: url('/fonts/brandon/BrandonText-LightItalic.eot');
	src: url('/fonts/brandon/BrandonText-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/brandon/BrandonText-LightItalic.woff2') format('woff2'),
		url('/fonts/brandon/BrandonText-LightItalic.woff') format('woff'),
		url('/fonts/brandon/BrandonText-LightItalic.ttf') format('truetype'),
		url('/fonts/brandon/BrandonText-LightItalic.svg#BrandonText-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'brandon-black';
	src: url('/fonts/brandon/BrandonText-Black.eot');
	src: url('/fonts/brandon/BrandonText-Black.eot?#iefix') format('embedded-opentype'),
		url('/fonts/brandon/BrandonText-Black.woff2') format('woff2'),
		url('/fonts/brandon/BrandonText-Black.woff') format('woff'),
		url('/fonts/brandon/BrandonText-Black.ttf') format('truetype'),
		url('/fonts/brandon/BrandonText-Black.svg#BrandonText-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'brandon-bold';
	src: url('/fonts/brandon/BrandonText-Bold.eot');
	src: url('/fonts/brandon/BrandonText-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/brandon/BrandonText-Bold.woff2') format('woff2'),
		url('/fonts/brandon/BrandonText-Bold.woff') format('woff'),
		url('/fonts/brandon/BrandonText-Bold.ttf') format('truetype'),
		url('/fonts/brandon/BrandonText-Bold.svg#BrandonText-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'brandon-thin';
	src: url('/fonts/brandon/BrandonText-Thin.eot');
	src: url('/fonts/brandon/BrandonText-Thin.eot?#iefix') format('embedded-opentype'),
		url('/fonts/brandon/BrandonText-Thin.woff2') format('woff2'),
		url('/fonts/brandon/BrandonText-Thin.woff') format('woff'),
		url('/fonts/brandon/BrandonText-Thin.ttf') format('truetype'),
		url('/fonts/brandon/BrandonText-Thin.svg#BrandonText-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'brandon-medium';
	src: url('/fonts/brandon/BrandonText-Medium.eot');
	src: url('/fonts/brandon/BrandonText-Medium.eot?#iefix') format('embedded-opentype'),
		url('/fonts/brandon/BrandonText-Medium.woff2') format('woff2'),
		url('/fonts/brandon/BrandonText-Medium.woff') format('woff'),
		url('/fonts/brandon/BrandonText-Medium.ttf') format('truetype'),
		url('/fonts/brandon/BrandonText-Medium.svg#BrandonText-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'brandon-medium-italic';
	src: url('/fonts/brandon/BrandonText-MediumItalic.eot');
	src: url('/fonts/brandon/BrandonText-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/brandon/BrandonText-MediumItalic.woff2') format('woff2'),
		url('/fonts/brandon/BrandonText-MediumItalic.woff') format('woff'),
		url('/fonts/brandon/BrandonText-MediumItalic.ttf') format('truetype'),
		url('/fonts/brandon/BrandonText-MediumItalic.svg#BrandonText-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'brandon-bold-italic';
	src: url('/fonts/brandon/BrandonText-BoldItalic.eot');
	src: url('/fonts/brandon/BrandonText-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/brandon/BrandonText-BoldItalic.woff2') format('woff2'),
		url('/fonts/brandon/BrandonText-BoldItalic.woff') format('woff'),
		url('/fonts/brandon/BrandonText-BoldItalic.ttf') format('truetype'),
		url('/fonts/brandon/BrandonText-BoldItalic.svg#BrandonText-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'brandon-regular-italic';
	src: url('/fonts/brandon/BrandonText-RegularItalic.eot');
	src: url('/fonts/brandon/BrandonText-RegularItalic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/brandon/BrandonText-RegularItalic.woff2') format('woff2'),
		url('/fonts/brandon/BrandonText-RegularItalic.woff') format('woff'),
		url('/fonts/brandon/BrandonText-RegularItalic.ttf') format('truetype'),
		url('/fonts/brandon/BrandonText-RegularItalic.svg#BrandonText-RegularItalic') format('svg');
	font-weight: normal;
	font-style: italic;
}
