.user_profile_info{
    text-align: center !important;
}

.user_profile_info > div.profile_image{
    display:inline-block;
    background-size:contain;
    overflow:hidden;
    width: 200px;
    height: 200px;
}

#overlay    {
    border-radius: 50%;
    display: inline-block;
    color: #f3f6f7;
    width: 200px;
    height: 200px;
    background:rgba(0,0,0,.75);
    text-align:center;
    padding-top: 87px;
    opacity:0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
}

div.profile_image:hover #overlay{
    opacity:1;
}

.ticket-list {
    list-style: none;
    padding: 0;
    display: block;
    margin: 0 !important;
    width: 100% !important;
}
.ticket-item{
    display: inline-block;
    margin: 10px 0 0 0;
    padding: 0;
}
.ticket-item-tab{
    display: table;
    text-align: center;
    max-height: 40px;
    width: 100%;
    background-color: #f5f5f5;
}
.ticket-item-tab:hover{
    text-decoration: none;
    background-color: #E0E0E0 !important;
}
.ticket-state{
    min-width: 40px;
    width: 45px;
    height: 45px;
    vertical-align: middle;
    display: table-cell;
}
.ticket-state > i{
    color: #fff !important;
}
.status-received{
    background-color: #34495e;
}
.status-progress{
    background-color: #eb9b44;
}
.status-success{
    background-color: #3dc046;
}
.ticket-id{
    display: table-cell;
    width: 60px;
    vertical-align: middle;
    padding: 0 5px;
}
.ticket-id-received{
    border-right: 2px solid #34495e;
}
.ticket-id-progress{
    border-right: 2px solid #eb9b44;
}
.ticket-id-success{
    border-right: 2px solid #3dc046;
}
.ticket-title{
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px;
    min-width: 125px !important;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.more-tickets{
    margin-top: 10px;
    display: inline-block;
}

.panel-group{
    margin-top: 3px;
}

.btn-default,
.btn-dark-blue {
    border-color: #314559;
    background-color: #34495e;
    height: 40px !important;
    width: 40px !important;
}
.btn-default > i,
.btn-dark-blue > i {
    color: #fff !important;
}

.support-row{
    display: flex;
}

.support-row > .tab-column-left, .support-row > .tab-column-right{
    display:table-cell;
    float: none;
}

.tab-column-right > div > div#faqs > div.input-group{
    width: 100%;
}
.tab-column-right > div > p {
    font-family: "Effra-regular", Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding-top: 0;
}
.status{
    float:right;
    margin-right:20px;
}
.status > h4{
    margin-bottom: 0 !important;
}
.status > p{
    color: #708295;
}
.tab-options{
    float: right;
    display:table;
    border-left: 2px solid #dde0e1;
}
.tab-options > a{
    display: table-cell;
    float: left;
    margin-left: 20px;
    color: #fff;
    background-color: #556f88;
    width: 100%;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 10px 4px 0 4px
}

.tab-options > a.tab-btn{
    width: 40px;
}

.tab-options > a > i{
    color: #fff;
}
div#ticket > .page-title {
    width: 100%;
    height: 40px;
}
.title-head {
    display:block;
    float:left;
    width: 100%;
    margin-bottom:10px;
}

.padding-left{
    padding-left: 15px;
}

.tab-title {
    float:left;
}
.tab-title > h4 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.tab-title > p{
    margin: 0 !important;
    color:#708295;
}
.panel-group > div {
    margin-top: 10px !important;
}

.panel-group > div > .panel-heading {
    padding: 10px;
    min-height: 39px;
}


.chat-container {
    width: 300px;
    margin: 20px auto;
}
.top-header {
    background: #666;
    color: white;
    padding: 0.2rem;
    position: relative;
    overflow: hidden;
    border-bottom: 4px solid #35ac19;
}
.top-header:hover {
    background-color:#35ac19;
}
.top-header-tit {
    display: inline;
    font-size: 14px;
}
.top-header .typicons-message {
    display: inline-block;
    padding: 2px 5px 2px 5px;
    font-size: 20px;
    position: relative;
    top: 5px;
}
.top-header .typicons-minus {
    position: relative;
    top: 3px;
    font-size: 15px;
    cursor:pointer;
}
.top-header .typicons-times{
    position: relative;
    top: 3px;
    font-size: 15px;
    cursor:pointer;
}
.top-header .left {
    float: left;
}
.top-header .right {
    float: right;
    padding-top: 5px;
}
.top-header > * {
    position: relative;
}
.top-header::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: -100%;
    opacity: 0.25;
    background-color: #404040
}
.chat-box {
    padding: 0 15px;
    width: 100%;
    display: inline-block;
    list-style: none;
    margin: 0;
    height: 500px;
    overflow-y: auto;
}
.chat-box li > time {
    font-size: 1.2rem;
}
.chat-box li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}
.chat-box .avatar-icon {
    width: 40px;
    position: relative;
}
.chat-box .avatar-icon img {
    display: block;
    border-radius: 50%;
    border: 1px #A6B0B9 solid;
    width: 35px;
    height: 35px;
    background-color:#1469A6;
}
/*.client .avatar-icon:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border: 5px solid white;*/
    /*border-left-color: transparent;*/
    /*border-bottom-color: transparent;*/
/*}*/
.support {
    justify-content: flex-end;
    align-items: flex-end;
}
.support .messages {
    margin: 0 25px 0 60px;
    color: #fff;
    background-color: #495a6b !important;
    order: 1;
}
.support .avatar-icon {
    order: 2;
}

.timeline:before {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #d7dadb;
    width: 25%;
}
.timeline:after{
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #d7dadb;
    width: 25%;
}
.timeline{
    color: #d7dadb;
    font-size: 1.4rem;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
/*.support .messages:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border: 5px solid white;*/
    /*border-right-color: transparent;*/
    /*border-top-color: transparent;*/
    /*box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);*/
/*}*/
.messages {
    border-radius: 5px;
    width: 100% !important;
    background: white;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.messages p {
    font-size: 1.5rem;
    margin: 0 0 0.2rem 0;
}
.messages time {
    font-size: 0.7rem;
    color: #ccc;
}
.client .messages{
    margin: 0 60px 0 25px;
    background-color: #556f88 !important;
    color: #fff;
}
.msg-client, .msg-support{
    position: relative;
    min-height: 40px;
}

.msg-client:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 19px 20px 16px 0;
    border-color: transparent #556F88;
    display: block;
    width: 0;
    z-index: 1;
    left: -9px;
    top: 0;
}

.msg-support:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 19px 0 16px 20px;
    border-color: transparent #495a6b;
    display: block;
    width: 0;
    z-index: 1;
    right: -9px;
    bottom: 0;
}
.setting{
    background-color: #e5e5e5;
    height: 32px;
    padding-top: 2px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.setting .left {
    float: left;
}
.setting .right {
    float: right;
}
.iconicstroke-user{
    font-size: 22px;
    position: relative;
    top: 4px;
    left: 10px;
    color: #414141;
    cursor:pointer;
}
.typicons-cog{
    font-size: 23px;
    position: relative;
    top: 7px;
    right: 4px;
    color: #414141;
    cursor:pointer;
}
.fontawesome-facetime-video{
    font-size: 18px;
    position: relative;
    top: 3px;
    color: #414141;
    left: 5px;
    cursor:pointer;
}
.iconicstroke-user:hover, .typicons-cog:hover,.fontawesome-facetime-video:hover{
    color:#000000;
}
::-webkit-scrollbar{height:14px;width:10px;background:#eee;border-left:1px solid #ddd}
::-webkit-scrollbar-thumb{background:#ddd;border:1px solid #cfcfcf}
::-webkit-scrollbar-thumb:hover{background:#b2b2b2;border:1px solid #b2b2b2}
::-webkit-scrollbar-thumb:active{background:#b2b2b2;border:1px solid #b2b2b2}
@-webkit-keyframes pulse {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

@media(max-width: 767px) {
    .client .messages{
        margin: 0 0 0 5px;
    }

    .support .messages{
        margin: 0 5px 0 0;
    }

    .chat-box .avatar-icon, .chat-box li > time{
        display:none;
    }

}
.multiselect-container{position:absolute;list-style-type:none;margin:0;padding:0}.multiselect-container .input-group{margin:5px}.multiselect-container>li{padding:0}.multiselect-container>li>a.multiselect-all label{font-weight:700}.multiselect-container>li.multiselect-group label{margin:0;padding:3px 20px 3px 20px;height:100%;font-weight:700}.multiselect-container>li.multiselect-group-clickable label{cursor:pointer}.multiselect-container>li>a{height: 40px; padding: 0 10px; display:block;}.multiselect-container>li>a>label{margin:0;height:100%;cursor:pointer;font-weight:400;padding:3px 20px 3px 40px}.multiselect-container>li>a>label.radio,.multiselect-container>li>a>label.checkbox{margin:0}.multiselect-container>li>a>label>input[type=checkbox]{margin-bottom:0}.btn-group>.btn-group:nth-child(2)>.multiselect.btn{border-top-left-radius:4px;border-bottom-left-radius:4px}.form-inline .multiselect-container label.checkbox,.form-inline .multiselect-container label.radio{padding:3px 20px 3px 40px}.form-inline .multiselect-container li a label.checkbox input[type=checkbox],.form-inline .multiselect-container li a label.radio input[type=radio]{margin-left:-20px;margin-right:0}