/*
  Icon Font: digirent-font
*/

@font-face {
  font-family: "digirent-font";
  src: url("../../fonts/digirent/digirent-font.eot");
  src: url("../../fonts/digirent/digirent-font.eot?#iefix") format("embedded-opentype"),
       url("../../fonts/digirent/digirent-font.woff") format("woff"),
       url("../../fonts/digirent/digirent-font.ttf") format("truetype"),
       url("../../fonts/digirent/digirent-font.svg#digirent-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "digirent-font";
    src: url("../../fonts/digirent/digirent-font.svg#digirent-font") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.dr-administration:before,
.dr-calendar:before,
.dr-projectmanagement:before,
.dr-tools:before,
.dr-warehouse:before {
  display: inline-block;
  font-family: "digirent-font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.dr-administration:before { content: "\f100"; }
.dr-calendar:before { content: "\f101"; }
.dr-projectmanagement:before { content: "\f102"; }
.dr-tools:before { content: "\f103"; }
.dr-warehouse:before { content: "\f104"; }
