/* ==========================================================================
   COLOR: ORANGE  #ec5a29 - #e67e22
========================================================================== */ 
a, .text-color {
    color: #ec5a29;
}

.color-bg {
    background-color: #ec5a29;
}

/*------------------------------------------*/
/*   Red Buttons 
/*------------------------------------------*/
.btn-color-ghost {
    background: transparent;
    color: #ec5a29;
    border-color: #ec5a29;
}

.btn-color, .btn-color-ghost:hover {
    background: #ec5a29;
    color: #fff;
    border-color: #ec5a29;
}

.btn-color:hover {
    background: #ffffff;
    color: #ec5a29;
    border-color: #ec5a29;
}

.btn-white {
    color: #ec5a29;
}

.navbar-nav>li>a.btn-signup {
    background: #ec5a29;
    color: #ffffff;
    border-color: #ec5a29;
}

.navbar-nav>li>a.btn-signup:hover, .navbar-nav>li>a.btn-signup:focus {
    background: #ffffff;
    color: #ec5a29;
    border-color: #ffffff;
}

/*------------------------------------------*/
/*   Header Solid Bg
/*------------------------------------------*/
.solid-bg{
    background:none;
    background-color: #ec5a29;
}

.navbar-nav>li>a.btn-white{
    color: #ec5a29;
}

/*------------------------------------------*/
/*   Header App
/*------------------------------------------*/
.type .hero-section span{
    background-color: #ec5a29;
}

/*------------------------------------------*/
/*   Form
/*------------------------------------------*/
.form-control {
    border: 2px solid #e67e22;
}

/*------------------------------------------*/
/*   Icons
/*------------------------------------------*/
.icon-lg:hover, .icon-lg:focus, .icon-sm:hover, .icon-sm:focus {
    color:#ec5a29;
}

/*------------------------------------------*/
/*   Preloader
/*------------------------------------------*/
.preloader{
    background-color: #ec5a29;
}

/*------------------------------------------*/
/*   Navbar Links Menu
/*------------------------------------------*/
.is-scrolling .navbar-nav>.active>a, .is-scrolling .navbar-nav>.active>a:hover, .is-scrolling .navbar-nav>.active>a:focus {
    color: #ec5a29;
    background-color: transparent;
}

/*------------------------------------------*/
/*   Login/Signup Modal
/*------------------------------------------*/
.login .modal-header .modal-title span{
    font-weight: 400;
    color: #ec5a29;
}

/*------------------------------------------*/
/*   Pricing Tab
/*------------------------------------------*/
.pricing-tab {
    border: 3px solid #e67e22;
}

.pricing-tab h4 {
    border-bottom: 3px solid #e67e22;
}

.pricing-tab .ribbon .popular{
    background-color: #ec5a29;
}

/*------------------------------------------*/
/*   Team
/*------------------------------------------*/
.team-img .img-icons span i:hover{
    color: #ec5a29;
}

/*------------------------------------------*/
/*   Signup-Divider & Fast-Reg
/*------------------------------------------*/
.signup-divider .form-control:focus{
    border-color: #ec5a29;
}

.fast-reg .form-control:focus{
    background-color: #ec5a29;
    border-color: #ec5a29;
    box-shadow: none;
}

/*------------------------------------------*/
/*   Footer
/*------------------------------------------*/
.footer a:hover{
    color: #ec5a29;
}





