<section id="about" class="img-with-action light-bg">
    <div class="container wrapper-lg">
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <!-- Text Col -->
                <h3>Beheer vooraad, personeel en planningen met Digi Rent.</h3>
                <p>Als verhuurbedrijf is het hebben van controle over uw voorraad, projecten en planningen van groot belang. Dit zijn nog maar enkele voorbeelden van mogelijkheden die Digi Rent u te bieden heeft.</p>
                <!-- Call To Action Buttons -->
                <div class="btn-box">
                    <a href="#features" class="btn btn-grey scrollto">Lees meer</a>
                    <a href="#beta-register" class="btn btn-color scrollto"><i class="icon arrow_carrot-2dwnn_alt"></i>Test fase (béta) </a>
                </div>
                <!-- Div Required for Correct Charts Animation -->
                <div class="start-charts"></div>
            </div>
        </div><!-- /End Row-->
    </div><!-- /End Container-->
    <!-- Image Col -->
    <div class="hidden-sm hidden-xs col-md-6 img-col-bg img-right"></div>
</section>