    <section id="beta-register" class="dark-bg signup-divider">
        <div class="container">
            <div class="wrapper-lg">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-white">De BETA versie van Digi Rent is nabij!</h2>
                        <p class="large text-white">Vanaf 1 januari 2017 starten we met de GRATIS online test versie gedurende een half jaar!<br />Wees er snel bij, er zijn maar 25 plaatsen.</p>
                    </div>
                </div>

                <div class="row form-row">

                    {#<!-- Signup Form -->#}
                    {{ form_start(betaForm ,{action:path('web_index')}) }}
                    <div class="form-group {{ betaForm.firstname.vars.valid ? '':'has-error' }}">
                        {{ form_errors(betaForm.firstname) }}
                        {{ form_widget(betaForm.firstname) }}
                    </div>
                    <div class="form-group {{ betaForm.lastname.vars.valid ? '':'has-error' }}">
                        {{ form_errors(betaForm.lastname) }}
                        {{ form_widget(betaForm.lastname) }}
                    </div>
                    <div class="form-group {{ betaForm.email.vars.valid ? '':'has-error' }}">
                        {{ form_errors(betaForm.email) }}
                        {{ form_widget(betaForm.email) }}
                    </div>
                    <button class="btn btn-color">Registreer! <i class="icon arrow_right"></i></button>
                    {{ form_end(betaForm) }}
                    <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">
                        <!-- Notifications -->
                        <div id="br-success" class="alert alert-success" style="display:none"></div>
                    </div>
                </div><!-- /End Row -->
            </div><!-- /End Wrapper -->
        </div><!-- /End Container -->
    </section>
