<!-- ==================================================
           FEATURES SECTION
       ======================================================= -->
<section class="tab-features color-bg" id="features">
    <div class="container">
        <div class="features-title">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-white">Ontdek alle mogelijkheden</h2>
                    <p class="large text-white">Ervaar de 5 belangrijkste onderdelen wat Digi Rent zo geweldig maakt</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <!-- Features Tab -->
            <div class="tabs features tab-container">
                <ul class="etabs">
                    <!-- Feature Icon -->
                    <li class="tab">
                        <a href="#tab-feature-1">
                            <div class="icon-sm">
                                <i class="dr-warehouse"></i>
                            </div>
                            <h5 class="text-white">Voorraadbeheer</h5>
                        </a>
                    </li>
                    <!-- Feature Icon -->
                    <li class="tab">
                        <a href="#tab-feature-2">
                            <div class="icon-sm">
                                <i class="dr-projectmanagement"></i>
                            </div>
                            <h5 class="text-white">Projectmanagement</h5>
                        </a>
                    </li>
                    <!-- Feature Icon -->
                    <li class="tab">
                        <a href="#tab-feature-3">
                            <div class="icon-sm">
                                <i class="dr-administration"></i>
                            </div>
                            <h5 class="text-white">Administratie</h5>
                        </a>
                    </li>
                    <!-- Feature Icon -->
                    <li class="tab">
                        <a href="#tab-feature-4">
                            <div class="icon-sm">
                                <i class="dr-calendar"></i>
                            </div>
                            <h5 class="text-white">Planning en transport</h5>
                        </a>
                    </li>
                    <!-- Feature Icon -->
                    <li class="tab">
                        <a href="#tab-feature-5">
                            <div class="icon-sm">
                                <i class="dr-tools"></i>
                            </div>
                            <h5 class="text-white">Handige tools</h5>
                        </a>
                    </li>
                </ul><!-- /End Etabs -->

                <div class="panel-container">

                    <div class="tab-content" id="tab-feature-1">
                        <div class="container">
                            <div class="row">
                                <!-- Feature Description 2cols Text-Left with Buttons -->
                                <div class="col-md-5 col-sm-6">
                                    <h4>Er is geen betere raad dan voorraad.</h4>
                                    <p>Met Digi Rent kunt u uw magazijn met een handige tool helemaal namaken. Binnen een handomdraai maak je jouw magazijn aan, hetzij met een nieuwe of met een bestaande indeling.</p>
                                    <div class="tab-icon">
                                        <div class="icon-sm">
                                            <i class="icon icon-adjustments"></i>
                                        </div>
                                        <p class="large">Geautomatiseerd orders picken</p>
                                        <p>Pick uw orders met de mobiele applicatie waarbij u stapsgewijs uw materialen verzamelt. Doormiddel van barcode's op uw producten kunt u deze scannen. De applicatie houd bij welke materialen u nog nodig heeft en welke u al gehad heeft.</p>
                                    </div>
                                    <div class="tab-icon">
                                        <div class="icon-sm">
                                            <i class="icon icon-target"></i>
                                        </div>
                                        <p class="large">Altijd zicht op voorraden en tekorten</p>
                                        <p>Met Digi Rent komt u nooit voor verrassingen te staan, u weet ten allen tijden waar kritieke voorraden zich voordoen. Zodoende kunt u hier vroegtijdig op inspelen en dit voorkomen.</p>
                                    </div>
                                    <div class="btn-box">
                                        {#<a href="#testimonials" class="btn btn-grey scrollto">Our Clients</a>#}
                                        {#<a href="#team" class="btn btn-grey scrollto">Het Digi-team</a>#}
                                    </div>
                                </div>
                                <!-- Image-right -->
                                <div class="col-md-7 col-sm-6 hidden-xs wow fadeInRight" data-wow-duration="2s">
                                    <img src="{{ asset('bundles/page/img/features/feature1.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div><!-- /End Tab-content -->

                    <div class="tab-content" id="tab-feature-2">
                        <div class="container">
                            <div class="row">
                                <!-- Feature Description 2cols Text-Right with Icons -->
                                <div class="col-xs-12 col-sm-6 col-sm-push-6 col-lg-7 col-lg-push-5">
                                    <h4>Het beheren van uw projecten</h4>
                                    <p>Similique eaque esse praesentium laudantium deserunt quos incidunt sed porro maiores dolore voluptate quod quisquam.</p>
                                    <div class="tab-icon">
                                        <div class="icon-sm">
                                            <i class="icon icon-adjustments"></i>
                                        </div>
                                        <p class="large">Numerous Colour Schemes</p>
                                        <p> Ipsum, ratione. Dolor illo numquam dolorem consequuntur, ex vitae, ipsum tenetur nihil soluta. Eaque at laboriosam similique?</p>
                                    </div>
                                    <div class="tab-icon">
                                        <div class="icon-sm">
                                            <i class="icon icon-target"></i>
                                        </div>
                                        <p class="large">Tons of Elements</p>
                                        <p> Repudiandae expedita, non aperiam, ea quia dolorem quidem pariatur culpa explicabo voluptatem alias voluptas itaque similique officia.</p>
                                    </div>
                                </div>
                                <!-- Image-Left -->
                                <div class="col-xs-12 col-sm-6 col-sm-pull-6 col-lg-5 col-lg-pull-7 hidden-xs wow fadeInLeft" data-wow-duration="2s">
                                    <img src="{{ asset('bundles/page/img/features/feature2.png') }}" class="img-device" alt="">
                                </div>
                            </div>
                        </div>
                    </div><!-- / End Tab-content -->

                    <div class="tab-content" id="tab-feature-3">
                        <div class="container">
                            <div class="row">
                                <!-- Feature Description 2cols Text-Left -->
                                <div class="col-md-5 col-sm-6">
                                    <h4>SmartMvp is a fully responsive landing page template with awesome features and interactive elements.</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius non velit optio veniam reprehenderit quod! Maiores asperiores dolorem doloremque tempore reiciendis voluptatem expedita, tempora, deserunt ducimus impedit animi quis eum, itaque laudantium ea perferendis nisi.</p>
                                </div>
                                <!-- Image-Right -->
                                <div class="col-md-7 col-sm-6 hidden-xs wow fadeInRight" data-wow-duration="2s">
                                    <img src="{{ asset('bundles/page/img/features/feature3.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div><!-- /End Tab-content -->

                    <div class="tab-content" id="tab-feature-4">
                        <div class="container">
                            <div class="row">
                                <!-- Feature Description 2col Text-Left with Icons-->
                                <div class="col-md-7 col-sm-6">
                                    <h4>There are a lot of different blocks that will help you to make a perfect project.</h4>
                                    <p>Deserunt ducimus impedit animi quis eum, itaque laudantium ea perferendis nisi. Similique eaque esse.</p>
                                    <div class="tab-icon">
                                        <div class="icon-sm">
                                            <i class="icon icon-profile-male"></i>
                                        </div>
                                        <p class="large">Amazingly Simple Use</p>
                                        <p>Tempora, veniam. Tempore nihil praesentium obcaecati velit, harum nam dicta sequi quam sunt incidunt facilis itaque..</p>
                                    </div>
                                    <div class="tab-icon">
                                        <div class="icon-sm">
                                            <i class="icon icon-compass"></i>
                                        </div>
                                        <p class="large">Clear Documentation</p>
                                        <p>Officia illum, perferendis dolorum dolor sit eveniet, tempore incidunt animi totam qui voluptas, inventore velit illo!</p>
                                    </div>
                                </div>
                                <!-- Image Right -->
                                <div class="col-md-5 col-sm-6 hidden-xs wow fadeInRight" data-wow-duration="2s">
                                    <img src="{{ asset('bundles/page/img/features/feature4.png') }}" class="img-device" alt="">
                                </div>
                            </div>
                        </div>
                    </div><!-- /End Tab-content -->

                    <div class="tab-content" id="tab-feature-5">
                        <div class="container">
                            <div class="row">
                                <!-- Feature Description 2col Text both -->
                                <div class="col-xs-12">
                                    <div class="col-sm-6">
                                        <h4>Publish your Startup in Beautiful Way.</h4>
                                        <p>Similique eaque esse praesentium laudantium deserunt quos incidunt sed porro maiores dolore voluptate quod quisquam, architecto eos dicta quae magni vero unde necessitatibus. Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <h4>Take a Second and Explore it!</h4>
                                        <p>Inventore distinctio placeat fugiat reiciendis repudiandae et iste, aut sunt ad. Ab temporibus animi harum quo enim magnam rerum odit quos molestias ipsam! Perferendis eum nobis aliquid, facere modi quos, possimus deleniti labore sit cupiditate, culpa consequatur.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Image below -->
                                <div class="col-xs-12 hidden-xs wow fadeInUp" data-wow-duration="2s">
                                    <img src="{{ asset('bundles/page/img/features/feature5.png') }}" class="img-device" alt="">
                                </div>
                            </div>
                        </div>
                    </div><!-- / End Tab-content -->

                </div><!-- / End Panel-Container -->
            </div><!-- / End Tabs -->
        </div><!-- /End Col -->
    </div><!-- /End Row -->
</section>