<section class="pricing" id="pricing">
    <div class="container">
        <div class="wrapper-lg">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Wat het kost</h2>
                    <p class="large">Registreren is mogelijk na de Béta, de eerste 30 dagen zijn gratis!</p>
                </div>
            </div>

            <!-- Pricing Tabs-->
            <div class="row grid-md">
                <div class="col-sm-4">
                    <div class="pricing-tab">
                        <p class="price">€--<span>/mnd</span></p>
                        <h4>Hobby+</h4>
                        <ul class="pricing-features">
                            <li><i class="icon icon_check_alt2"></i> 1 beheeraccount</li>
                            <li><i class="icon icon_check_alt2"></i> 1 magazijn</li>
                            <li><i class="icon icon_check_alt2"></i> Basis statistieken</li>
                            <li><i class="icon icon_close_alt2"></i> Historie materiaal</li>
                            <li><i class="icon icon_currency"></i> Fee per factuur</li>
                            {#<li><i class="icon icon_close_alt2"></i> Geen medewerkers</li>#}
                            {#<li><i class="icon icon_close_alt2"></i> Geen planning</li>#}
                            {#<li><i class="icon icon_close_alt2"></i> Geen community toegang</li>#}
                            {#<li><i class="icon icon_close_alt2"></i> Geen blacklist toegang</li>#}
                        </ul>
                        <a href="#beta-register" class="btn btn-color scrollto">Béta</a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="pricing-tab">
                        {#<div class="ribbon">#}
                            {#<h5 class="popular">Populair</h5>#}
                        {#</div>#}
                        <p class="price">€--<span>/mnd</span></p>
                        <h4>MKB</h4>
                        <ul class="pricing-features">
                            <li><i class="icon icon_check_alt2"></i> 2 beheeraccounts</li>
                            <li><i class="icon icon_check_alt2"></i> 10 medewerkers</li>
                            <li><i class="icon icon_check_alt2"></i> 2 magazijnen</li>
                            <li><i class="icon icon_check_alt2"></i> Administratie</li>
                            <li><i class="icon icon_check_alt2"></i> Uitgebreide statistieken</li>
                            {#<li><i class="icon icon_check_alt2"></i> Planning personeel en transport</li>#}
                            {#<li><i class="icon icon_check_alt2"></i> Community toegang</li>#}
                            {#<li><i class="icon icon_check_alt2"></i> Blacklist toegang</li>#}
                        </ul>
                        <a href="#beta-register" class="btn btn-color scrollto">Béta</a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="pricing-tab">
                        <p class="price">€--<span>/mnd</span></p>
                        <h4>Professional</h4>
                        <ul class="pricing-features">
                            <li><i class="icon icon_check_alt2"></i> 4 beheeraccounts</li>
                            <li><i class="icon icon_check_alt2"></i> Onbeperkt medewerkers</li>
                            <li><i class="icon icon_check_alt2"></i> Onbeperkt magazijn</li>
                            <li><i class="icon icon_check_alt2"></i> Administratie</li>
                            <li><i class="icon icon_check_alt2"></i> Uitgebreide statistieken</li>
                            {#<li><i class="icon icon_check_alt2"></i> Planning personeel en transport</li>#}
                            {#<li><i class="icon icon_check_alt2"></i> Community toegang</li>#}
                            {#<li><i class="icon icon_check_alt2"></i> Blacklist toegang</li>#}
                        </ul>
                        <a href="#beta-register" class="btn btn-color scrollto">Béta</a>
                    </div>
                </div>
                <!-- Pricing Footer -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="pricing-more">
                            <p>
                                <strong>Speciale wensen?</strong><br />
                                Vertel ons wat je in gedachten hebt, dan ga wij aan de slag om daaraan te voldoen! Laat het ons wel
                                <strong> <a href="mailto:info@digi-rent.nl?SUBJECT=Digi Rent wensen">even weten <i class="icon arrow_carrot-right_alt2"></i></a></strong>.
                            </p>
                        </div>
                    </div>
                </div><!-- /End Row Pricing Footer -->
            </div><!-- /End Row Pricing Tab -->
        </div><!-- /End Wrapper -->
    </div><!-- /End Container -->
</section>