{# <section class="charts" id="charts">
         <div class="container">
             <div class="wrapper-lg">
                 <div class="row">
                     <div class="col-md-12">
                         <h2>Get out of the Building</h2>
                         <p class="large">Ideal for SaaS, Web Apps, Mobile Apps and all kind of Marketing websites.</p>
                     </div>
                 </div>

                 <div class="row doughnut-box">
                     <div class="col-md-5">
                         <!-- Div Required for Correct Line Chart Animation -->
                         <div class="start-line"></div>
                         <!-- Chart Text Description -->
                         <h4>Everything you need to get your Startup Business online and ready to go.</h4>
                         <p>Perferendis aliquid accusamus nostrum recusandae maxime dolor dolorum numquam pariatur quasi sit, in, culpa hic, fugiat dignissimos fuga necessitatibus tempore molestias ipsum corporis distinctio. Minima mollitia.</p>
                         <p><a href="#canvas-bg" class="scrollto"><strong>Join with us. It will only take a minute ›</strong></a></p>
                     </div>
                     <div class="col-md-7">
                         <!-- Doughnut Charts  -->
                         <div id="canvas-holder">
                             <div class="chart-text">
                                 100&#37;<span>Crafted with<br> Passion</span>
                             </div>
                             <canvas id="chart-area" width="400" height="400"></canvas>
                         </div>
                         <div id="canvas2-holder">
                             <div class="chart2-text">
                                 827<span>Cups of<br>Coffee</span>
                             </div>
                             <canvas id="chart2-area" width="300" height="300"></canvas>
                         </div>
                     </div>
                 </div><!-- /End Chart-Box -->

                 <div class="row chart-box">
                     <div class="col-md-6 col-md-push-6 col-sm-12">
                         <!-- Chart Text Description -->
                         <h4>SmartMvp <strong>breathes new life</strong> into your App, Product or Saas landing page.</h4>
                         <p>Exercitationem, hic commodi libero reprehenderit id iusto, consequatur unde pariatur recusandae dicta sequi voluptatum quae corrupti culpa quibusdam nihil error harum itaque praesentium quidem corporis cupiditate voluptatem. Error tempore aperiam nulla saepe corrupti!</p>
                         <p><a href="#features" class="scrollto"><strong>Learn how customize SmartMvp ›</strong></a></p>
                     </div>
                     <div class="col-md-6 col-md-pull-6 col-sm-12">
                         <!-- Line Chart -->
                         <div class="line-canvas">
                             <div>
                                 <canvas id="line-canvas" height="450" width="600"></canvas>
                             </div>
                         </div>
                     </div>
                 </div><!-- /End Chart-Box -->

                 <div class="row showcase">
                     <div class="col-md-4">
                         <h4>Fully Responsive Layout that will adapt itself to any mobile device.</h4>
                         <p>Praesentium voluptatem excepturi corporis labore architecto eos ea molestiae saepe facere at voluptate similique iusto porro pariatur, dolorum dolor magni sint eveniet iste. Eaque, aliquam, dignissimos.</p>
                         <p><a href="#mobile-download" class="scrollto"><strong>Download the App for your smartphone ›</strong></a></p>
                     </div>
                     <div class="col-md-8">
                         <!-- Devices Image -->
                         <div class="img-box">
                             <img src="/images/web/_theme/showcase.png" alt="" class="img-responsive">
                             <a href="http://youtu.be/SZEflIVnhH8" data-type="youtube" class="venobox video-player"><i class="icon arrow_triangle-right_alt2 wow fadeIn" data-wow-duration="2s"></i></a>
                         </div>
                     </div>
                 </div><!-- /End Chart-Box -->

             </div><!-- /End Wrapper -->
         </div><!-- /End Container -->
     </section>