<section class="intro-features" id="about">
    <div class="container">
        <!-- Padding -->
        <div class="wrapper-lg">
            <div class="row">
                <!-- Section Header Title -->
                <div class="col-xs-12">
                    <h2>Onze software biedt uitkomst aan verhuurbedrijven.</h2>
                    <p class="large">Bespaar tijd en focus meer op uw projecten.</p>
                </div>
            </div>
            <!-- Three Main Features with Icons -->
            <div class="row">
                <div class="col-sm-4 intro-content">
                    <div class="icon-lg">
                        <i class="icon icon-mobile"></i>
                    </div>
                    <h4>Eenvoud</h4>
                    <p>Digi Rent is zo ontworpen dat de weergave op elk apparaat optimaal is. Dit zal uw workflow ten goede komen.</p>
                </div>
                <div class="col-sm-4 intro-content">
                    <div class="icon-lg">
                        <i class="icon icon-browser"></i>
                    </div>
                    <h4>Controle</h4>
                    <p>Kom niet voor verrassingen te staan en wees altijd op de hoogte van de ontwikkelingen van uw materiaal.</p>
                </div>
                <div class="col-sm-4 intro-content">
                    <div class="icon-lg">
                        <i class="icon icon-documents"></i>
                    </div>
                    <h4>Eenvoud</h4>
                    <p></p>
                </div>
            </div><!-- /End Row -->
        </div><!-- /End Wrapper -->
    </div><!-- /End Container -->
</section>