<div class="column-title">
    <h4>Magazijnen</h4>
</div>
{% if warehouses is defined %}
<div style="display: flex;">
    <div class="ticket-list">
        {% if warehouses|length <= 4 %}
            {% set warehouses_length = warehouses|length-1 %}
        {% else %}
            {% set warehouses_length = 3 %}
        {% endif %}
        {% for i in 0..warehouses_length %}
            <div class="col-md-12 col-sm-6 col-xs-12 ticket-item">
                <a href="{{ path('app_warehouse_details', {id: warehouses[i].id}) }}" class="tab-btn ticket-item-tab">
                    <span class="ticket-state status-success">
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="hidden-sm hidden-md ticket-id ticket-id-success">{{ warehouses[i].code }}</span>
                    <span class="ticket-title">{{ warehouses[i] }}</span>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
<hr>
<div class="left-col-btn">
    <a href="#newMain" class="tab-btn">
        <i class="fa fa-plus"></i> Magazijn toevoegen
    </a>
</div>
<hr>
{% if warehouses|length > 4 %}
<a class="more-warehouses">Meer magazijnen <i class="fa fa-angle-double-down"></i></a>
{% endif %}
{% elseif warehouses is not defined %}
    <div class="ticket-options">
        <p>Voeg uw eerste magazijn toe.</p>
    </div>
{% endif %}

