<div class="column-title">
    <h4>Magazijn</h4>
</div>
<hr>
{% if warehouse.name is not null %}
<div>
    {% if warehouse.parent is not null %}
        <p>Bovenliggend: {{ warehouse.parent }} ({{ warehouse.parent.code }})</p>
        <hr>
    {% endif %}
    <p>Naam: {{ warehouse.name }}</p>
    <p>Type: {{ warehouse.typeString }}</p>
    <p>Aangemaakt: {{ warehouse.createdAt|date("Y-M-d") }}</p>
    <p>Laatst gewijzigd: {{ warehouse.updatedAt|date("Y-M-d") }}</p>
    <p>Code: {{ warehouse.code }}</p>
    <p>Slug: {{ warehouse.slug }}</p>
</div>
<hr>
{% else %}
<div>
    <p>Bovenliggend: {{ warehouse.parent }} ({{ warehouse.parent.code }})</p>
    <p>Naam: {{ warehouse.parent.name }}</p>
    <p>Type: {{ warehouse.parent.typeString }}</p>
    <p>Code: {{ warehouse.parent.code }}</p>
    <p>Slug: {{ warehouse.parent.slug }}</p>
</div>
<hr>
{% endif %}