<div id="{{ id is defined ? id }}" class="tab-pane fade in {% if id != "newMain" %}active{% endif %}">
    <div class="page-title">
        <div class="title-head">
            <div class="tab-title">
                <h4 style="margin-top: 0 !important; margin-bottom: 0 !important;">
                    {% if warehouse is defined and id != "index" %}
                        Wijzig magazijn
                    {% elseif id == "newsub" %}
                        Nieuwe sublocatie
                    {% else %}
                        Nieuw magazijn
                    {% endif %}
                </h4>
                <p style="margin: 0 !important; color:#708295;">
                    {% if warehouse.name is defined and id != "index" %}
                        Wijzig de bestaande magazijn locatie
                    {% elseif id == "newsub" %}
                        Voeg een nieuwe sublocatie toe aan magazijn: <b>{{ warehouse.parent.name }}</b> ({{ warehouse.parent.address.streetname }})
                    {% else %}
                        Voeg een nieuwe magazijn locatie toe
                    {% endif %}
                </p>
            </div>
            {% if warehouse is defined %}
            <div class="tab-options">
                <a href="{% if id != 'newMain' %}{{ path('app_warehouse_index') }}{% else %}#index{% endif %}" class="tab-btn">
                    <i class="fa fa-times"></i>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    <div id="warehouse-form" class="dr-form">
        {{ form_start(warehouse_form) }}
        <div class="form-group {{ warehouse_form.name.vars.valid ? '':'has-error' }} col-sm-4 no-padding-left">
            {{ form_label(warehouse_form.name) }}
            {{ form_widget(warehouse_form.name) }}
            {{ form_errors(warehouse_form.name) }}
        </div>
        <div class="form-group {{ warehouse_form.description.vars.valid ? '':'has-error' }} col-sm-8 no-padding-right">
            {{ form_label(warehouse_form.description) }}
            {{ form_widget(warehouse_form.description) }}
            {{ form_errors(warehouse_form.description) }}
        </div>
        {% if id == 'newMain' or id == 'edit' %}
        <div class="form-group {{ warehouse_form.address.zipcode.vars.valid ? '':'has-error' }} col-sm-4 no-padding-left">
            {{ form_label(warehouse_form.address.zipcode) }}
            {{ form_widget(warehouse_form.address.zipcode) }}
            {{ form_errors(warehouse_form.address.zipcode) }}
        </div>
        <div class="form-group {{ warehouse_form.address.housenumber.vars.valid ? '':'has-error' }} col-sm-4">
            {{ form_label(warehouse_form.address.housenumber) }}
            {{ form_widget(warehouse_form.address.housenumber) }}
            {{ form_errors(warehouse_form.address.streetname) }}
        </div>
        <div class="form-group {{ warehouse_form.address.housenumberExtra.vars.valid ? '':'has-error' }} col-sm-4 no-padding-right">
            {{ form_label(warehouse_form.address.housenumberExtra) }}
            {{ form_widget(warehouse_form.address.housenumberExtra) }}
            {{ form_errors(warehouse_form.address.housenumberExtra) }}
        </div>
        <div class="form-group {{ warehouse_form.address.streetname.vars.valid ? '':'has-error' }} col-sm-4 no-padding-left">
            {{ form_label(warehouse_form.address.streetname) }}
            {{ form_widget(warehouse_form.address.streetname) }}
            {{ form_errors(warehouse_form.address.streetname) }}
        </div>
        <div class="form-group {{ warehouse_form.address.city.vars.valid ? '':'has-error' }} col-sm-4 ">
            {{ form_label(warehouse_form.address.city) }}
            {{ form_widget(warehouse_form.address.city) }}
            {{ form_errors(warehouse_form.address.city) }}
        </div>
        <div class="form-group {{ warehouse_form.address.country.vars.valid ? '':'has-error' }} col-sm-4 no-padding-right">
            {{ form_label(warehouse_form.address.country) }}
            {{ form_widget(warehouse_form.address.country) }}
            {{ form_errors(warehouse_form.address.country) }}
        </div>
        {% endif %}
        {{ form_end(warehouse_form) }}
    </div>
</div>