<div id="index" class="tab-pane fade in active">
    <div class="page-title" style="width: 100%; height: 40px;">
        <div class="title-head" style="float:left; height: 40px; margin-bottom:10px; width:100%;">
            <div class="tab-title" style="float:left;">
                <h4 style="margin-top: 0 !important; margin-bottom: 0 !important;">Magazijn: {{ warehouse.name }} ({{ warehouse.code }})</h4>
                <p style="margin: 0 !important; color:#708295;">{{ warehouse.description }}</p>
            </div>
            <div class="tab-options">
                <a href="{{ path('app_warehouse_archive', {id: warehouse.id}) }}" class="tab-btn print">
                    <i class="fa fa-archive"></i>
                </a>
                <a href="{{ path('app_warehouse_edit', {id: warehouse.id }) }}" class="tab-btn print">
                    <i class="fa fa-edit"></i>
                </a>

                {% if warehouse.type < warehouse.types|length %}
                <a href="{{ path('app_warehouse_add_child', {id: warehouse.id}) }}" class="tab-btn print">
                    <i class="fa fa-plus"></i>
                </a>
                {% endif %}
                {#<a href="{{ path('app_warehouse_add_child', {id : warehouse.id})}}">#}
                    {#Sublocatie#}
                    {#<i class="fa fa-plus" style="padding-left:5px;"></i>#}
                {#</a>#}
            </div>
        </div>
    </div>
    <div class="row">
    {% if warehouse.children|length  %}
        {% include '@Warehouse/includes/WarehouseTemplate.html.twig' with { 'warehouse': warehouse.children } %}
    {% else %}
        <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Code</th>
                <th>Naam</th>
                <th>Locaties</th>
                <th>Aangemaakt op</th>
                <th>Laatst gewijzigd</th>
                <th>Actie</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    {% endif %}
    </div>
</div>