<table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Code</th>
        <th>Naam</th>
        <th>Locaties</th>
        <th>Aangemaakt op</th>
        <th>Laatst gewijzigd</th>
        <th>Actie</th>
    </tr>
    </thead>
    <tbody>
    {% for location in warehouse %}
        <tr>
            <td>{{ location.code }}</td>
            <td><a href="{{ path('app_warehouse_details', {id: location.id}) }}">{{ location.name }}</a></td>
            <td>{{ location.children|length }}</td>
            <td>{{ location.createdAt|date('d/m/y') }}</td>
            <td>{{ location.updatedAt|date('d/m/y') }}</td>
            <td>
                <a href="{{ path('app_warehouse_edit', {id: location.id}) }}">
                    <i class="fa fa-edit"></i>
                </a>
                {% if location.type < location.types|length %}
                <a href="{{ path('app_warehouse_add_child', {id : location.id})}}">
                    <i class="fa fa-plus"></i>
                </a>
                {% endif %}
                <a href="{{ path('app_warehouse_delete', {id : location.id})}}">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>