body, html {
    height: 100%;
    background: #34495e;
}

html {
    -webkit-font-smoothing: antialiased !important;
}

.no-padding-left{
    padding-left: 0 !important;
}
.no-padding-right{
    padding-right: 0 !important;
}

.no-padding, #datatable_wrapper > .row > div{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.sf-dump {
    width: 300px;
}
/* Menu main BG */
.menu-bg{
    background-color: #34495e;
}

/* Inactive submenu item + text color */
.menu_icon{
    background-color: #b7c2c4;
}

/* Subject colors */
.warehouse{
    background-color: #16a085 !important;
}
.schedule{
    background-color: #e74c3c !important;
}
.projects{
    background-color: #f39c12 !important;
}
.relations{
    background-color: #2980b9 !important;
}

/* Main bar border bottom */
.border-bottom{
    border-color: #a6b0b9 !important;
    color: #a6b0b9 !important;
    border-bottom: solid thin !important;
}

/* Search bar border right */
.border-right{
    border-color: #a6b0b9 !important;
    color: #a6b0b9 !important;
    border-right: solid thin !important;
}

.image-cirlce{
    border-radius: 50%;
}

@media (max-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .navbar-side {
        z-index: 1020;
        position: absolute;
        top: 90px;
        width: 225px;
        border-radius: 0;
    }
    .navbar-side .side-nav {
        position: relative;
        width: 225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
    }

    .navbar-side ul.side-nav {
        background-color: transparent;
    }

    .navbar-side .side-nav > li > a {
        text-decoration: none !important;
        width: 225px;
    }

    .navbar-side .side-nav > li.active > a:hover {
        background-color: #243342 !important;
    }

    .navbar-side li.nav-search {
        border-top: 1px solid #54677a;
    }

    .navbar-side .side-nav > li > a:hover {
        color: #fff !important;
        background-color: #3d566e !important;
    }

    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }

    .navbar-collapse.in {
        overflow-y: visible;
    }

    .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-side {
        z-index: 1020;
        position: absolute;
        top: 90px;
        width: 225px;
        border-radius: 0;
    }

    .navbar-header {
        float: left;
    }
}

@media(max-width: 767px){
    #page-wrapper{
        margin-top: 90px;
    }

    .navbar-top{
        position:fixed;
        width:100%;
    }
    .tabmenu > ul > li > a,
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background-color: #556f88;
        color: #e7eced !important;
        margin-right: 2px;
        border: thin solid #a6b0b9;
        border-bottom-color: transparent !important;
        border-radius: 0 !important;
        height: 47px;
        line-height: 16px;
        padding: 15px 18px !important;
        text-align: center;
        font-size: 15px;
    }
    .navbar-top .dropdown-user {
        left: -80px;
    }

    .nav-tabs > li > a > i{
         width: 100%;
         text-align: center;
         font-size: 15px;
    }

    .logo-container{
         margin-left: -26px !important;
    }
    .navbar-right{
        float: right !important;
    }

    .tab-options > a.print{
        display: none;
    }

    .navbar-top {
        height: 60px !important;
        max-height: 60px !important;
    }

    .logo-container{
        margin-left: -17px !important;
        padding-top: 15px;
        height: 28px;
        width: 35px;
    }
    .dr-logo{
        height: 28px;
        width: 35px;
    }
    #page-wrapper{
        margin: 60px 0 0 0 !important;
    }

    .navbar-top>.nav-top>.nav>li>a{
        height: 59px !important;
        padding-top: 19px !important;
    }

    .navbar-top .number{
        bottom: 30px !important;
    }

    .navbar-top .subnumber{
        bottom: 0 !important;
    }

    div.st-pusher{
        height: calc(100% - 60px) !important;
    }

    .chat-box{
        height: 100% !important;
        min-height: 200px;
    }
}

/* Wrappers */
#wrapper {
    width: 100%;
    height: 100%;
}

#page-wrapper {
    padding: 0 !important;
    border: none;
    background-color: #ebedef;
    min-height: 100%;
    margin: 90px 0 0 0;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

@media(min-width:768px) {

    .content-container{
        padding: 0 25px;
    }
    .page-content {
        opacity: 0;
        -webkit-transition: opacity 0.5s linear;
        -moz-transition: opacity 0.5s linear;
        -o-transition: opacity 0.5s linear;
        transition: opacity 0.5s linear;
    }

    .page-content-ease-in {
        opacity: 1;
    }

    div#wrapper > div.st-pusher > div#page-wrapper {
        margin-left: 225px;
        -webkit-transform: translate3d(-225px, 0, 0);
        transform: translate3d(-225px, 0 , 0);
    }
}

div.st-pusher{
    height: calc(100% - 90px);
}

/* START LOGO MENU */
.logo-container{
    padding-top: 19px;
    width: 52px;
    height: 48px;
    position: absolute;
    left: 50%;
    margin-left: 87px; /* 50% of menu width (112px) - 50% logo width */
}

.logo-container > img{
    position: relative;
    width: 52px;
    height: 48px;
    left: -50%;
}
/* END LOGO MENU */

/* START TOP NAVIGATION */
nav.navbar-top .fa {
    font-size: 20px !important;
}

.navbar-top {
    height: 90px;
    max-height: 90px;
    margin-left: 0;
    background-color: #fff;
    z-index: 200;
}

.navbar-brand{
    padding: 0 !important;
    font-size: 13px;
    color: #fff;
}
div.user-details{
    padding-left: 10px;
    float:left;
    position: relative;
}

div.user-details> a.user{
    display: block;
    font-size: 14px;
    padding-top: 5px;
}
div.user-details > a.company{
    display: block;
    font-size: 12px;
}
div.user-details > a {
    color: #fff !important;
    text-decoration: none;
    font-family: "Effra-medium", "Helvetica Neue", Helvetica, arial, sans-serif !important;
}
div.user-details > a:hover {
     text-decoration: underline !important;
}

.navbar-top .navbar-brand a {
    display: inline-block;
    transition: all ease-in-out .5s;
}

.navbar-top .navbar-brand a:hover {
    opacity: 0.7;
}

.navbar-top .navbar-left {
    float: left;
}

.navbar-top .navbar-header {
    background-color: #142434;
}

.navbar-top .navbar-toggle {
    margin-top: 6px;
    margin-bottom: auto;
    border-color: #999;
    outline: none;
    color: #333;
    background-color: #fff;
}

.navbar-top .navbar-toggle:active,
.navbar-top .navbar-toggle:focus,
.navbar-top .navbar-toggle:hover {
    background-color: #fff;
}

.navbar-top .dropdown-toggle {
    padding: 0 15px 0 15px;
}

.dropdown-label{
    font-size: 17px !important;
}
.dropdown-label > i{
    padding-left: 8px;
}
.navbar-right > li > a.dropdown-label:hover > i{
  color: #34495e !important;
}

.navbar-top .nav-top {
    margin-left: 15px;
}

.navbar-top>.nav-top>.nav>li {
    display: inline-block;
    float: left;
}
.navbar-right .dropdown-menu{
    margin-top: 1px !important;
}

.dropdown-menu .divider{
    margin: 10px 0 !important;
    background-color: #C7C7C7 !important;
}
ul.nav.navbar-right > li > ul > li.current, ul.nav.navbar-right > li > ul > li.current > a:hover {
    background-color: #E0E0E0 !important;
    cursor: default;
}

.navbar-top>.nav-top>ul.navbar-right>li {
    margin-right: 5px;
}

.navbar-top>.nav-top>ul.navbar-right>li:last-child {
    margin-right: 20px;
}

.navbar-top>.nav-top>.nav>li>a {
    height: 89px;
    padding-top: 35px;
    color: #849595 !important;

}

/* Hamburger icon hover and focus */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus,
.navbar-top>.nav-top>.nav>li>a:hover,
.navbar-top>.nav-top>.nav>li>a:focus {
    color: #34495e !important;
    background-color: #fff !important;
}

ul.dropdown-menu > li > a > i.fa {
    display: inline-block;
    position: relative;
    margin: 0;
    left: 8px;
}

.dropdown-menu {
    border-top: none !important;
    margin-right: 10px !important;
    border-radius: 0 !important;
}

.dropdown-menu > li > a {
    text-align: right !important;
}

.navbar-top .dropdown-messages {
    left: 0;
    min-width: 280px;
    border-color: #8bd0c2;
}

.navbar-top .dropdown-alerts {
    left: -60px;
    min-width: 280px;
    border-color: #f9ce89;
}

.navbar-top .dropdown-tasks {
    left: -119px;
    min-width: 280px;
    border-color: #94c0dc;
}

.navbar-top .dropdown-user {
    margin: 0;
    min-width: inherit;
}

.navbar-top .dropdown-scroll {
    margin: 0;
    padding: 0;
}

.navbar-top .dropdown-scroll .dropdown-header {
    padding: 15px 10px;
}

.navbar-top .dropdown-scroll .dropdown-header:active,
.navbar-top .dropdown-scroll .dropdown-header:focus,
.navbar-top .dropdown-scroll .dropdown-header:hover {
    color: inherit;
    background: inherit;
}

.navbar-top .dropdown-scroll li {
    margin: 0;
    border-bottom: 1px solid #ccc;
    background: #fff;
}

.navbar-top .dropdown-scroll li:last-child {
    border-bottom: none;
}

.navbar-top .dropdown-scroll li a {
    display: block;
    padding: 10px;
}

.navbar-top .dropdown-scroll li a:hover {
    text-decoration: none;
    background-color: inherit;
}

.navbar-top .dropdown-scroll .dropdown-footer {
    display: block;
    border-top: 1px solid #ccc;
    border-bottom: none;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.navbar-top .dropdown-scroll p {
    margin: 0;
}

.navbar-top .dropdown-scroll li a,
.navbar-top .dropdown-scroll li a:hover,
.navbar-top .dropdown-messages li a:hover,
.navbar-top .dropdown-alerts li a:hover,
.navbar-top .dropdown-tasks li a:hover {
    color: #333;
}

.navbar-top .messages-link,
.navbar-top .messages-link:hover,
.navbar-top .messages-link:focus,
.navbar-top .dropdown-messages .dropdown-header,
.navbar-top .dropdown-messages .dropdown-header:hover,
.navbar-top .dropdown-messages .dropdown-footer,
.navbar-top .dropdown-messages .dropdown-footer a,
.navbar-top .dropdown-messages .dropdown-footer a:hover {
    color: #fff;
    background: #16a085 !important;
}

.navbar-top .alerts-link,
.navbar-top .dropdown-alerts .dropdown-header,
.navbar-top .dropdown-alerts .dropdown-header:hover,
.navbar-top .dropdown-alerts .dropdown-footer,
.navbar-top .dropdown-alerts .dropdown-footer a,
.navbar-top .dropdown-alerts .dropdown-footer a:hover {
    color: #fff;
    background: #f39c12 !important;
}

.navbar-top .alert-icon {
    width: 25px;
    margin-right: 5px;
    text-align: center;
    color: #fff;
}

.navbar-top .tasks-link,
.navbar-top .dropdown-tasks .dropdown-header,
.navbar-top .dropdown-tasks .dropdown-header:hover,
.navbar-top .dropdown-tasks .dropdown-footer,
.navbar-top .dropdown-tasks .dropdown-footer a,
.navbar-top .dropdown-tasks .dropdown-footer a:hover {
    color: #fff;
    background: #2980b9 !important;
}

.navbar-top .dropdown-tasks .progress {
    height: 10px;
    margin-bottom: 5px;
    border-radius: 0;
}

.navbar-top .number {
    color: #fff;
    position: absolute;
    bottom: 48px;
    left: 22px;
    width: 20px;
    height: 20px;
    padding-right: 1px;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    line-height: 20px;
    background-color: #e0421c;
}
.navbar-top .subnumber {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    margin: 0;
    bottom: 2px;
    left: 8px;
}
@media(max-width:470px) {
    .nav-tabs > li {
        width: 100%;
    }

    .nav-tabs > li.first {
        padding: 0 !important;
    }

    .nav-tabs > li.last {
        border-color: #a6b0b9 !important;
        border-bottom: solid thin !important;
    }

    .tab-column-right {
        margin-top: 40px !important;
        padding-left: 0 !important;
        border-left: none !important;
    }

    .portlet {
        border-top: 0 !important;
    }

    .tabmenu > ul > li.active > a,
    .tabmenu > ul > li.active:focus > a,
    .tabmenu > ul > li.active:hover > a {
        background-color: #fff;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
    .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
    .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
    .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
    .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
    .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
    .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
    .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
    .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
    .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
    .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
    .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding: 0;
        margin: 0;
    }
    .tab-options > a {
        margin-left: 5px !important;

    }
    .tab-options{
        margin-right: 5px !important;
    }
}


@media(min-width: 768px ) and (max-width: 991px){
    .ticket-list > .col-sm-6:nth-child(odd) {
        padding-right: 9px;
    }
    .ticket-list > .col-sm-6:nth-child(even) {
        padding-left: 9px;
    }
}
@media(min-width: 471px ) and (max-width: 991px){
    .tab-column-right{
        margin-top: 0 !important;
        border-left: none !important;
    }
    .tab-column-left{
        padding-top: 0 !important;
    }

    .portlet .portlet-body {
        padding: 25px !important;
    }
}

@media(max-width: 991px){

    .nav-stacked > li{
        float: left !important;
    }
    .content-row{
        display: block !important;
    }
    .content-row > .tab-column-left, .content-row > .tab-column-right{
        display: block !important;
        float: left !important;
    }
}

@media(min-width:768px) {
    .navbar-top {
        z-index: 1030;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        border-radius: 0;
    }

    .navbar-top .navbar-header {
        width: 225px;
        height: 90px;
    }

    .navbar-header{
        padding: 20px 15px;
    }

    .navbar-header.main > a > img {
        width: 48px;
        float: left;
        position: relative;
        border-radius: 50%;

    }

    /*.navbar-header.main > a > span {*/
        /*color: #fff;*/
        /*font-family: "Effra-light-regular", arial, sans-serif;*/
        /*font-size: 14px;*/
    /*}*/

    .navbar-top .navbar-left {
        display: inherit;
    }

    .navbar-top #sidebar-toggle {
        display: inline-block;
        padding: 35px 20px 0 25px !important;
    }

    .navbar-top .nav-top {
        margin-right: 15px;
        text-align: inherit;
    }

    .navbar-top .dropdown-messages,
    .navbar-top .dropdown-alerts,
    .navbar-top .dropdown-tasks {
        left: inherit;
        width: 300px;
    }

    .navbar-top .dropdown-scroll li a:hover {
        text-decoration: none;
    }

    .navbar-top .dropdown-messages li a:hover {
        background-color: #e8f6f3;
    }

    .navbar-top .dropdown-alerts li a:hover {
        background-color: #fef5e8;
    }

    .navbar-top .dropdown-tasks li a:hover {
        background-color: #eaf3f8;
    }

    .navbar-top .name {
        display: inherit;
        float: left;
        margin-right: 5px;
    }
}
/* STOP TOP NAVIGATION*/

/* START SIDE NAVIGATION */

#side > li > a > i{
    color: #fff !important;
}

.navbar-side .navbar-collapse {
    max-height: none;
    border: none;
    padding: 0 !important;
}

.navbar-side li.side-user {
    display: block;
    width: 100%;
    padding: 15px;
    border-top: none !important;
    border-bottom: 1px solid #142638;
    text-align: center;
}

.navbar-side .side-user img {
    display: block;
    margin-bottom: 15px;
    margin-left: 20px;
}

.navbar-side .side-user .welcome {
    margin: 0;
    font-style: italic;
    color: #9aa4af;
}

.navbar-side .side-user .welcome .fa {
    padding-right: 0;
}

.navbar-side .side-user .name {
    margin: 0;
    font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #ccd1d7;
}

.navbar-side .side-user .name .last-name {
    font-weight: 400;
    color: #fff;
}

#sb-search{
    height: 45px;
}

.navbar-side .nav-search {
    padding: 15px;
    border-top: none;
}

.navbar-side .nav-search:hover {
    background: none;
}

.navbar-side .nav-search input {
    padding-right: 30px;
    border-radius: 0;
}

.navbar-side .nav-search button {
    position: absolute;
    top: 15px;
    right: 5px;
    background-color: transparent;
}

.navbar-side .nav-search .btn:focus,
.navbar-side .nav-search .btn:active {
    outline: none;
    box-shadow: none;
}

.navbar-side ul.side-nav {
    font-family: "Effra-medium", "Helvetica Neue", Helvetica, arial, sans-serif !important;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    background-color: #34495e;
}

.navbar-side .navbar-nav>li>a:focus,
.navbar-side .navbar-nav>li>a:hover,
.navbar-side .navbar-nav>li>a:active {
    outline: none;
    color: #fff;
    background-color: #34495e;
}

.navbar-side .navbar-nav>li>a{
    outline: none;
    color: #fff;
}

.navbar-side .side-nav li,
.navbar-side .side-nav li.panel {
    /*border-top: 1px solid #54677a;*/
    /*border-bottom: 1px solid #142638;*/
}

.navbar-side .side-nav li.panel ul li {
    border-top: none;
    border-bottom: none;
}

.navbar-side .side-nav li.panel ul li a:hover,
.navbar-side .side-nav li.panel ul li a:focus {
    background-color: #eff3f4;
}

/*.navbar-side .side-nav li.panel ul li a:hover,*/
/*.navbar-side .side-nav li.panel ul li a:focus,*/
/*.navbar-side .side-nav li.panel ul li a:active,*/
/*.navbar-side .side-nav li.panel ul li .active {*/
/*color: #333;*/
/*background-color: #000;*/
/*}*/

.navbar-side .side-nav li.panel ul li {
    background-color: #fff;
}

.navbar-side .side-nav li.panel i.fa,
.navbar-side .side-nav li i.fa {
    padding-right: 10px;
}

.navbar-side .side-nav li.panel ul li a {
    padding-left: 20px;
}

.navbar-side .side-nav .fa-caret-down {
    float: right;
    margin-top: 2px;
    margin-right: -10px;
}

.navbar-side .side-nav > li.active {
    background-color: #243342 !important;
}

.navbar-side .side-nav li.panel ul li.active,
.navbar-side .side-nav li.panel ul li.active a:hover{
    background-color: #e0e7e8 !important;
}

@media(min-width:768px) {

    .navbar-side {
        z-index: 1020;
        position: absolute;
        top: 90px;
        width: 225px;
        border-radius: 0;
    }

    .navbar-side .side-nav {
        position: relative;
        width: 225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
    }

    .navbar-side ul.side-nav {
        background-color: transparent;
    }

    .navbar-side .side-nav > li > a {
        text-decoration: none !important;
        width: 225px;
    }

    .navbar-side .side-nav > li.active > a:hover {
        background-color: #243342 !important;
    }

    .navbar-side li.nav-search {
        border-top: 1px solid #54677a;
    }

    .navbar-side .side-nav > li > a:hover {
        color: #fff;
        background-color: #3d566e;
    }
}
/* END SIDE NAVIGATION */

/* START PAGE TEXT */
.page-title > h1{
    font-size: 30px;
    font-family: "Effra-regular", "Helvetica Neue", arial, sans-serif !important;
}
/* END PAGE TEXT */

/* START SEARCH BAR */
.sb-search {
    position: relative;
    margin-top: 10px;
    width: 0;
    min-width: 40px;
    height: 40px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    transition: width 0.5s;
    -webkit-backface-visibility: hidden;
}

.sb-search-input {
    font-family: "Effra-light-regular", arial, sans-serif;
    font-size: 14px;
    color: #34495e;
    position: relative;
    float: left;
    border: none;
    outline: none;
    background: #fff;
    width: 184px;
    height: 45px;
    margin: 0;
    z-index: 10;
    padding: 10px 20px 10px 20px;
}

.sb-search-input::-webkit-input-placeholder {
    color: #849595;
}

.sb-search-input:-moz-placeholder {
    color: #849595;
}

.sb-search-input::-moz-placeholder {
    color: #849595;
}

.sb-search-input:-ms-input-placeholder {
    color: #849595;
}

.sb-icon-search,
.sb-search-submit  {
    width: 40px;
    height: 45px;
    position: absolute;
    float: left;
    padding: 0;
    margin: 0;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
}

.sb-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}

.dr-search {
    background: #fff;
    width: 41px;
    height: 45px;
    position: absolute;
    float: left;
    padding: 0;
    margin: 0;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
}

.sb-icon-search:before {
    content: "\e000";
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
    width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
    background: #da6d0d;
    color: #fff;
    z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
    z-index: 90;
}
/* END SEARCH BAR */

/* START NAV TABS */
.tabmenu{
    margin-top: 50px !important;
}
.nav-tabs > li:first-child{
    padding-left: 25px;
}

.nav-tabs > li > a > span.number{
    color: #fff;
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    margin: 0;
    bottom: 2px;
    left: 8px;
    padding-right: 1px;
    border-radius: 15%;
    text-align: center;
    font-size: 11px;
    line-height: 20px;
    background-color: #34495e;
}
.nav-tabs{
    border-bottom: 0 !important;
    margin-top: 50px !important;
}
.nav-tabs-small{
    width: 100% !important;
    position: relative !important;
    float: left !important;
    margin-top: -18px !important;
}
.nav-tabs > li > a:hover > span.number{
    background-color: #556f88 !important;
}
.nav-tabs > li.active > a > span.number{
    background-color: #556f88 !important;
}

.tab-right{
    border: thin solid #a6b0b9;
    border-bottom-color: transparent;
}

.page_settings {
    float: right !important;
    padding-right: 40px;
}

.page_settings > a {
    background-color: #f3f6f7 !important;
}

.nav-tabs > li {
    font-family: "Effra-regular", arial, sans-serif !important;
    font-size: 17px;
    margin-bottom: -1px !important;
    margin-right: -3px !important;
}

.nav-tabs > li.page_settings > a{
    padding: 10px 20px !important;
}

.nav-tabs > li > a {
    padding: 10px 40px !important;
    background-color: #556f88;
    color: #e7eced !important;
    margin-right: 2px;
    line-height: 1.42857;
    border: thin solid #a6b0b9;
    border-bottom-color: transparent !important;
    border-radius: 0 !important;
    height: 47px;
}

.nav > li > a:focus{
    background-color: #556f88;
}

.nav-tabs > li > a:hover {
    border-color: #a6b0b9 #a6b0b9 #a6b0b9;
    background-color: #34495e;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    background-color: #fff;
    color: #243342 !important;
    text-decoration: none !important;
    border: thin solid #A6B0B9;
    border-bottom-color: transparent;
    cursor: default; }
/* END NAV TABS */

/* START CONTENT CONTAINER */
.content-container{
    margin: 0 !important;
}

.content-row{
    background-color: #fff;
    padding: 25px 12px;
    margin-bottom: 25px;
    border: solid thin #a6b0b9 !important;
}
/* END CONTENT CONTAINER */

.left-col-btn{
    margin-top: 15px;
    width:100%;
    display:table;
    height: 45px;
    text-align: center;
}

.left-col-btn > a{
    color: #34495e;
    background-color: #f3f6f7;
    height:45px;
    vertical-align: middle;
    width: 100%;
    display:table-cell;
    font-size: 18px;
}
.left-col-btn > a.active{
    text-decoration: underline !important;
}

.left-col-btn > a:hover{
    background-color: #e4e7e8;
    text-decoration: none !important;
}

.left-col-btn > a > i{
    color: #34495e;
    font-size: 20px;
    position: relative;
    padding-right: 25px;
}

/* START PORTLET */
.portlet {
    margin-bottom: 15px;
}

.portlet {
    border: 1px solid;
}

.portlet .portlet-heading {
    padding: 0 15px;
}

.portlet .portlet-heading h4 {
    padding: 1px 0;
    font-size: 16px;
}

.portlet .portlet-heading a {
    color: #fff;
}

.portlet .portlet-heading a:hover,
.portlet .portlet-heading a:active,
.portlet .portlet-heading a:focus {
    outline: none;
}

.portlet .portlet-widgets .dropdown-menu a {
    color: #333;
}

.portlet .portlet-widgets ul.dropdown-menu {
    min-width: 0;
}

.portlet .portlet-heading .portlet-title {
    float: left;
}

.portlet .portlet-heading .portlet-title h4 {
    margin: 10px 0;
}

.portlet .portlet-heading .portlet-widgets {
    float: right;
    margin: 8px 0;
}

.portlet .portlet-heading .portlet-widgets .tabbed-portlets {
    display: inline;
}

.portlet .portlet-heading .portlet-widgets .divider {
    margin: 0 5px;
}

.portlet .portlet-body {
    padding: 40px;
    background: #fff;
}

.portlet .portlet-footer {
    padding: 10px 15px;
    background: #e0e7e8;
}

.portlet .portlet-footer ul {
    margin: 0;
}

.portlet-green,
.portlet-green>.portlet-heading {
    border-color: #16a085;
}

.portlet-green>.portlet-heading {
    color: #fff;
    background-color: #16a085;
}

.portlet-orange,
.portlet-orange>.portlet-heading {
    border-color: #f39c12;
}

.portlet-orange>.portlet-heading {
    color: #fff;
    background-color: #f39c12;
}

.portlet-blue,
.portlet-blue>.portlet-heading {
    border-color: #2980b9;
}

.portlet-blue>.portlet-heading {
    color: #fff;
    background-color: #2980b9;
}

.portlet-red,
.portlet-red>.portlet-heading {
    border-color: #e74c3c;
}

.portlet-red>.portlet-heading {
    color: #fff;
    background-color: #e74c3c;
}

.portlet-purple,
.portlet-purple>.portlet-heading {
    border-color: #8e44ad;
}

.portlet-purple>.portlet-heading {
    color: #fff;
    background-color: #8e44ad;
}

.portlet-default,
.portlet-dark-blue,
.portlet-default>.portlet-heading,
.portlet-dark-blue>.portlet-heading {
    border-color: #c9d1d2;
}

.portlet-default>.portlet-heading,
.portlet-dark-blue>.portlet-heading {
    color: #fff;
    background-color: #34495e;
}

.portlet-basic,
.portlet-basic>.portlet-heading {
    border-color: #333;
}

.portlet-basic>.portlet-heading {
    border-bottom: 1px solid #333;
    color: #333;
    background-color: #fff;
}

@media(min-width:768px) {
    .portlet {
        margin-bottom: 30px;
    }
}
/* END PORTLET */

/* Bootstrap Overrides

      ,o888888o.  `8.`888b           ,8' 8 8888888888   8 888888888o.   8 888888888o.    8 8888 8 888888888o.      8 8888888888     d888888o.
   . 8888     `88. `8.`888b         ,8'  8 8888         8 8888    `88.  8 8888    `88.   8 8888 8 8888    `^888.   8 8888         .`8888:' `88.
  ,8 8888       `8b `8.`888b       ,8'   8 8888         8 8888     `88  8 8888     `88   8 8888 8 8888        `88. 8 8888         8.`8888.   Y8
  88 8888        `8b `8.`888b     ,8'    8 8888         8 8888     ,88  8 8888     ,88   8 8888 8 8888         `88 8 8888         `8.`8888.
  88 8888         88  `8.`888b   ,8'     8 888888888888 8 8888.   ,88'  8 8888.   ,88'   8 8888 8 8888          88 8 888888888888  `8.`8888.
  88 8888         88   `8.`888b ,8'      8 8888         8 888888888P'   8 888888888P'    8 8888 8 8888          88 8 8888           `8.`8888.
  88 8888        ,8P    `8.`888b8'       8 8888         8 8888`8b       8 8888`8b        8 8888 8 8888         ,88 8 8888            `8.`8888.
  `8 8888       ,8P      `8.`888'        8 8888         8 8888 `8b.     8 8888 `8b.      8 8888 8 8888        ,88' 8 8888        8b   `8.`8888.
   ` 8888     ,88'        `8.`8'         8 8888         8 8888   `8b.   8 8888   `8b.    8 8888 8 8888    ,o88P'   8 8888        `8b.  ;8.`8888
      `8888888P'           `8.`          8 888888888888 8 8888     `88. 8 8888     `88.  8 8888 8 888888888P'      8 888888888888 `Y8888P ,88P'

*/

.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

hr{
    border-top: 2px solid #dde0e1 !important;
}

.form-control:focus {
    border-color: #34495e;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
}

ol.breadcrumb li.pull-right:before {
    content: normal;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.modal,
.accordion-toggle:focus,
.btn:focus {
    outline: none;
}

.navbar-side .side-nav > .panel {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}

.panel {
    box-shadow: none;
}

.table > thead > tr > td.active,
.table > thead > tr > th.active, .table > thead > tr.active > td, .table > thead > tr.active > th,
.table > tbody > tr > td.active,
.table > tbody > tr > th.active,
.table > tbody > tr.active > td,
.table > tbody > tr.active > th,
.table > tfoot > tr > td.active,
.table > tfoot > tr > th.active,
.table > tfoot > tr.active > td,
.table > tfoot > tr.active > th {
    background-color: #b4ccb9;
}

.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover, .table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr:hover > .active, .table-hover > tbody > tr.active:hover > th {
    background-color: #A1CAB2; }

.input-group-sm>.form-control,
.input-group-sm>.input-group-addon,
.input-group-sm>.input-group-btn>.btn,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.list-group-item:first-child,
.list-group-item:last-child,
.modal-flex,
.btn-square,
.squared,
.form-control,
.input-group-addon,
.input-group-btn .btn,
.dropdown-menu,
.panel-group .panel,
.panel-group .panel-heading,
.breadcrumb,
.nav-tabs > li > a {
    border-radius: 0;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    background-color: #34495e;
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus,
.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus,
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    border-color: #34495e;
    background-color: #34495e;
}

/*.nav-tabs,*/
/*.nav-pills {*/
    /*margin-bottom: 10px;*/
/*}*/

a.list-group-item:hover,
a.list-group-item:focus,
/*.nav-tabs > li > a:hover,*/
/*.nav-tabs > li > a:focus,*/
.nav-pills > li > a:hover,
.nav-pills > li > a:focus,
/*.nav-tabs .open > a,*/
/*.nav-tabs .open > a:hover,*/
/*.nav-tabs .open > a:focus,*/
.nav-pills .open > a,
.nav-pills .open > a:hover,
.nav-pills .open > a:focus,
/*.nav-tabs ul.dropdown-menu > li > a:hover,*/
/*.nav-tabs ul.dropdown-menu > li > a:focus,*/
.nav-pills ul.dropdown-menu > li > a:hover,
.nav-pills ul.dropdown-menu > li > a:focus {
    background-color: #ecf0f1;
}

.nav-tabs .open > a,
.nav-tabs .open > a:hover,
.nav-tabs .open > a:focus {
    border-color: #35495e;
}

/* -- Custom Radio Button and Checkbox Styles */

.radio,
.checkbox {
    min-height: 18px;
}

input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"],
input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    border: 1px solid #dcdcdc;
    border-width: 0\0;
    border-radius: 1px;
    background: white;
}

input[type="radio"]:focus,
.radio input[type="radio"]:focus,
.radio-inline input[type="radio"]:focus,
input[type="checkbox"]:focus,
.checkbox input[type="checkbox"]:focus,
.checkbox-inline input[type="checkbox"]:focus {
    border-color: #35495e;
    outline: none;
}

input[type="radio"]:active,
.radio input[type="radio"]:active,
.radio-inline input[type="radio"]:active,
input[type="checkbox"]:active,
.checkbox input[type="checkbox"]:active,
.checkbox-inline input[type="checkbox"]:active {
    border-color: #c6c6c6;
    background-color: #ebebeb;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
}

input[type="radio"]:checked,
.radio input[type="radio"]:checked,
.radio-inline input[type="radio"]:checked,
input[type="checkbox"]:checked,
.checkbox input[type="checkbox"]:checked,
.checkbox-inline input[type="checkbox"]:checked {
    background: #fff;
}

input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
    width: 15px;
    height: 15px;
    border-radius: 1em;
}

input[type="radio"]:checked::after,
.radio input[type="radio"]:checked::after,
.radio-inline input[type="radio"]:checked::after {
    content: '';
    display: block;
    position: relative;
    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 1em;
    background: #666;
}

input[type="checkbox"]:hover,
.checkbox input[type="checkbox"]:hover,
.checkbox-inline input[type="checkbox"]:hover {
    border-color: #c6c6c6;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: none \9;
}

input[type="checkbox"]:checked::after,
.checkbox input[type="checkbox"]:checked::after,
.checkbox-inline input[type="checkbox"]:checked::after {
    content: url(../img/checkmark.png);
    display: block;
    position: absolute;
    top: -6px;
    left: -5px;
}

.form-horizontal .control-label,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
    padding-top: 5px;
}

@media(min-width:768px) {
    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .form-inline .form-control {
        display: inline-block;
    }

    .form-inline select.form-control {
        width: auto;
    }

    .form-inline .radio,
    .form-inline .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }

    .form-inline .radio input[type="radio"],
    .form-inline .checkbox input[type="checkbox"] {
        float: none;
        margin-bottom: -2px;
        margin-left: 0;
    }
}

.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
    padding-top: 6px;
}

.form-horizontal .radio,
.form-horizontal .checkbox {
    min-height: 24px;
}

.form-horizontal .form-control-static {
    padding-top: 6px;
}

.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
    margin-bottom: -3px;
}

@media(min-width:768px) {
    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .navbar-form .form-control {
        display: inline-block;
    }

    .navbar-form select.form-control {
        width: auto;
    }

    .navbar-form .radio,
    .navbar-form .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }

    .navbar-form .radio input[type="radio"],
    .navbar-form .checkbox input[type="checkbox"] {
        float: none;
        margin-bottom: -2px;
        margin-left: 0;
    }
}

/* START page content tabs */
.vertical-tabs{
    padding-right: 19px;
}
.tab-column-right{
    margin-top: 0 !important;
    border-left: 1px solid #a6b0b9;
}
.form-control{
    height: 40px !important;
}
.btn-default{
    height: 48px !important;
    width: 48px !important;
}

.btn > span {
    color: #fff !important;
}

.right-pane{
    padding: 0 15px;
}

div.dataTables_wrapper div.dataTables_length select{
    width: auto !important;
}

div.dataTables_wrapper div.dataTables_filter input{
    height: 27px !important;
}

.bootstrap-switch{
    display: block !important;
}

