{% extends ':App:app_dashboard.html.twig' %}
{% block currentPage %}
    MAGAZIJN
{% endblock %}
{% block submenu %}
    {{ knp_menu_render('company_submenu', {'currentClass': 'active', 'template': 'CoreBundle:Menu:sub_menu.html.twig'}) }}
{% endblock %}
{% block tableColumn %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% include "@Warehouse/includes/rightWarehouseTable.html.twig" %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts output='js/warehouse.js'
    'js/bootstrap_tab.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
    <script type="text/javascript">

    </script>
{% endblock %}