{% extends ':App:app_dashboard.html.twig' %}
{% block currentPage %}
    MAGAZIJN
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    '@app_account_css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block submenu %}
    {{ knp_menu_render('company_submenu', {'currentClass': 'active', 'template': 'CoreBundle:Menu:sub_menu.html.twig'}) }}
{% endblock %}
{% block leftColumn %}
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 tab-column-left">
        {% include '@Warehouse/includes/leftWarehouse.html.twig' with { 'warehouse': warehouse} %}
    </div>
{% endblock %}
{% block rightColumn %}
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 tab-content tab-column-right">
    {% include '@Warehouse/includes/rightWarehouseLocationForm.html.twig' with { 'id': 'edit' } %}
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts output='js/warehouse.js'
    'js/bootstrap_tab.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
    <script type="text/javascript">

    </script>
{% endblock %}