{% extends ':App:app_dashboard.html.twig' %}
{% block currentPage %}
    BEDRIJF
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    '@app_account_css'
    'css/datatables_dataTables.bootstrap_1.css'
    'css/datatables_responsive.bootstrap_3.css'
    'css/datatables_dataTables.fontAwesome_2.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block submenu %}
    {{ knp_menu_render('company_submenu', {'currentClass': 'active', 'template': 'CoreBundle:Menu:sub_menu.html.twig'}) }}
{% endblock %}
{% block leftColumn %}
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 tab-column-left">
        {% include '@Warehouse/includes/leftWarehouses.html.twig' %}
    </div>
{% endblock %}
{% block rightColumn %}
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 tab-content tab-column-right">
    {% if warehouses is defined %}
        {% if warehouse is defined %}
            {% include '@Warehouse/includes/rightWarehouseTable.html.twig' with { 'warehouse': warehouse } %}
            {% include '@Warehouse/includes/rightWarehouseLocationForm.html.twig' with { 'id': "newMain" } %}
        {% else %}
            {% include '@Warehouse/includes/rightWarehouseLocationForm.html.twig' with { 'id': "index" } %}
        {% endif %}
    {% else %}
        {% include '@Warehouse/includes/rightWarehouseLocationForm.html.twig' with { 'id' : "newMain"} %}
    {% endif %}
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts output='js/warehouse.js'
    'js/bootstrap_tab.js'
    'js/support_page.js'
    'js/datatables_jquery.dataTables_1.js'
    'js/datatables_dataTables.bootstrap_2.js'
    'js/datatables_dataTables.responsive_3.js'
    'js/datatables_responsive.bootstrap_4.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Dutch.json"
                },
                columnDefs: [
                    { responsivePriority: 0, targets: 5 },
                    { "width" : "45px", "targets": 0},
                    { "width" : "80px", "targets": 2},
                    { "width" : "110px", "targets": 3},
                    { "width" : "110px", "targets": 4},
                    { "width" : "30px", "targets": 5}
            ]
            });
        } );
    </script>
{% endblock %}