<tr>
    <td align="center" valign="top">
        <!-- CENTERING TABLE // -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
                <tr>
                    <td align="center" valign="top">
                        <!-- FLEXIBLE CONTAINER // -->
                        <table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
                            <tbody>
                                <tr>
                                    <td align="center" valign="top" width="600" class="flexibleContainerCell bottomShim">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="nestedContainer">
                                            <tbody>
                                                <tr>
                                                    <td align="center" valign="top" class="nestedContainerCell">
                                                        <!-- CONTENT TABLE // -->
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td valign="top" class="textContent">
                                                                        <h3>Aan de slag!</h3>
                                                                        <br>
                                                                        Hieronder staan jouw account gegevens, bewaar deze goed:
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td align="center" valign="top" class="bottomShim">
                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="nestedContainerCell">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td width="35%" class="textContent">
                                                                                        <strong>Gebruikersnaam:</strong>
                                                                                    </td>
                                                                                    <td class="textContent">
                                                                                        {{ user.email }}
                                                                                    </td>
                                                                                </tr>
                                                                                {#<tr>#}
                                                                                    {#<td width="35%" class="textContent">#}
                                                                                        {#<strong>Functie:</strong>#}
                                                                                    {#</td>#}
                                                                                    {#<td class="textContent">#}
                                                                                        {#{% for role in user.roles %}#}
                                                                                            {#{{ role }}#}
                                                                                        {#{% endfor %}#}
                                                                                    {#</td>#}
                                                                                {#</tr>#}
                                                                                <tr>
                                                                                    <td width="35%" class="textContent">
                                                                                        <strong>Domeinnaam:</strong>
                                                                                    </td>
                                                                                    <td class="textContent">
                                                                                        {{ user.company.subdomainName }}.digi-rent.nl
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>

                                                                {#<tr>#}
                                                                    {#<td width="50%" style="text-align: left; vertical-align:top; padding: 8px 8px 12px 16px; color: #777777; font-family: Roboto, Segoe UI, Helvetica Neue, Frutiger, Frutiger Linotype, Dejavu Sans, Trebuchet MS, Verdana, Arial, sans-serif; word-break: break-word;">#}
                                                                        {#Bankrekening:#}
                                                                    {#</td>#}
                                                                    {#<td width="50%" style="text-align: left; vertical-align:top; padding: 8px 16px 12px 8px; font-weight: 400; font-family: Roboto, Segoe UI, Helvetica Neue, Frutiger, Frutiger Linotype, Dejavu Sans, Trebuchet MS, Verdana, Arial, sans-serif; word-break: break-word;">#}
                                                                    {#8586#}
                                                                    {#</td>#}
                                                                {#</tr>#}

                                                                {% if url is defined %}
                                                                <tr>
                                                                    <td align="center" valign="top" class="bottomShim">
                                                                        <table border="0" cellpadding="0" cellspacing="0" width="260" class="emailButton">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td align="center" valign="middle" class="buttonContent">
                                                                                    <a href="{{ url }}" target="_blank">{{ actionName }}</a>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                {% endif %}
                                                            </tbody>
                                                        </table>
                                                        <!-- // CONTENT TABLE -->
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- // FLEXIBLE CONTAINER -->
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- // CENTERING TABLE -->
    </td>
</tr>