<tr>
    <td align="center" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
            <tr>
                <td align="center" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
                        <tbody>
                        <tr>
                            <td align="center" valign="top" width="600" class="flexibleContainerCell">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                    <tr>
                                        <td valign="top" class="textContent">
                                            <h3>Beste {{ user.firstname }},</h3>
                                            <br>
                                            Gefeliciteerd, jouw Digi Rent account is nu volledig geregistreerd!<br />
                                            Benieuwd naar de mogelijkheden? Bekijk de <a href="#" target="_blank">introductie video!</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>