<tr>
    <td align="center" valign="top">
        <!-- CENTERING TABLE // -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody><tr>
                <td align="center" valign="top">
                    <!-- FLEXIBLE CONTAINER // -->
                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
                        <tbody><tr>
                            <td align="center" valign="top" width="600" class="flexibleContainerCell bottomShim">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="nestedContainer">
                                    <tbody><tr>
                                        <td valign="top" class="nestedContainerCell">


                                            <!-- CONTENT TABLE // -->
                                            <table align="Right" border="0" cellpadding="0" cellspacing="0" width="160" class="flexibleContainer">
                                                <tbody><tr>
                                                    <td align="center" valign="top" class="bottomShim">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="160" class="emailCalendar">
                                                            <tbody><tr>
                                                                <td align="center" valign="top" style="padding:5px;">
                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tbody><tr>
                                                                            <td align="center" valign="top" class="emailCalendarMonth">
                                                                                Januari '17
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="center" valign="top" class="emailCalendarDay">
                                                                                01
                                                                            </td>
                                                                        </tr>
                                                                        </tbody></table>
                                                                </td>
                                                            </tr>
                                                            </tbody></table>
                                                    </td>
                                                </tr>
                                                </tbody></table>
                                            <!-- // CONTENT TABLE -->


                                            <!-- CONTENT TABLE // -->
                                            <table align="Left" border="0" cellpadding="0" cellspacing="0" width="320" class="flexibleContainer">
                                                <tbody><tr>
                                                    <td valign="top" class="textContent">
                                                        <h3>Aftellen</h3>
                                                        <br>
                                                        Het aftellen tot de béta release is begonnen!<br/>
                                                        Vanaf vandaag nog zo'n <strong>{{ date( '01/01/2017'|date("m/d/Y") ).diff( date('now'|date)).days }} dagen</strong> tot de release!
                                                    </td>
                                                </tr>
                                                </tbody></table>
                                            <!-- // CONTENT TABLE -->


                                        </td>
                                    </tr>
                                    </tbody></table>
                            </td>
                        </tr>
                        </tbody></table>
                    <!-- // FLEXIBLE CONTAINER -->
                </td>
            </tr>
            </tbody></table>
        <!-- // CENTERING TABLE -->
    </td>
</tr>