{% trans_default_domain 'FOSUserBundle' %}
<div id="index" class="tab-pane fade in active">
    <div class="page-title">
        <div class="title-head">
            <div class="tab-title">
                <h3>Bedrijfsinformatie</h3>
            </div>
        </div>
        <div id="profile-form" class="dr-form row">
            <div class="form-group {{ form.name.vars.valid ? '':'has-error' }} col-sm-4 no-padding-left">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </div>
            <div class="form-group {{ form.branche.vars.valid ? '':'has-error' }} col-sm-3">
                {{ form_label(form.branche) }}
                {{ form_widget(form.branche) }}
                {{ form_errors(form.branche) }}
            </div>
            <div class="form-group {{ form.kvk.vars.valid ? '':'has-error' }} col-sm-5 no-padding-right">
                {{ form_label(form.kvk) }}
                {{ form_widget(form.kvk) }}
                {{ form_errors(form.kvk) }}
            </div>
            {#<div class="form-group {{ form.email.vars.valid ? '':'has-error' }} col-sm-6 no-padding-left">#}
                {#{{ form_label(form.email) }}#}
                {#<div class="input-group">#}
                    {#<span class="input-group-addon"><i class="fa fa-envelope"></i></span>#}
                    {#{{ form_widget(form.email) }}#}
                {#</div>#}
                {#{{ form_errors(form.email) }}#}
            {#</div>#}
            <div class="form-group {{ form.btw.vars.valid ? '':'has-error' }} col-sm-3 no-padding-left">
                {{ form_label(form.btw) }}
                {{ form_widget(form.btw) }}
                {{ form_errors(form.btw) }}
            </div>

                {% for address in form.addresses %}
                    <div class="addresses col-sm-12 no-padding" data-prototype="{{ form_widget(form.addresses.vars.prototype)|e('html_attr') }}">
                        <div class="form-group addressTypes {{ address.addressTypes.vars.valid ? '':'has-error' }} col-sm-3 no-padding-left" data-prototype="{{ form_widget(address.addressTypes.vars.prototype)|e('html_attr') }}">
                            {{ form_label(address.addressTypes) }}
                            {{ form_widget(address.addressTypes) }}
                            {{ form_errors(address.addressTypes) }}
                        </div>

                        <div class="form-group {{ address.streetname.vars.valid ? '':'has-error' }} col-sm-3 no-padding-left">
                            {{ form_label(address.streetname) }}
                            {{ form_widget(address.streetname) }}
                            {{ form_errors(address.streetname) }}
                        </div>
                        <div class="form-group {{ address.housenumber.vars.valid ? '':'has-error' }} col-sm-3 no-padding-left">
                            {{ form_label(address.housenumber) }}
                            {{ form_widget(address.housenumber) }}
                            {{ form_errors(address.housenumber) }}
                        </div>
                        <div class="form-group {{ address.housenumberExtra.vars.valid ? '':'has-error' }} col-sm-3 no-padding-left">
                            {{ form_label(address.housenumberExtra) }}
                            {{ form_widget(address.housenumberExtra) }}
                            {{ form_errors(address.housenumberExtra) }}
                        </div>
                        <div class="form-group {{ address.zipcode.vars.valid ? '':'has-error' }} col-sm-3 no-padding-left">
                            {{ form_label(address.zipcode) }}
                            {{ form_widget(address.zipcode) }}
                            {{ form_errors(address.zipcode) }}
                        </div>
                        <div class="form-group {{ address.city.vars.valid ? '':'has-error' }} col-sm-3 no-padding-left">
                            {{ form_label(address.city) }}
                            {{ form_widget(address.city) }}
                            {{ form_errors(address.city) }}
                        </div>
                        <div class="form-group {{ address.country.vars.valid ? '':'has-error' }} col-sm-3 no-padding-left">
                            {{ form_label(address.country) }}
                            {{ form_widget(address.country) }}
                            {{ form_errors(address.country) }}
                        </div>
                    </div>
                {% endfor %}
            <div class="form-group col-sm-12 no-padding-left">
                {{ form_widget(form.submit)  }}
            </div>
            {{ form_row(form.submit) }}
        </div>
    </div>
</div>