{% trans_default_domain 'FOSUserBundle' %}
<div id="newticket" class="tab-pane fade in">
    <div class="page-title" style="width: 100%; height: 40px;">
        <div class="title-head" style="float:left; height: 40px; margin-bottom:10px; width:100%;">
            <div class="tab-title" style="float:left;">
                <h4 style="margin-top: 0 !important; margin-bottom: 0 !important;">Persoonlijke informatie</h4>
            </div>
            <div class="tab-options" style="float: right; background-color: #000; display:table;">
                <a href="#index" class="tab-btn"  style="display:table-cell; margin-left:10px; background-color: #556f88; width:40px; height: 40px; text-align: center; vertical-align: middle;">
                    <i class="fa fa-times" style="color: #fff;"></i>
                </a>
            </div>
        </div>
    </div>
    {#<p style="float:left;">Wanneer u een probleem ondervind, iets niet kan vinden of ergens niet aan uit komt, vult u onderstaand formulier in. Ons support-team staat dag en nacht voor u klaar om uw aanvraag te behandelen en op te lossen.</p>#}
    {#<div id="new-ticket-form" style="float:left; width: 100%;">#}
        {#{{ form_start(ticket_form) }}#}
        {#<div class="form-group {{ ticket_form.subject.vars.valid ? '':'has-error' }}">#}
            {#{{ form_label(ticket_form.subject) }}#}
            {#{{ form_widget(ticket_form.subject) }}#}
            {#{{ form_errors(ticket_form.subject) }}#}
        {#</div>#}
        {#<div class="form-group {{ ticket_form.subject.vars.valid ? '':'has-error' }}">#}
            {#{{ form_label(ticket_form.messages) }}#}
            {#{{ form_widget(ticket_form.messages) }}#}
            {#{{ form_errors(ticket_form.messages) }}#}
        {#</div>#}
        {#{{ form_end(ticket_form) }}#}
    {#</div>#}
</div>