{#{% extends "FOSUserBundle::layout.html.twig" %}#}

{#{% block fos_user_content %}#}
{#{% include "FOSUserBundle:Profile:edit_content.html.twig" %}#}
{#{% endblock fos_user_content %}#}


{% extends "@User/layout.html.twig" %}

{% block fos_user_content %}
{% include "@User/Profile/edit_content.html.twig" %}
{% endblock fos_user_content %}
