<form action="{{ path('app_account_profile') }}" {% if form is defined %}{{ form_enctype(form) }}{% endif %} method="POST">

    {% if form is defined %}
        {{ form_end(form) }}

        {{ form_widget(form.imageFile) }}
        {{ form_end(form) }}

    {% endif %}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>