{% extends "@User/App/user_base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    '@app_account_css'
    '@multiselect_css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block leftColumn %}
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 tab-column-left">
{% include '@Support/Support/includes/leftTicketDetails.html.twig' %}
</div>
{% endblock leftColumn %}
{% block rightColumn %}
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 tab-content tab-column-right">
{% include '@Support/Support/includes/rightTicketDetails.html.twig' %}
</div>
{% endblock rightColumn %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts output='js/support.js'
        'js/bootstrap_tab.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}
