<div class="column-title">
    <h4>Categorieën</h4>
</div>
{% if categoryTree is empty  %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <p>Geen categorieën gevonden, <a href="{{ path('app_catalog_category_new', {'name': ' '}) }}">maak eerst een categorie aan</a>.</p>
    </div>
{% else %}
    <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
        <p>Selecteer een categorie die u wilt beheren, rechts kunt u zoeken in alle bestaande categorieën.</p>
        <hr>
    </div>
    <div class="col-md-6 col-md-push-6 no-padding-right">
        <div class="input-group">
            <input type="text" class="search form-control" id="input-search" placeholder="Zoek categorie">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="btn-clear-search"><i class="fa fa-times"></i>
                </button>
            </span>
        </div>
        <hr>
        <a class="hidden-xs" href=" {{ path('app_catalog_category_new', {'name': ' '}) }}"><i class="fa fa-plus"></i> Categorie toevoegen</a>
        <hr class="hidden-xs" style="margin-bottom: 0 !important;">
        <div class="search-result" style="margin-top:15px;"></div>
    </div>
    <div id="tree" class="treeview col-md-6 col-md-pull-6 no-padding-left"></div>
{% endif %}