<div class="column-title">
    <h4>Laatst 5 toegevoegde categorieën</h4>
</div>
<div class="table-responsive">
    <table class="table table-striped dataTable">
        <thead>
        <tr>
            <th><i class="fa fa-link"></i> Titel</th>
            <th><i class="fa fa-link"></i> Bovenliggende categorie</th>
            <th>Tijd/datum</th>
        </tr>
        </thead>
        <tbody>
        {% if categoryTree is empty  %}
            <tr class="odd">
                <td valign="top" colspan="5" class="dataTables_empty">Geen resultaten aanwezig in de tabel</td>
            </tr>
        {% else  %}
            {% if categories|length < 5 %}
                {% set categoryLength = categories|length-1 %}
            {% else %}
                {% set categoryLength = 4 %}
            {% endif %}
            {% for i in 0..categoryLength if categories|length %}
                <tr>
                    <td><a href="{{ path('app_catalog_category_edit', {'id': categories[i].id}) }}">{{ categories[i].name }}</a></td>
                    <td>{% if categories[i].parent != null %}
                        <a href="{{ path('app_catalog_category_edit', {'id': categories[i].parent.id}) }}">
                            {% endif %}
                            {{ categories[i].parent == null ? "-" : categories[i].parent }}</a>
                    </td>
                    <td>{% if categories[i].updatedAt|date('dmy') == "today"|date('dmy') %}
                            {{ categories[i].updatedAt|date('H:i') }}
                        {% else %}
                            {{ categories[i].updatedAt|date('d-m-y') }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>