<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <title>Digi-rent.nl - Online verhuursoftware</title>
    <meta name="description" content="Digi Rent, uw online voorraadbeheer, administratie, planning, personeel en nog veel meer in één software pakket." />
    <meta name="keywords" content="voorraadbeheer, verhuur software" />
    <meta name="author" content="Digi Rent">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock %}
    {% block stylesheets %}
        {% stylesheets filter='cssrewrite' output='css/styles.css'
        'css/bootstrap.css'
        'bundles/bmatznerfontawesome/css/font-awesome.min.css'
        '@brandon_font_css'
        '@web_base_css'
        '@web_theme_css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <style type="text/css">
            .navbar{
                min-height: 60px !important;
            }
            header, .preloader{
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7b07+0,f75600+66 */
                background: #ff7b07 !important; /* Old browsers */
                background: -moz-linear-gradient(0deg,  #ff7b07 0%, #f75600 66%) !important;/* FF3.6-15 */
                background: -webkit-linear-gradient(0deg,  #ff7b07 0%,#f75600 66%) !important; /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(0deg,  #ff7b07 0%,#f75600 66%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7b07', endColorstr='#f75600',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
            }

            .navbar-fixed-top.is-scrolling{
                background-color: #1C2E38 !important;
            }

            b, strong {
                font-weight: 800;
            }

            .form-row > form{
                margin-bottom: 15px;
            }

            #top > div > div.container > div:nth-child(1) > div > div > p > a {
                color: rgba(34, 34, 34, 0.61);
            }

            #top > div > div.container > div:nth-child(1) > div > div > p > a:hover {
              text-decoration: underline;
            }

            .header-btn > .btn{
                margin-right: 0 !important;
            }

            .text-logo{
                font-family: brandon-regular, sans-serif !important;
                text-transform: none;
            }

            #top > div > nav > div > div > div > div.navbar-header > a > span{
                float:left;
                padding: 15px;
            }

            #top > div > nav > div > div > div > div.navbar-header > a > img{
                -webkit-transition: width 2s; /* Safari */
                transition: width 2s;
                float:left;
            }

            .navbar-brand {
                padding: 4px 15px;
            }
            .navbar-toggle{
                margin-top: 17px;
            }

            .beta-handwritten {
                font-family: 'Handlee', cursive;
                position: absolute;
                -moz-transform: rotate(7deg);
                -o-transform: rotate(7deg);
                -ms-transform: rotate(7deg);
                -webkit-transform: rotate(7deg);
                transform: rotate(7deg);
                right: 95px;
                bottom: 10px;
                font-size: 21px;
            }

            .beta-handwritten:before {
                content: "";
                position: absolute;
                left: -10px;
                top: 16px;
                background-repeat: no-repeat;
                background-image: url(/bundles/page/img/arrow-hand.png);
                background-size: 31px 55px;
                background-position: center center;
                width: 31px;
                height: 54px;
            }

            .hero-section .btn{
                margin-top: 40px;
            }

            @media (max-width: 1199px) {
                .signup-divider .form-group, .fast-reg .form-group{
                    width: 20%;
                }

                .beta-handwritten {
                    right: 30px;
                }
            }

            @media (max-width: 991px) {
                .signup-divider .form-group, .fast-reg .form-group{
                    width: 50%;
                    margin-bottom: 15px;
                    padding-right: 17px;
                    padding-left: 15px;
                }
                .signup-divider .btn {
                    width: 46%;
                    margin-bottom: 15px;
                    padding-right: 17px;
                    padding-left: 15px;
                    margin-right: 15px;
                    font-size: 15px;
                }

                #top > div > nav > div > div > div > div.navbar-header > a > span{
                    padding: 15px 0 15px 5px;
                }
                #top > div > nav > div > div > div > div.navbar-header > a > img {
                    float: left;
                    height: 35px;
                    width: 35px;
                    margin: 8px;
                }
                .beta-handwritten {
                    right: 45px;
                }
            }

            @media (max-width: 768px){
                .beta-handwritten {
                    bottom: 10px;
                }
            }

            @media (max-width: 599px) {
                .tab-features .features-title, .wrapper-lg {
                    padding: 50px 0 !important;
                }
                .signup-divider .form-group {
                    width: 100%;
                    margin-bottom: 15px;
                    padding-right: 17px;
                    padding-left: 15px;
                }
                .hero-section .btn{
                    margin-top: 45px;
                }

                .beta-handwritten{
                    bottom: 10px;
                    left: calc(100% - 40%);
                    right: 6px;
                }
                .beta-handwritten:before{
                    content: "";
                    left: 6px;
                    bottom: 10px;
                    position: absolute;
                    background-repeat: no-repeat;
                    background-image: url(/images/web/_theme/arrow-hand.png);
                    background-size: 31px 55px;
                    background-position: center center;
                    width: 31px;
                    height: 54px;
                }
            }
            @media (max-width: 550px) {
                .beta-handwritten{
                    bottom: 20px;
                }
            }

            @media (max-width: 479px) {
                .beta-handwritten{
                    font-size: 18px !important;
                    bottom: 23px;
                }
                .beta-handwritten:before{
                    display:none;
                }
            }


        </style>
    {% endblock %}
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    <!-- GOOGLE FONTS -->
    <link href="http://fonts.googleapis.com/css?family=Raleway:300,400,600,700%7COpen+Sans:300,400,600,700%7CHandlee" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <div class="main-wrapper">

        <!-- =========================
             PRELOADER
        ============================== -->
        <div class="preloader">
            <div class="loader-container">
                <div class="text-logo">Digi Rent</div>
                <div class="signal"></div>
            </div>
        </div>

        <!-- =========================
             HEADER
        ============================== -->
        <header class="header dashboard solid-bg" id="top">
            <!-- Background Overlay -->
            <div class="overlay">

                <!-- =========================================
                     Navigation
                ========================================== -->
                <nav class="navbar navbar-fixed-top" role="navigation">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Navbar-Header -->
                                <div class="navbar-header">

                                    <!-- Mobile Menu -->
                                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                                        <i class="icon icon_menu"></i>
                                    </button>

                                    <!-- Text-Logo -->
                                    <a href="#top" class="navbar-brand scrollto" title="digirent">
                                        <img src="{{ asset('bundles/page/img/header-logo.png') }}" alt="loading" />
                                        <span class="text-logo">Digi Rent</span>
                                    </a>

                                </div><!-- /End Navbar-Header -->

                                <!-- Navbar-Collapse -->
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        <!-- Menu Items -->
                                        <li><a href="#about" title="" class="scrollto">Over</a></li>
                                        {#<li><a href="#who" title="" class="scrollto">Voor wie</a></li>#}
                                        <li><a href="#features" title="" class="scrollto">Functionaliteiten</a></li>
                                        {#<li><a href="#testimonials" title="" class="scrollto">Ervaringen</a></li>#}
                                        {#<li><a href="#pricing" title="" class="scrollto">Prijzen</a></li>#}
                                        <li><a href="#team" title="" class="scrollto">Team</a></li>
                                        <li><a href="#footer" title="" class="scrollto">Contact</a></li>
                                        <!-- Login and Signup Modal on click -->
                                        <li><a class="btn btn-nav scrollto" href="#beta-register">BETA!</a></li>
                                        {#<li><a class="btn btn-nav" data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();">BETA!</a></li>#}
                                        {#<li><a class="btn btn-nav btn-white" data-toggle="modal" href="javascript:void(0)" onclick="openRegisterModal();">Registreer</a></li>#}
                                    </ul>
                                </div><!-- /End Navbar-Collapse -->
                            </div><!-- /End Col -->
                        </div><!-- /End Row -->
                    </div><!-- /End Container -->
                </nav><!-- /End Sticky Navigation -->

                <!-- =========================================
                     Hero-Section
                ========================================== -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="hero-section text-center">
                                <!-- Welcome - Hero Message -->
                                <h1 class="text-white">Totale controle over uw verhuur.</h1>
                                <p class="text-white">Krachtige tools in een gebruiksvriendelijke online omgeving. Eenvoudig beheer van magazijn, voorraad, relaties, projecten, planningen & <a href="#">veel meer</a>.</p>
                                <!-- Learn More & Video Buttons -->
                                <div class="btn-box">
                                    <p class="beta-handwritten text-white">Half jaar gratis testfase! <br>Maar 25 plaatsen!</p>
                                    <div class="btn-group header-btn">
                                        <a href="http://youtu.be/SZEflIVnhH8" data-type="youtube" class="btn btn-white venobox"><i class="icon arrow_triangle-right_alt"></i>Bekijk video</a>
                                        <a href="#beta-register" class="btn btn-ghost scrollto"><i class="icon icon_id-2_alt"></i>Béta registratie</a>
                                    </div>
                                    <!-- Video Lightbox on Click -->
                                </div>

                            </div><!-- /End Intro-Section -->

                        </div><!-- /End Col -->
                    </div><!-- /End Row -->

                    <div class="row">
                        <div class="col-md-12">
                            <!-- Dashboard Image -->
                            <div class="image-dashboard text-center">
                                <img src="{{ asset('bundles/page/img/dashboard.png') }}" class="wow fadeInUp" data-wow-duration="2s" alt="digirent-dashboard">
                            </div>
                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- /End Container Hero-Section -->
            </div><!-- /End Background Overlay -->
        </header>
        <!-- =========================
             /END HEADER
        ============================== -->


        {% block about %}{% endblock %}
        {% block features %}{% endblock %}
        {% block betaForm %}{% endblock %}
        {% block pricing %}{% endblock %}

        <!-- =======================================================
             TESTIMONIALS WITH PRESS/CLIENTS LOGOS
        ============================================================ -->
      {#  <section class="testimonial-press light-bg" id="testimonials">
            <div class="container vmiddle">
                <div class="row">
                    <div class="col-md-12">
                        <h2>What our users are saying</h2>
                        <p class="large">Find out why our users keep using SmartMvp</p>
                    </div>
                </div>
                <div class="row">
                    <div class="tabs testimonials tab-container">
                        <div class="col-md-8">
                            <div class="panel-container">
                                <div class="tab-block" id="tab-testimonials-1">
                                    <blockquote>
                                        <!-- Testimonial quote -->
                                        <p>Placeat ut recusandae maiores, aliquam error. Sequi accusamus nostrum porro reprehenderit commodi delectus omnis similique possimus non aut, dicta rem iste nemo perferendis, incidunt mollitia asperiores at tenetur dolores ut libero necessitatibus veritatis fuga. Ut sequi assumenda odit.</p>
                                        <!-- Testimonial image -->
                                        <img src="/images/web/_theme/testimonials/testimonial-1.jpg" alt=" ">
                                        <!-- Testimonial info -->
                                        <p class="testimonial-name"><span>James Knight</span>Manager @ LoremIpsum</p>
                                    </blockquote>
                                </div><!-- /End Tab-block -->
                                <div class="tab-block" id="tab-testimonials-2">
                                    <blockquote>
                                        <!-- Testimonial quote -->
                                        <p>Iusto quam fugit consequatur explicabo at deserunt eius vel, debitis non itaque blanditiis error iure modi, asperiores molestiae dolorum! Earum expedita sit, nesciunt neque magnam at dolorem praesentium saepe! Rerum recusandae qui quidem, a neque consequatur laboriosam.</p>
                                        <!-- Testimonial image -->
                                        <img src="/images/web/_theme/testimonials/testimonial-2.jpg" alt=" ">
                                        <!-- Testimonial info -->
                                        <p class="testimonial-name"><span>Nathan Wood</span>Chief Technology Officer @ StartupIpsum</p>
                                    </blockquote>
                                </div><!-- /End Tab-block -->
                                <div class="tab-block" id="tab-testimonials-3">
                                    <blockquote>
                                        <!-- Testimonial quote -->
                                        <p>Commodi quod eligendi molestiae quaerat temporibus odio alias, nobis repudiandae eum molestias libero modi non ipsum architecto facere cumque esse veritatis voluptatibus. Quia eius nulla deleniti impedit officia quidem temporibus, enim! Ab ex, ipsa ullam asperiores itaque.</p>
                                        <!-- Testimonial image -->
                                        <img src="/images/web/_theme/testimonials/testimonial-3.jpg" alt=" ">
                                        <!-- Testimonial info -->
                                        <p class="testimonial-name"><span>Amber Evans</span>Chief Marketing Officer @ AgencyLorem</p>
                                    </blockquote>
                                </div><!-- /End Tab-block -->
                                <div class="tab-block" id="tab-testimonials-4">
                                    <blockquote>
                                        <!-- Testimonial quote -->
                                        <p>Aliquid doloremque ipsum ipsam molestias aliquam ab quod mollitia sed. Vero sapiente voluptatem, voluptatum excepturi a doloribus. Dicta sit quo sed, eaque! Voluptates in illo maiores corporis? Placeat ut recusandae maiores, aliquam error. Sequi accusamus nostrum porro.</p>
                                        <!-- Testimonial image -->
                                        <img src="/images/web/_theme/testimonials/testimonial-4.jpg" alt=" ">
                                        <!-- Testimonial info -->
                                        <p class="testimonial-name"><span>Harry Palmer</span>CEO and Founder @ IpsumSite</p>
                                    </blockquote>
                                </div><!-- /End Tab-block -->
                            </div><!-- /End Panel-container -->
                        </div><!-- /End Col -->

                        <ul class="etabs col-md-4 list-unstyled">
                            <li class="tab col-md-6">
                                <a href="#tab-testimonials-1">
                                    <!-- Testimonial logo -->
                                    <img src="/images/web/_theme/press-logos/press-3.png" alt="">
                                </a>
                            </li>
                            <li class="tab col-md-6">
                                <a href="#tab-testimonials-2">
                                    <!-- Testimonial logo -->
                                    <img src="/images/web/_theme/press-logos/press-2.png" alt="">
                                </a>
                            </li>
                            <li class="tab col-md-6">
                                <a href="#tab-testimonials-3">
                                    <!-- Testimonial logo -->
                                    <img src="/images/web/_theme/press-logos/press-1.png" alt="">
                                </a>
                            </li>
                            <li class="tab col-md-6">
                                <a href="#tab-testimonials-4">
                                    <!-- Testimonial logo -->
                                    <img src="/images/web/_theme/press-logos/press-4.png" alt="">
                                </a>
                            </li>
                        </ul><!-- /End Etabs -->

                    </div><!-- /End Tabs -->
                </div><!-- /End Row -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END TESTIMONIALS
        ============================== -->
        #}


        <!-- ==================================================
            TEAM
        ======================================================= -->
        <section class="team" id="team">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Het Digi Rent team</h2>
                            <p class="large">Wij zijn een gepassioneerd team dat houdt van een uitdaging! Wij zijn er voor jou en niemand anders.</p>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Team Box -->
                        <div class="col-sm-4 col-sm-offset-2 team-box">
                            <div class="team-img">
                                <img src="{{ asset('bundles/page/img/team-peterknijff.jpg') }}" class="img-responsive" alt="">
                                <div class="img-overlay">
                                    <div class="img-icons">
                                        <span class="icon-white">
                                            <a href="https://www.linkedin.com/in/peterknijff" target="_blank">
                                                <i class="icon social_linkedin_circle"></i>
                                            </a>
                                        </span>
                                        <span class="icon-white">
                                            <a href="https://www.instagram.com/peter.knijff" target="_blank">
                                                <i class="icon social_instagram_circle"></i>
                                            </a>
                                        </span>
                                        <span class="icon-white">
                                            <a href="https://www.facebook.com/pknijff" target="_blank">
                                                <i class="icon social_facebook_circle"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <h4>Peter Knijff</h4>
                            <p class="team-bio"><span class="text-color">Lead designer & developer</span>. Met zijn ervaring in de meest uiteenlopende onderwerpen op het gebied van de ontwikkeling van software werkt Peter als een spin in het web. Het uitproberen van de nieuwste technieken én een scherp oog voor detail zorgen voor de fijnste gebruikerservaring.</p>
                        </div>
                        <!-- Team Box -->
                        <div class="col-sm-4 team-box">
                            <div class="team-img">
                                <img src="{{ asset('bundles/page/img/team-placeholder.jpg') }}" class="img-responsive" alt="">
                                {#<div class="img-overlay">#}
                                    {#<div class="img-icons">#}
                                        {#<span class="icon-white">#}
                                            {#<a href="#">#}
                                                {#<i class="icon icon-facebook"></i>#}
                                            {#</a>#}
                                        {#</span>#}
                                        {#<span class="icon-white">#}
                                            {#<a href="#">#}
                                                {#<i class="icon icon-twitter"></i>#}
                                            {#</a>#}
                                        {#</span>#}
                                        {#<span class="icon-white">#}
                                            {#<a href="#">#}
                                                {#<i class="icon icon-linkedin"></i>#}
                                            {#</a>#}
                                        {#</span>#}
                                    {#</div>#}
                                {#</div>#}
                            </div>
                            <h4>Vacature developer</h4>
                            <p class="team-bio"><span class="text-color">Misschien is dit wel iets voor jou?</span> Wij zijn op zoek naar programmeer helden om ons huidige "one man team" te versterken. Voorwaarden zijn kennis van het Symfony2 framework, Javascript en/of een goed portfolio.<br /> <a href="mailto:info@digi-rent.nl">Neem contact op!</a></p>
                        </div>
                        {#<!-- Team Box -->#}
                        {#<div class="col-sm-4 team-box">#}
                            {#<div class="team-img">#}
                                {#<img src="/images/web/_theme/team-placeholder.jpg" class="img-responsive" alt="">#}
                                {#<div class="img-overlay">#}
                                    {#<div class="img-icons">#}
                                        {#<span class="icon-white">#}
                                            {#<a href="#">#}
                                                {#<i class="icon icon-facebook"></i>#}
                                            {#</a>#}
                                        {#</span>#}
                                        {#<span class="icon-white">#}
                                            {#<a href="#">#}
                                                {#<i class="icon icon-twitter"></i>#}
                                            {#</a>#}
                                        {#</span>#}
                                        {#<span class="icon-white">#}
                                            {#<a href="#">#}
                                                {#<i class="icon icon-linkedin"></i>#}
                                            {#</a>#}
                                        {#</span>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<h4>Joris Philipsen</h4>#}
                            {#<p class="team-bio"><span class="text-color">Full stack hacker, product design, backend development, user interface and everything in between.</span> He likes to keep things simple and focus on the little details.</p>#}
                        {#</div>#}
                    </div><!-- /End Row -->
                </div><!-- End Wrapper -->
            </div><!--/End Container -->
        </section>
        <!-- =============================
             /END TEAM SECTION
        ============================== -->


        <!-- ==================================================
            MOBILE DOWNLOAD SECTION
        ======================================================= -->
       {# <section class="mobile-download light-bg" id="mobile-download">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Even spieken</h2>
                            <p class="large">Don't miss the chance to get our amazing Mobile Application. Get connected anytime.</p>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Text and Mobile Download Buttons -->
                        <div class="col-sm-6 col-md-4">
                            <h3>Supercharge your Productivity</h3>
                            <p class="mobile-text">With an online dashboard and a mobile app, you'll have full control of your account and see your usage in real-time. <span class="text-color">Even more convenient!</span></p>
                            <a href="#" class="btn btn-color"><i class="icon icon_cloud-download_alt"></i>Download Now!!</a>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <!-- Screenshot Carousel -->
                            <div class="shot-container">
                                <div id="owl-carousel-shots-phone" class="owl-carousel">
                                    <div class="owl-container text-center shots-modal">
                                        <img src="/images/web/_theme/app-screenshots/app-screenshot1alt.jpg" alt="" title="this is the title" />
                                    </div>
                                    <div class="owl-container text-center shots-modal">
                                        <img src="/images/web/_theme/app-screenshots/app-screenshot2alt.jpg" alt="" title="this is the title" />
                                    </div>
                                    <div class="owl-container text-center shots-modal">
                                        <img src="/images/web/_theme/app-screenshots/app-screenshot3alt.jpg" alt="" title="this is the title" />
                                    </div>
                                </div><!-- /End owl carousel-->
                            </div><!-- /End Container -->
                        </div>

                        <div class="col-sm-12 col-md-4 right-features">
                            <!-- More Features -->
                            <div class="col-sm-4 col-md-12">
                                <h4>Get Notified</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam inventore.</p>
                            </div>
                            <div class="col-sm-4 col-md-12">
                                <h4>Add Data in Seconds</h4>
                                <p>Magnam beatae similique molestias incidunt, assumenda dolorem ea deserunt.</p>
                            </div>
                            <div class="col-sm-4 col-md-12">
                                <h4>Real Time Alerts</h4>
                                <p>Accusantium at sapiente mollitia asperiores quisquam rerum hic et animi.</p>
                            </div>
                        </div>
                    </div><!-- /End Row -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END MOBILE DOWNLOAD SECTION
        ============================== -->
        #}


        <!-- ==================================================
            NEWSLETTER AND SOCIAL DIVIDER
        ======================================================= -->
        <section class="newsletter color-bg" id="newsletter">
            <div class="container">
                <div class="wrapper-sm">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- =========================
                                Social Icons
                            ============================== -->
                            <div class="table">
                                <div class="table-row">
                                    <div class="table-cell follow">
                                        <h5 class="table-title">Volg ons!</h5>
                                    </div>
                                    <div class="table-cell">
                                        <ul class="social-list">
                                            <li>
                                                <a href="#">
                                                    <i class="icon social_facebook_circle"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icon social_instagram_circle"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icon social_linkedin_circle"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div><!-- /End Table-Cell -->
                                </div><!-- /End Table-Row -->
                            </div><!-- /End Table -->
                        </div><!-- /End Col -->

                        <div class="col-md-6">
                            <!-- =========================
                                MAILCHIMP SUBSCRIPTION FORM
                            ============================== -->
                            <form class="mailchimp-subscribe" role="form">
                                <div class="table">
                                    <div class="table-row">
                                        <div class="table-cell getnewsletter">
                                            <h5 class="table-title">Dé nieuwsbrief!</h5>
                                        </div>
                                        <div class="table-cell">
                                            <div class="input-group text-white">
                                                <!-- Input Form -->
                                                <input type="email" id="subscriber-email" name="email" placeholder="E-mail adres" class="form-control">
                                                <!-- Submit Button -->
                                                <span class="input-group-btn">
                                                    <button class="btn btn-white">Inschrijven</button>
                                                </span>
                                            </div><!-- /End Input Group -->
                                        </div><!-- /End Table-Cell -->
                                    </div><!-- /End Table-Row -->
                                </div><!-- /End Table -->
                                <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">
                                    <!-- Notifications -->
                                    <p class="mc-success"></p>
                                    <p class="mc-failed"></p>
                                </div>
                            </form><!-- /End Mailchimp Subscribe Form -->

                            <!-- =========================
                                LOCAL SUBSCRIPTION FORM
                            ============================== -->
                            <!-- ALTERNATE USE: SAVE YOUR SUBSCRIBE LIST IN .TXT

                            <form id="subscribe" role="form">
                                <div class="table">
                                    <div class="table-row">
                                        <div class="table-cell getnewsletter">
                                            <h5 class="table-title">Get the Newsletter</h5>
                                        </div>
                                    </div>
                                    <div class="table-cell">
                                        <div class="input-group">
                                            <input type="email" id="s-email" name="email" placeholder="Your email address" class="form-control">
                                            <span class="input-group-btn">
                                                <button class="btn btn-color">Submit</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">
                                    <p class="subscription-success"><i class="icon icon_check_alt2"></i> You are successfully subscribed for our newsletter.</p>
                                    <p class="subscription-failed"><i class="icon icon_close_alt2"></i> Something went wrong!</p>
                                </div>
                            </form>
                            -->

                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END NEWSLETTER SECTION
        ============================== -->


        <!-- ==================================================
            FOOTER
        ======================================================= -->
        <footer class="footer dark-bg" id="footer">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        <!-- Footer Left Col -->
                        <div class="col-md-5">
                            <!-- Logo -->
                            <a href="#top" class="scrollto" title="Digi-Rent">
                                <span class="text-logo">Digi Rent - Verhuursoftware</span>
                            </a>
                            <p class="footer-hero">Wat begon in <strong>2014</strong> begon als een privé project werd al gauw een uitdaging voor het grote publiek.
                                We werken nu met man en macht om Digi Rent voor iedereen toegankelijk te maken!</p>
                            <p class="footer-cta">Registreer je nu voor de BETA?
                                <a href="#beta-register" class="btn btn-color scrollto"><i class="icon icon_id-2_alt"></i>Beta registratie</a>
                            </p>
                        </div>
                        <!-- Footer Contact Col -->
                        <div class="col-md-3">
                            <h5 class="text-white">Contact</h5>
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="icon icon_mail"></i>
                                </div>
                                <div class="contact-content">
                                    <a href="mailto:info@digi-rent.nl">info@digi-rent.nl</a>
                                </div>
                            </div>
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="icon icon_pin"></i>
                                </div>
                                <div class="contact-content">
                                    Hooidrift 155B2<br/>
                                    3023 KM, Rotterdam
                                </div>
                            </div>
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="icon icon_phone"></i>
                                </div>
                                <div class="contact-content">
                                    <a href="tel:+31103073665" >+31 (0)10 307 3665</a>
                                </div>
                            </div>
                        </div>
                        <!-- Footer Right Col: Instagram Feed -->
                        <div class="col-md-4">
                            <h5 class="text-white">Instagram posts</h5>
                            <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/3e202656d8185da3a0fd7b57d2cdfca3.html" id="lightwidget_3e202656d8" name="lightwidget_3e202656d8"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>

                        </div>

                        <!-- Footer Menu and Copy -->
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="footer-nav">
                                    <li>
                                        <a href="#">About</a>
                                    </li>
                                    <li>
                                        <a href="#">Blog</a>
                                    </li>
                                    <li>
                                        <a href="#">Help</a>
                                    </li>
                                    <li>
                                        <a href="#">Terms</a>
                                    </li>
                                    <li>
                                        <a href="#">Privacy</a>
                                    </li>
                                </ul>
                                <p class="footer-copy">&copy; 2016 - Digi Rent, ontwikkeld door <a href="http://www.devtig.nl">Devtig.nl</a></p>
                            </div>
                        </div>

                    </div><!-- End Row -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </footer>

    </div><!-- /End Main Wrapper -->
{% block javascripts %}
    {% javascripts output='js/main_script.js'
    '@jquery'
    '@bootstrap_js'
    '@web_theme_js'
    'bundles/fosjsrouting/js/router.js'
    'js/fos_js_routes.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function(){

            jQuery('a[href=#beta-register]').click(function () {
                $('#fos_user_registration_form_firstname').select();
            });

            $('form').submit( function( e ){
                e.preventDefault();
                handleForm($(this), function( response ){
                });
            });

        });

        function handleForm($form, callback){

            var fadeDuration = 500;
            var values = {};

            $.each( $form.serializeArray(), function(i, field) {
                values[field.name] = field.value;
            });

            $.ajax({
                type        : $form.attr( 'method' ),
                url         : $form.attr( 'action' ),
                data        : values,
                success     : function(data) {
                    callback(data);
                    console.log(data);

                    $form.trigger("reset");
                    $('#br-success').show();
                    $('#br-success').html('<i class="icon icon_check_alt2"></i> <strong>Bedankt ' + data.firstname + '</strong>, bevestig uw registratie. Zodra de BETA live is wordt u direct op de hoogte gesteld!').fadeIn(fadeDuration);
                    $("#br-success").delay(5000).slideUp(fadeDuration, function() {
                        $('#br-success').hide();
                    });
                }
            });

        }

    </script>

{% endblock %}
</body>

</html>
