{% trans_default_domain 'FOSUserBundle' %}
<div class="user_profile_info">
    <div class="image-cirlce profile_image" style="background-image: url({{ vich_uploader_asset(app.user, 'imageFile')  ? vich_uploader_asset(app.user, 'imageFile') : '/bundles/user/img/dr-profile-pic.png' }})">
        <a href="#image" id="overlay">
            <span id="edit_image">Wijzigen</span>
        </a>
    </div>
    <div class="hidden">
        {{ form_widget(form.imageFile) }}
    </div>
    <p>{{ app.user }}</p>
    <p>{{ app.user.email }}</p>
    <p>Geregistreerd sinds: {{ app.user.createdAt|date("d/m/y") }}</p>
</div>
<hr>
<div class="left-col-btn">
    <a href="#password" class="tab-btn">
        <i class="fa fa-key"></i>Wachtwoord wijzigen
    </a>
</div>
<div class="left-col-btn">
    <a href="#contactdetails" class="tab-btn">
        <i class="fa fa-anchor"></i>Contactgegevens wijzigen
    </a>
</div>
<hr>