{% trans_default_domain 'FOSUserBundle' %}
<div id="index" class="tab-pane fade in active">
    <div id="profile-form" class="dr-form row">
        <div class="form-group {{ form.firstname.vars.valid ? '':'has-error' }} col-sm-4 no-padding-left">
            {{ form_label(form.firstname) }}
            {{ form_widget(form.firstname) }}
            {{ form_errors(form.firstname) }}
        </div>
        <div class="form-group {{ form.middlename.vars.valid ? '':'has-error' }} col-sm-4">
            {{ form_label(form.middlename) }}
            {{ form_widget(form.middlename) }}
            {{ form_errors(form.middlename) }}
        </div>
        <div class="form-group {{ form.lastname.vars.valid ? '':'has-error' }} col-sm-4 no-padding-right">
            {{ form_label(form.lastname) }}
            {{ form_widget(form.lastname) }}
            {{ form_errors(form.lastname) }}
        </div>

        <div class="form-group {{ form.email.vars.valid ? '':'has-error' }} col-sm-4 no-padding-left">
            {{ form_label(form.email) }}
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                {{ form_widget(form.email) }}
            </div>
            {{ form_errors(form.email) }}
        </div>
        <div class="form-group {{ form.dayofbirth.vars.valid ? '':'has-error' }} col-sm-4">
            {{ form_label(form.dayofbirth) }}
            {{ form_widget(form.dayofbirth) }}
            {{ form_errors(form.dayofbirth) }}
        </div>
        {#TODO implement newsletter within settings (email updates)#}
        {#<div class="form-group {{ form.newsletter.vars.valid ? '':'has-error' }} col-sm-3 no-padding-right">#}
        {#{{ form_label(form.newsletter) }}#}
        {#{{ form_widget(form.newsletter) }}#}
        {#{{ form_errors(form.newsletter) }}#}
        {#</div>#}
        <div class="form-group col-sm-12 no-padding-left">
            {{ form_widget(form.submit)  }}
        </div>
        {{ form_row(form.submit) }}
    </div>
</div>
</div>