{% trans_default_domain 'FOSUserBundle' %}
<div id="contactdetails" class="tab-pane fade ">
    <div id="profile-form" class="dr-form row">
        {% for phonenumber in form.phonenumbers %}
        <div class="form-group {{ phonenumber.number.vars.valid ? '':'has-error' }} col-sm-6 no-padding-left">
            {{ form_label(phonenumber.number) }}
            {{ form_widget(phonenumber.number) }}
            {{ form_errors(phonenumber.number) }}
        </div>
        {% endfor %}

        {{ form_row(form.submit) }}
    </div>
</div>