<tr>
    <td valign="top" id="templateFooter"
        style="background:#FAFAFA none no-repeat center/cover;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FAFAFA;background-image: none;background-repeat: no-repeat;background-position: center;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 9px;padding-bottom: 9px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowBlock"
               style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
            <tbody class="mcnFollowBlockOuter">
            <tr>
                <td align="center" valign="top"
                    style="padding: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"
                    class="mcnFollowBlockInner">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                           class="mcnFollowContentContainer"
                           style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <tbody>
                        <tr>
                            <td align="center"
                                style="padding-left: 9px;padding-right: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                       style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"
                                       class="mcnFollowContent">
                                    <tbody>
                                    <tr>
                                        <td align="center" valign="top"
                                            style="padding-top: 9px;padding-right: 9px;padding-left: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                            <table align="center" border="0" cellpadding="0"
                                                   cellspacing="0"
                                                   style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                <tbody>
                                                <tr>
                                                    <td align="center" valign="top"
                                                        style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                        <!--[if mso]>
                                                        <table align="center" border="0"
                                                               cellspacing="0" cellpadding="0">
                                                            <tr>
                                                        <![endif]-->
                                                        <!--[if mso]>
                                                        <td align="center" valign="top">
                                                        <![endif]-->
                                                        <table align="left" border="0"
                                                               cellpadding="0" cellspacing="0"
                                                               style="display: inline;border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                            <tbody>
                                                            <tr>
                                                                <td valign="top"
                                                                    style="padding-right: 10px;padding-bottom: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"
                                                                    class="mcnFollowContentItemContainer">
                                                                    <table border="0"
                                                                           cellpadding="0"
                                                                           cellspacing="0"
                                                                           width="100%"
                                                                           class="mcnFollowContentItem"
                                                                           style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td align="left"
                                                                                valign="middle"
                                                                                style="padding-top: 5px;padding-right: 10px;padding-bottom: 5px;padding-left: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                                <table align="left"
                                                                                       border="0"
                                                                                       cellpadding="0"
                                                                                       cellspacing="0"
                                                                                       width=""
                                                                                       style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <td align="center"
                                                                                            valign="middle"
                                                                                            width="24"
                                                                                            class="mcnFollowIconContent"
                                                                                            style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                                            <a href="http://www.facebook.com"
                                                                                               target="_blank"
                                                                                               style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><img
                                                                                                        src="{{ absolute_url(asset('bundles/email/img/facebook_icon.png')) }}"
                                                                                                        style="display: block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
                                                                                                        height="24"
                                                                                                        width="24"
                                                                                                        class=""></a>
                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <!--[if mso]>
                                                        </td>
                                                        <![endif]-->
                                                        <!--[if mso]>
                                                        <td align="center" valign="top"=>
                                                        <![endif]-->
                                                        <table align="left" border="0"
                                                               cellpadding="0" cellspacing="0"
                                                               style="display: inline;border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                            <tbody>
                                                            <tr>
                                                                <td valign="top"
                                                                    style="padding-right: 10px;padding-bottom: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"
                                                                    class="mcnFollowContentItemContainer">
                                                                    <table border="0"
                                                                           cellpadding="0"
                                                                           cellspacing="0"
                                                                           width="100%"
                                                                           class="mcnFollowContentItem"
                                                                           style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td align="left"
                                                                                valign="middle"
                                                                                style="padding-top: 5px;padding-right: 10px;padding-bottom: 5px;padding-left: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                                <table align="left"
                                                                                       border="0"
                                                                                       cellpadding="0"
                                                                                       cellspacing="0"
                                                                                       width=""
                                                                                       style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <td align="center"
                                                                                            valign="middle"
                                                                                            width="24"
                                                                                            class="mcnFollowIconContent"
                                                                                            style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

                                                                                            <a href="http://www.twitter.com/"
                                                                                               target="_blank"
                                                                                               style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><img
                                                                                                        src="{{ absolute_url(asset('bundles/email/img/twitter-icon.png')) }}"
                                                                                                        style="display: block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
                                                                                                        height="24"
                                                                                                        width="24"
                                                                                                        class=""></a>
                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <!--[if mso]>
                                                        </td>
                                                        <![endif]-->
                                                        <!--[if mso]>
                                                        <td align="center" valign="top">
                                                        <![endif]-->
                                                        <table align="left" border="0"
                                                               cellpadding="0" cellspacing="0"
                                                               style="display: inline;border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                            <tbody>
                                                            <tr>
                                                                <td valign="top"
                                                                    style="padding-right: 10px;padding-bottom: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"
                                                                    class="mcnFollowContentItemContainer">
                                                                    <table border="0"
                                                                           cellpadding="0"
                                                                           cellspacing="0"
                                                                           width="100%"
                                                                           class="mcnFollowContentItem"
                                                                           style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td align="left"
                                                                                valign="middle"
                                                                                style="padding-top: 5px;padding-right: 10px;padding-bottom: 5px;padding-left: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                                <table align="left"
                                                                                       border="0"
                                                                                       cellpadding="0"
                                                                                       cellspacing="0"
                                                                                       width=""
                                                                                       style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <td align="center"
                                                                                            valign="middle"
                                                                                            width="24"
                                                                                            class="mcnFollowIconContent"
                                                                                            style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                                            <a href="http://mailchimp.com"
                                                                                               target="_blank"
                                                                                               style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><img
                                                                                                        src="{{ absolute_url(asset('bundles/email/img/share_icon.png')) }}"
                                                                                                        style="display: block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
                                                                                                        height="24"
                                                                                                        width="24"
                                                                                                        class=""></a>
                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <!--[if mso]>
                                                        </td>
                                                        <![endif]-->

                                                        <!--[if mso]>
                                                        <td align="center" valign="top">
                                                        <![endif]-->
                                                        <table align="left" border="0"
                                                               cellpadding="0" cellspacing="0"
                                                               style="display: inline;border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                            <tbody>
                                                            <tr>
                                                                <td valign="top"
                                                                    style="padding-right: 0;padding-bottom: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"
                                                                    class="mcnFollowContentItemContainer">
                                                                    <table border="0"
                                                                           cellpadding="0"
                                                                           cellspacing="0"
                                                                           width="100%"
                                                                           class="mcnFollowContentItem"
                                                                           style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td align="left"
                                                                                valign="middle"
                                                                                style="padding-top: 5px;padding-right: 10px;padding-bottom: 5px;padding-left: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                                <table align="left"
                                                                                       border="0"
                                                                                       cellpadding="0"
                                                                                       cellspacing="0"
                                                                                       width=""
                                                                                       style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <td align="center"
                                                                                            valign="middle"
                                                                                            width="24"
                                                                                            class="mcnFollowIconContent"
                                                                                            style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                                            <a href="mailto:your@email.com"
                                                                                               target="_blank"
                                                                                               style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><img
                                                                                                        src="{{ absolute_url(asset('bundles/email/img/forward_icon.png')) }}"
                                                                                                        style="display: block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
                                                                                                        height="24"
                                                                                                        width="24"
                                                                                                        class=""></a>
                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <!--[if mso]>
                                                        </td>
                                                        <![endif]-->

                                                        <!--[if mso]>
                                                        </tr>
                                                        </table>
                                                        <![endif]-->
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        {#<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock"#}
               {#style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;table-layout: fixed !important;">#}
            {#<tbody class="mcnDividerBlockOuter">#}
            {#<tr>#}
                {#<td class="mcnDividerBlockInner"#}
                    {#style="min-width: 100%;padding: 10px 18px 25px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">#}
                    {#<table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0"#}
                           {#width="100%"#}
                           {#style="min-width: 100%;border-top: 2px solid #EEEEEE;border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">#}
                        {#<tbody>#}
                        {#<tr>#}
                            {#<td style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">#}
                                {#<span></span>#}
                            {#</td>#}
                        {#</tr>#}
                        {#</tbody>#}
                    {#</table>#}
                    {#<!--#}
                    {#<td class="mcnDividerBlockInner" style="padding: 18px;">#}
                    {#<hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />#}
                    {#-->#}
                {#</td>#}
            {#</tr>#}
            {#</tbody>#}
        {#</table>#}
    </td>
</tr>