<tr>
    <td align="center" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
                            <tbody>
                                <tr>
                                    <td valign="top" width="600" class="flexibleContainerCell">
                                        <table align="Left" border="0" cellpadding="0" cellspacing="0" width="25%" class="flexibleContainer">
                                            <tbody>
                                            <tr>
                                                <td align="Left" valign="top" class="imageContent">
                                                    <img src="{{ asset('bundles/email/img/contactpersonen_digirent.png') }}" width="100%" class="flexibleImage" style="max-width:150px;">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table align="Left" border="0" cellpadding="0" cellspacing="0" width="70%" class="flexibleContainer" >
                                            <tbody>
                                                <tr>
                                                    <td align="Left" valign="top" class="textContent" style="text-align: center !important; padding: 0 15px 0 15px; font-size: 14px !important;" >
                                                        <h3 style="text-align: center !important;">Support</h3><br />
                                                        We helpen je maar al te graag!<br />
                                                        <br />
                                                        <a href="{{ path('app_account_support', {'subdomain': user.company.subdomainName } ) }}/#new">Dien een support ticket in!</a><br />
                                                        <br />
                                                        Bel: <a href="tel:01012345678">+31 (0)10 12345678</a><br />
                                                        <br />
                                                        E-mail: <a href="mailto:info@digi-rent.nl">info@digi-rent.nl</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        {#<table align="Left" border="0" cellpadding="0" cellspacing="0" width="150" class="flexibleContainer">#}
                                            {#<tbody>#}
                                                {#<tr>#}
                                                    {#<td align="Right" valign="top" class="textContent">#}
                                                        {#<h3>Sociaal</h3>#}
                                                        {#<br>#}
                                                        {#Volg het laatste nieuws!#}
                                                    {#</td>#}
                                                {#</tr>#}
                                            {#</tbody>#}
                                        {#</table>#}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
